@import "variables";
@import "sidebar";

/** General Styles **/

// Remove later
body {
    background: $slate-black;
}
// end

#page-content-wrapper {
    background: $creme-color;
}

.toggle-menu-btn {
    display: none;
    @media screen and (max-width: 760px) {
        display: inline-block;       
    }
}