/* This file contains site wide styles */
.navbar-inverse {
    border-radius: 0px;
    padding: 10px 0;
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
}

.navbar-small {
    padding: 0;
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
}