{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">BIOENERGY</h1>

  <h4><b>NATURAL CARBON, NOT FOSSIL FUELS</b></h4>
  <h6>
    Bioenergy describes the energy contained in biological material, such as wood, crops, manure and garbage. BC has large natural
    biomass resources that can be used to produce energy at the individual level (eg. high-efficiency wood stoves), farm
    level (eg. biogas), or in district energy plants.
  </h6>

  <div class="row">
    <section class="fg4"></section>
    <section class="fg3">
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/farmers.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">PLANT</figcaption>
        </div>
      </section>
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/wood_harvest.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">HARVEST</figcaption>
        </div>
      </section>
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/factory.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">PROCESS</figcaption>
        </div>
      </section>
    </section>

    <section class="fg2">
      <div class="image">
        <img class="image" src="../img/arrows.png" alt="cee-thumbnail" style="width:90%" />
      </div>
    </section>
    <section class="fg3"></section>
  </div>

  <div class="row">
    <h4><b>ISSUES AROUND GEOEXCHANGE</b></h4>

    <section class="fg2">
      <div class="image">
        
        <img class="image" src="../img/polution.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg3">
      <h5><b>Air Pollution</b></h5>
      <h6>Metro Vancouver has very strict air quality standards, that must be met when installing a bioenergy plant. UBC’s Bioenergy
        Research Demonstration Facility filters out virtually all particulate matter.</h6>
    </section>

    <section class="fg2">
      <div class="image">
        
        <img class="image" src="../img/wood_harvest_1.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <h5><b>Fuel Quality</b></h5>
      <h6>The fuel source must be free from contaminants & be of consistent low moisture content, etc.</h6>
    </section>

    <section class="fg2">
      <div class="image">
        
        <img class="image" src="../img/truck_1.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <h5><b>Increased Traffic</b></h5>
      <h6>A medium-sized district energy plant is supplied by two trucks per day. This requires careful siting to avoid quiet
        residential streets.</h6>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}