{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent 
%} 
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
	  <h1>
			<a href="energy101-2">5 Things Community Energy Can Do For Your Community</a>
	  </h1>
	  <section class="fg12">
		<h2><b><a href="energy101-2">Reason 1: Economic resilience and energy price</a></b></h2>
		<h3>
			As BC Hydro’s electricity rates increase, and cheap natural gas from fracking get eventually phased out for home heating,
			we will need to find more innovative solutions to energy affordability and energy capacity. What if we could save more
			money on household energy? What if this money stayed in the community?
		</h3>
	  </section>
	  <section class="fg4">
		<div class="image">
			<img class="image" src="../img/101_chart.jpg" alt="cee-thumbnail" style="width:70%" /><br>Projected increase in household energy costs by 2020
		</div>
	  </section>
	  <section class="fg8">
		<div class="row">
			<section class="fg8">
				<h4>Local example: Surrey citizens could collectively spend more than $1.3 billion on household energy by 2020.</h4>
			</section>
			<section class="fg1">
				<img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:30%">
			</section>
			<section class="fg3">
				<div class="image">
					<img class="image" src="../img/pig.png" alt="cee-thumbnail" style="width:50%" />
				</div>
	        </section>		
		</div>
		<div class="row">
			<section class="fg6">
				<h4>A community energy system based on renewables can be less vulnerable to global energy markets, because after the initial
					investment, operation costs remain generally low.</h4>
			</section>
			<section class="fg1">
				<img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:30%">
			</section>
			<section class="fg5">
				<div class="image">
					<img class="image" src="../img/money_1.png" alt="cee-thumbnail" style="width:50%" />
				</div>
			</section>
		</div>
		<div class="row">
			<section class="fg7">
				<h4>The neighbourhood scale has the highest opportunity and lowest cost to save energy with:</h4>
			</section>
			<section class="fg1">
				<img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:30%">
			</section>
			<section class="fg4">
				<section class="fg12">
					<div class="image">
						<img class="image" src="../img/money.png" alt="cee-thumbnail" style="width:10%" />
						<caption align="right">Stable energy prices</caption>
					</div>
				</section>
			
				<section class="fg12">
					<div class="image">
						<img class="image" src="../img/plug_2.png" alt="cee-thumbnail" style="width:10%" />
						<caption align="right">Control of local energy supply</caption>
					</div>
				</section>
				<section class="fg12">
					<div class="image">
						<img class="image" src="../img/money_2.png" alt="cee-thumbnail" style="width:10%" />
						<caption align="right">Local economic benefits</caption>
					</div>
				</section>
			</section>
		</div>
	   </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}