{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">RUN OF RIVER</h1>
    <h3><b>RUN-OF-RIVER TECHNOLOGY PROVIDES A LOWER-IMPACT HYDROPOWER SOLUTION</b></h3>

    <div class="row">
      <section class="fg6">
        <h4>Hydropower is considered a valuable and “clean” source of electricity, providing in many cases a secure low carbon
          local energy supply and other value added activities like fishing and recreation. They can be installed at a variety
          of scales, from the individual home to large systems.</h4>
      </section>

      <section class="fg6">
        <div class="image">
          <img class="image" src="../img/mountain.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom"><a href="http://www.energybc.ca/runofriver.html" target="_blank">http://www.energybc.ca/runofriver.html</a></figcaption>


        </div>
      </section>

    </div>

    <h3><b>REAL WORLD EXAMPLES</b></h3>
    <div class="row">
      <section class="fg3">
        <div class="image">
          <img class="image" src="../img/dam.jpg" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">innergex</figcaption>
        </div>
      </section>

      <section class="fg9">
        <h4>Six run-of-river facilities are located east of Metro Vancouver near Harrison lake. These facilities have a total
          installed capacity of 150 MW which, based on long-term average hydrology, produce 594 GWh of energy annually.</h4>
        <h4>The estimated greenhouse gas reductions are over 60% for building heat. The utility is generating revenue for
          the city and reducing energy costs for local homeowners.</h4>
        <h4>Source: <a target="_blank" href="http://www.innergex.com/en/">http://www.innergex.com/en/</a></h4>
      </section>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}