{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">Transportation</h1>
    <section class="fg12">
      <h3>
        Our transportation (cars, trucks, planes etc.) contributes to more than half of the average BC household’s carbon footprint.
        It also accounts for noxious air pollution, common air contamination, and water toxicity. (Source: David Suzuki Foundation,
        Four places to cut your carbon, 2014)
      </h3>
    </section>
    <section class="fg5">

      <h4><b>
          Walk or bike more. In 10 minutes = walking 1 km = biking 3.5 km. In the meantime, you can:
        </b></h4>
      <ul>
        <h5>
          <li>Keep fit: A125-lb person walking at brisk pace for 30 minutes burns about 150 calories.</li>
        </h5>
        <h5>
          <li>Save money (gym fees or car expenses)</li>
        </h5>
        <h5>
          <li>Save time. For short distances (
            < 10 km), cycling is usually the fastest way to travel in the city.</li>
        </h5>
      </ul>

      <h1> </h1>

      <h4><b>
          Take public transit
        </b></h4>
      <ul>
        <h5>
          <li>Read the news, chat with friends, or take a nap! Taking transit is much cheaper than owning a car: the average
            savings are $586 per month for a family using public transit instead of driving.</li>
        </h5>
      </ul>

      <h1> </h1>

      <h4><b>
          Car-share or carpool
        </b></h4>
      <ul>
        <h5>
          <li>It’s a great way to bypass traffic congestions (by driving on HOV lane), save expenses and meet new people!</li>
        </h5>
      </ul>

      <h1> </h1>

      <h4><b>
          Use Electric Vehicles (EVs).
        </b></h4>
      <ul>
        <h5>
          <li>Electric vehicle registrations are surging in B.C., fueled by provincial incentives, improved technology and
            desirable packaging.
          </li>
        </h5>
      </ul>

    </section>
    <section class="fg7">
      <div class="image">
        <img class="image" src="../img/street_1.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}