{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:150px">

  <h1>
    5 Things Community Energy can do for your Community
  </h1><section class="fg7">
<h2 style="color:black"><b>Reason 3.2: Climate change impacts</b></h2><br><br>

      <section class="fg12">
      <h4>Scientists have determined that a global warming beyond 2 degrees celsius is a serious threat to the lives of current
        and future generations, especially among the world’s poorest populations. In order to avoid the most serious impacts
        of global warming we must substantially reduce the greenhouse gases that we emit into the atmosphere. </h4>
    </section>

    <div class="row">
      <section class="fg6">
        <div class="image">
          <img class="image" src="../img/flood.jpg" alt="cee-thumbnail" style="width:90%" />
          <figcaption align="bottom">Increased vulnerability and risk of flooding</figcaption>
        </div>
      </section>

      <section class="fg6">
        <div class="image">
          <img class="image" src="../img/fire.jpg" alt="cee-thumbnail" style="width:90%" />
          <figcaption align="bottom">Increased forest fires in Kelowna, BC</figcaption>
        </div>
      </section>
    </div>

    <section class="fg12">
      <h5>Climate change impacts are already here, and getting worse.</h5>
    </section>

    <section class="fg12">
      <div class="image">
        <img class="image" src="../img/cooling_deg_1.png" alt="cee-thumbnail" style="width:70%" />
        <figcaption align="bottom">Cooling Degree Days - Past vs. Future Projected increase in air conditioning requirements, deadly heat waves and
          energy bills
        </figcaption>
      </div>
    </section>

    <section class="fg12">
      <h6>Especially with heat waves and energy bills, buildings are requiring more air conditioning for people to cool down.
        This is where the natural systems, such as trees, play an important role in cooling buildings and communities if
        there are more planted, managed, and maintained throughout communities. </h6>
    </section>

  </section>

  <section class="fg5">

    <section class="fg12">
      <h3>Greenhouse gas emissions from your fridge can be responsible for:</h3>
      <div class="image">
        
        <img class="image" src="../img/climate_change.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg12">
        <h3 style="text-align:center">Click here to go to interactive videogame and images showing local projected climate impacts</h3>
      </section>
  
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
      </section>
  
      <section class="fg6">
        <a href="http://www.futuredelta2.ca" target="_blank">
        <div class="image-container">
          <img src="../img/guess_where.jpg" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
              <div class="caption">Future Delta</div>
          </div>
        </div>
        </a>
      </section>
  
      <section class="fg6">
        <a href="https://nasa.tumblr.com/post/155672209564/images-of-change" target="_blank">
        <div class="image-container">
          <img src="../img/blower.jpg" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
              <div class="caption">Images of Change</div>
          </div>
        </div>
        </a>
      </section>

  </section>





</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
