{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent %}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1>
      <a href="energy101-2">5 Things Community Energy Can Do For Your Community</a>
    </h1>
    <section class="fg10">
      <h2><b><a href="energy101-2#page2">Reason 2: Energy security through local energy supply</a></b></h2>
      <div class="row">
        
        <section class="fg6">
          <div class="image">
            <img class="image" src="../img/gas_bc_1.jpg" alt="cee-thumbnail" style="width:80%" />
          </div>
        </section>

        <section class="fg6">
          <h4>Much of the energy currently used in Metro Vancouver homes comes from remote suppliers in BC and Alberta, at
            least 400-1000 kilometers away.
          </h4>
        </section>
        
        <section class="fg6">
          <h4>With increasing climate change disruptions in Metro Vancouver, such as windstorms, landslides, floods, and heat-waves,
            what would communities do if the energy supply became disconnected? We need to act on how to localize energy at
            an appropriate scale for different energy supplies, from site to region.</h4>
        </section>

      </div>
    </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}