{% extends '../layout.html' %} {% block title %}{% parent %} - Energy 101{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="../js/dependencies/pagepiling.js/dist/jquery.pagepiling.css">
<link rel="stylesheet" href="../styles/css/energy101-x.css">
<script type="text/javascript" src="../js/dependencies/pagepiling.js/jquery.pagepiling.min.js" defer></script>
<script type="text/javascript" src="../js/energy101-x.js"></script>
{% endblock head %} {% block content %} {% parent %}

<ul id="menu">
  <!-- <li class="active"><a href="/">Home</a></li> -->
  <li data-menuanchor="page1" class="active" style="border:dotted 1px"><a href="#page1">Renewable Energy</a></li>
  <li data-menuanchor="page2" style="border:dotted 1px"><a href="#page2">Solar</a></li>
  <li data-menuanchor="page3" style="border:dotted 1px"><a href="#page3">Solar Examples</a></li>
  <li data-menuanchor="page4" style="border:dotted 1px"><a href="#page4">Geoexchange</a></li>
  <li data-menuanchor="page5" style="border:dotted 1px"><a href="#page5">Geoexchange Examples</a></li>
  <li data-menuanchor="page6" style="border:dotted 1px"><a href="#page6">Bioenergy</a></li>
  <li data-menuanchor="page7" style="border:dotted 1px"><a href="#page7">Bioenergy Examples</a></li>
  <li data-menuanchor="page8" style="border:dotted 1px"><a href="#page8">Industrial</a></li>
  <li data-menuanchor="page9" style="border:dotted 1px"><a href="#page9">Sewage</a></li>
  <li data-menuanchor="page10" style="border:dotted 1px"><a href="#page10">Wind</a></li>
  <li data-menuanchor="page11" style="border:dotted 1px"><a href="#page11">Run of River</a></li>
</ul>

<div id="pagepiling">

  <div class="section" id="section1">
    {% include 'energy101-4.1.html' %}
  </div>

  <div class="section" id="section2">
    {% include 'energy101-4.2.html' %}
  </div>

  <div class="section" id="section3">
    {% include 'energy101-4.3.html' %}
  </div>

  <div class="section" id="section4">
    {% include 'energy101-4.4.html' %}
  </div>

  <div class="section" id="section5">
    {% include 'energy101-4.5.html' %}
  </div>

  <div class="section" id="section6">
    {% include 'energy101-4.6.html' %}
  </div>

  <div class="section" id="section7">
    {% include 'energy101-4.7.html' %}
  </div>

  <div class="section" id="section8">
      {% include 'energy101-4.8.html' %}
    </div>

    <div class="section" id="section9">
        {% include 'energy101-4.9.html' %}
      </div>

      <div class="section" id="section10">
          {% include 'energy101-4.10.html' %}
        </div>

        <div class="section" id="section11">
            {% include 'energy101-4.11.html' %}
          </div>

</div>

{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}