{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1>
    <a href="energy101-2">5 Things Community Energy Can Do For Your Community</a>
  </h1><section class="fg7">
<h2><b><a href="energy101-2#page2">Reason 2: Energy security through local energy supply</a></b></h2><br><br>

      <section class="fg12">
      <h4>Much of the energy currently used in Metro Vancouver homes comes from remote suppliers in BC and Alberta, at least
        400-1000 kilometers away. Metro Vancouver is also crossed by railways and pipelines which ship coal and oil from
        the oilsands for export. A small portion of the oil that is exported is imported back to Canada to meet our transportation
        needs.
      </h4>
    </section>
    <section class="fg12">
      <div class="image">
        <img class="image" src="../img/gas_bc_1.jpg" alt="cee-thumbnail" style="width:45%" />
      </div>
    </section>
    <section class="fg12">
      <h3>With increasing climate change disruptions in Metro Vancouver, such as windstorms, landslides, floods, and heat-waves,
        what would communities do if the energy supply became disconnected? We need to act on how to localize energy at an
        appropriate scale for different energy supplies, from site to region.</h3>
    </section>

  </section>

  <section class="fg5">
    <div class="image">
      <figcaption>Types of Scale</figcaption>
      <img class="image" src="../img/ce_scale.jpg" alt="cee-thumbnail" style="width:80%" />

    </div>
  </section>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
