{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">INDUSTRIAL</h1>
  <h3><b>CAPTURING HEAT FROM INDUSTRY’S ENERGY</b></h3>

  <div class="row">
    <section class="fg8">
      <h5>The pressure, heat, speed and chemical reactions required to transform resources and materials into products requires
        enormous sums of energy. The energy intensity of these industrial facilities dwarfs that of even the tallest skyscrapers.
        A by-product, and in most cases also an input, of these industries is heat. The white plumes that billow out of factory
        smokestacks are in fact water vapor, whose heat reacts with the cool air to form clouds. A common reaction might
        be to think, “Hey, look at all that smoke”, although the more appropriate reaction would be to think, “Hey, look
        at all that heat!”
      </h5>
    </section>

    <section class="fg4">
      <div class="image">
        <img class="image" src="../img/polution_1.jpeg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

  </div>

  <div class="row">
  <section class="fg12">
    <h5>Summing all the recoverable energy from major industrial facilities in Metro Vancouver suggests that approximately 1.3
      million GJ of energy could be reused a year. It is important to note however that this assumes industries are not already
      recovering heat. Furthermore, it does not provide an indication of where excess heat could be shared across property
      lines, as part of a district energy system for example.</h5>
  </section>
  </div>

  <div class="row">

    <section class="fg3">
      <div class="image">
        <img class="image" src="../img/city_3.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
    <section class="fg9">
      <h5>Concrete plants, like the one located in Granville Island, are a logical choice for heat recovery. They are located
        close to centres and produce large quantities of carbon emissions.</h5>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}