{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:150px">
    <h1 style="color:black">Geoexchange</h1>
  <h3><b>REAL WORLD EXAMPLES</b></h3>

  <div class="row">
    <section class="fg2"></section>
    <section class="fg3">
      <div class="image">
        <img class="image" src="../img/pipes.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">Interior of Energy Centre building</figcaption>
      </div>
    </section>

    <section class="fg6">
      <h4><b>The City of Richmond</b> has constructed its first city-owned district energy utility with a vertical geoexchange
        system. The first phase, developed in partnership with Oris Geo Energy Ltd., uses thermal energy from the ground
        to heat and cool new residential units currently being built in Richmond’s West Cambie neighbourhood. It could cut
        local production of greenhouse gas emissions by 200 to 600 tonnes annually.</h4>
      <h4>The first phase is expected to cost $3.5 million to construct and $80,000 to operate annually at full capacity. All
        of these costs will be recovered over time through user rates, and will place no burden on Richmond taxpayers who
        are not serviced by the utility.</h4>
    </section>
    <section class="fg1"></section>
  </div>

  <div class="row">
      <section class="fg2"></section>
    <section class="fg3">
      <div class="image">
        <img class="image" src="../img/pipes_1.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">Laying the pipes in the ground</figcaption>
      </div>
    </section>

    <section class="fg6">
      <h4><b>Learn more:</b></h4>
      <h4><a target="_blank" href="http://www.richmond-news.com/geothermal-energy-to-expand-in-richmond-1.1296887">http://www.richmond-news.com/geothermal-energy-to-expand-in-richmond-1.1296887</a></h4>
      <h4><a target="_blank" href="http://gibsons.ca/services/geo-exchange-utility/">http://gibsons.ca/services/geo-exchange-utility/</a></h4>
    </section>
    <section class="fg1"></section>
  </div>
  
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
