{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">WIND</h1>
  <h3><b>WHERE CAN WIND ENERGY TAKE OUR CITIES?</b></h3>

  <div class="row">
    <section class="fg8">
      <h4>Wind turbines provide some of the most iconic imagery when it to comes to renewable energy. While establishing wind
        energy may face challenges, future changes in technology can help overcome the barriers limiting their presence in
        our communities. </h4>
    </section>

    <section class="fg4">
      <div class="image">
        <img class="image" src="../img/wind_farm.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

  </div>

  <h3><b>REAL WORLD EXAMPLES</b></h3>
  <div class="row">
    <section class="fg4">
      <div class="image">
        <img class="image" src="../img/wind.jpeg" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">grouse mountain</figcaption>
      </div>
    </section>

    <section class="fg8">
      <h4>The grouse mountain wind turbine in Metro Vancouver is a visible showcase of renewable energy. It is anticipated to
        offset some of the energy used by grouse mountain resort, while providing a revenue-generating viewing area close
        to the turbine blades.</h4>
      <h4>The estimated greenhouse gas reductions are over 60% for building heat. The utility is generating revenue for the city
        and reducing energy costs for local homeowners.</h4>
      <h4>for more information: <a target="_blank" href="https://www.grousemountain.com/eye-of-the-wind">https://www.grousemountain.com/eye-of-the-wind</a></h4>
    </section>
  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
