{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">Citizen Behaviour - Buildings</h1>

  <section class="fg12">
    <h6>Individuals can change their energy behaviors by choosing actions like using more efficient light bulbs and Energy Star
      appliances in your home, putting on a sweater instead of turning up the heat, or retrofitting your house to improve
      its insulation. According to BC Hydro, if you turn down your heat by just two degrees, you can reduce your home heating
      costs by 5%.</h6>
  </section>

  <section class="fg6">
    <div class="image">
      <img class="image" src="../img/group_1.jpg" alt="cee-thumbnail" style="width:100%" />
      <h6>Managing energy efficiency can also happen at the community-wide level (collective action). Municipalities can adopt
        land use and transportation plans and policies that place higher density homes close to services—and support transit,
        pedestrians and cyclists—to encourage people to drive less. Higher densities also support more efficient and cost-effective
        community energy solutions, such as a district heating system. With people living closer together, they will share
        building walls, which greatly reduces the amount of energy needed to heat a home. Local governments can adopt policies
        and programs to assist homeowners in energy efficient upgrades, such as rebates or on-bill financing for the installation
        of energy efficient heating and hot water systems and building envelope improvements.</h6>
    </div>
  </section>

  <section class="fg3">
    <div class="image">
      <img class="image" src="../img/house_energy_1.png" alt="cee-thumbnail" style="width:100%" />
      <img class="image" src="../img/house_energy_2.png" alt="cee-thumbnail" style="width:100%" />
      <img class="image" src="../img/house_energy_3.png" alt="cee-thumbnail" style="width:100%" />
      <img class="image" src="../img/house_energy_4.png" alt="cee-thumbnail" style="width:100%" />Households directly account
      for 40% of B.C.'s total greenhouse gas (GHG) emissions
    </div>
  </section>

 
  <section class="fg3">

      <section class="fg12">
          <h3>Some suggested tools and resources:</h3>
        </section>
        <section class="fg12">
          <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:8%">
        </section>

    <section class="fg12">
      <a href="http://calp.forestry.ubc.ca/home/urban-forestry-toolkit/" target = "_blank">
      <div class="image-container">
        <img src="../img/coolkit.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Citizen Coolkit</div>
        </div>
      </div>
      </a>
    </section>

    <section class="fg12">
      <a href="http://www.nottenergy.com/in_the_home/interactive_energy_house/" target="_blank">
        <div class="image-container">
          <img src="../img/urban_forest.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Interactive Home from building retrofits</div>
        </div>
      </div>
      </a>
    </section>

  </section>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}