{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black"><a href="energy101-4#page3">Solar Energy</a></h1>

  <h4><b>REAL WORLD EXAMPLES</b></h4>

  <div class="row">
    <section class="fg3">

      <div class="image">
        <img class="image" src="../img/solar_8.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
    <section class="fg9">
      <h5><b><a href="https://www.tsoukenation.com/sun-keeps-shining-on-tsou-ke/">Sum-SHA-Thut, Sooke, British Columbia</a></b></h3>
        <h6>The T’Sou-ke Nation is a small First Nation community located on the southern tip of Vancouver Island. The community
          has completed a 75-kilowatt solar power installation, which is the largest in B.C. to date. The project is called
          Sum-SHA-Thut, the Sencoten term for “sunshine”. The T’Sou-ke solar power installation generates electricity from
          photovoltaic panels. They have also installed solar thermal panels on 37 (out of 86) homes to pre-heat hot water,
          further reducing energy consumption and their carbon emissions.</h6>
        <h5><b>Learn more:</b></h5>
        <h5><a href="http://turtleisland.org" target="_blank">turtleisland.org</a></h5>
    </section>
  </div>

  <div class="row">
    <section class="fg9">
      <h5><b>Vancouver Airport’s Solar Hot Water System</b></h5>
      <h6>In 2003, the Vancouver Airport installed 100 solar panels on the roof of the domestic terminal building. The system
        uses evacuated tube solar collectors to absorb solar energy and transfer the heat to water. The panels heat over
        3000 liters of water every hour, which has led to a 25% decrease of natural gas use in the terminal. The cost of
        the project was about $500,000 and the airport reports energy saving of more than $100,00 per year. Furthermore,
        by reducing natural gas use, the airport has also managed to lower its carbon emissions.</h6>
    </section>
    <section class="fg3">

      <div class="image">
        <img class="image" src="../img/solar_9.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

  </div>

  <section class="fg3">
    <div class="image">
      <img class="image" src="../img/solar_10.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>
  <section class="fg9">
    <section class="fg12">
      <h5><b>Drake Landing Solar Community</b></h5>
      <h6>Drake Landing is a 52-house neighbourhood in Okotoks, Alberta. It is heated by a district system designed to store
        solar energy underground during the summer months and distribute the energy to each home for space and water heating
        needs during winter months. Solar energy is captured all year by an 800-panel dispersed array mounted on people’s
        garage roofs. The system fulfils 90% of each home’s space heating requirements from solar energy, which means they
        rely much less on fossil fuels. The reduction in greenhouse gas (GHG) emissions has been calculated to be approximately
        5 tonnes per home per year.</h6>
    </section>

    <section class="fg2">
      <h5><b>Learn more:</b></h5>
      <h5><a href="https://www.dlsc.ca" target="_blank">dlsc.ca</a></h5>
    </section>

    <section class="fg5">
      <h5><b>Interesting Solar Resources:</b></h5>
      <h5>District of North Vancouver Solar Calculator</h5>
      <h5><a href="http://geoweb.dnv.org/applications/solarapp/" target="_blank">http://geoweb.dnv.org/applications/solarapp/</a></h5>
    </section>

    <section class="fg4">
      <h5><b>SolarBC</b></h5>
      <h5><a href="http://hespv.ca/residential-solar-energy-systems/canadian-energy-programs/british-columbia"
             target="_blank">http://hespv.ca/residential-solar-energy-systems/canadian-energy-programs/british-columbia</a></h5>
    </section>





  </section>

  <section class="fg6">
  </section>
  <section class="fg6">
  </section>

  <section class="fg6">
  </section>
  <section class="fg6">
  </section>





</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
