{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black"><a href="energy101-3#page4">Building Retrofits</a></h1>
  <section class="fg12">
    <h5>
      Much of the energy can be saved by bringing existing buildings up to new, more efficient standards. <a href="http://www.icoolkit.net/step-5/a6">Retrofits</a> can be cost-saving,
      practical, and enhance livability and the sense of comfort in the long term. It’s important that individuals consider
      energy retrofits in their homes, but scale is critical. The neighbourhood scale to retrofit, including you and your
      neighbours, have more impact on climate change. Considerations, like costs, practicality, livability, and community
      support are issues that will need to be addressed in achieving any retrofits.
    </h5>
  </section>
  <section class="fg6">

    <div class="row">
      <h4>Basic retrofits include:</h4>
      <section class="fg4">

        <div class="image">
          <img class="image" src="../img/house_11.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
      <section class="fg8">
        <h5>Attic</h5>
        <ul>
          <h6>
            <li>Add insulation</li>
          </h6>
          <h6>
            <li>Seal major air leakage issues in chimney bypasses, recessed lighting, HVAC dicts, etc.</li>
          </h6>
          <h6>
            <li>Fix water leakage</li>
          </h6>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="fg4">
        <div class="image">
          <img class="image" src="../img/house_12.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
      <section class="fg8">
        <h5>Basement and Utility Room</h5>
        <ul>
          <h6>
            <li>Replace with more efficient model and/or airsource heat-pump</li>
          </h6>
          <h6>
            <li>Improve insulation on water heater and piping</li>
          </h6>
          <h6>
            <li>Seal leaks from duct system and dryer venting</li>
          </h6>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="fg4">
        <div class="image">
          <img class="image" src="../img/house_13.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
      <section class="fg8">
        <h5>Other Rooms and Walls</h5>
        <ul>
          <h6>
            <li>Seal air leaks around outlets, fixtures, doors, windows and fireplace</li>
          </h6>
          <h6>
            <li>Increase wall insulation (internal or external)</li>
          </h6>
          <h6>
            <li>Replace lights with LED bulbs</li>
          </h6>
        </ul>
      </section>
    </div>

  </section>



  </section>

  <section class="fg6">

    <section class="fg12">
      <section class="fg12">
        Local example: Eagle Island Community Retrofit Project:
      </section>
      <div class="image">
        <img class="image" src="../img/house_10.png" alt="cee-thumbnail" style="width:60%">
        <section class="fg12">
          <h6>In the District of West Vancouver, a community champion led the neighbourhood through a retrofiting process encouraging
            every neighbour to undergo a home energy audit, and then follow through with making their homes more energy efficient.</h6>
        </section>
      </div>
    </section>


    <section class="fg12">
      <h5><a href="http://www.icoolkit.net/step-5/a6">Some suggested tool and resources:</a></h5>
    </section>

    <section class="fg4">
      <a href="http://www.energysavenewwest.ca/existing-homes/" target="_blank">
      <div class="image-container">
        <img src="../img/guess_where.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Homes Energy Measure</div>
        </div>
      </div>
      </a>
    </section>

    <section class="fg4">
      <a href="https://www.energy.gov/energysaver/blower-door-tests" target="_blank">
      <div class="image-container">
        <img src="../img/blower.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Blower Door Test</div>
        </div>
      </div>
      </a>
    </section>

    <section class="fg4">
      <a href="http://calp2016.sites.olt.ubc.ca/files/2016/05/Thermal-Imaging-Report.pdf" target="_blank">
      <div class="image-container">
        <img src="../img/thermal.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Thermal Imaging</div>
        </div>
      </div>
      </a>
    </section>
</div>

{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}