{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">Community Design</h1>
    <section class="fg12">
      <h6>
        Significant energy can be saved by bringing new buildings up to more efficient standards. Basic building designs, such as
        adding solar hot water can reduce total energy use by up to 30% and greenhouse gases by 33%. Major building designs,
        such as adding air source heat and other renewable energy sources can reduce total energy use by 75% and greenhouse
        gases by 80%. With the adoption of the BC Energy Step Code in 2017, the province is committed in constructing buildings
        that are low-carbon and energy efficient.
      </h6>
    </section>
    <section class="fg6">

      <section class="fg12">
        <div class="row">
          <section class="fg6">
            <div class="image">
              <img class="image" src="../img/home_1.jpg" alt="cee-thumbnail" style="width:45%" />
            </div>
          </section>
          <section class="fg6">
            <h6><b>
                Detached buildings:
              </b></h6>
            <ul>
              <h6>
                <li>Often one family in a large space</li>
              </h6>
              <h6>
                <li>Many exposed walls (large surface area)</li>
              </h6>
            </ul>

          </section>
        </div>
        <div class="row">
          <section class="fg6">
            <div class="image">
              <img class="image" src="../img/home_2.jpg" alt="cee-thumbnail" style="width:45%" />
            </div>
          </section>
          <section class="fg6">
            <h6><b>
                Attached buildings:
              </b></h6>
            <ul>
              <h6>
                <li>More shared walls</li>
              </h6>
              <h6>
                <li>Multiple families sharing heat</li>
              </h6>
              <h6>
                <li>Compact surface area</li>
              </h6>
            </ul>

          </section>
        </div>
        <div class="row">
          <section class="fg6">
            <div class="image">
              <img class="image" src="../img/home_3.jpg" alt="cee-thumbnail" style="width:45%" />
            </div>
          </section>
          <section class="fg6">
            <h6>
              The way a community is designed has major impact on the amount of energy it uses and its carbon footprint.Conserving heat
              in our communities depends on density, building size, orientation and amount of windows.
            </h6>
          </section>
        </div>

        <section class="fg12">
          <h5>Issues to Consider:</h5>
          <section class="fg3">
            <div class="image">
              <img class="image" src="../img/money.png" alt="cee-thumbnail" style="width:50%" />
              <figcaption>Cost</figcaption>
            </div>
          </section>
          <section class="fg3">
            <div class="image">
              <img class="image" src="../img/home.png" alt="cee-thumbnail" style="width:50%" />
              <figcaption>Livability</figcaption>
            </div>
          </section>
          <section class="fg3">
            <div class="image">
              <img class="image" src="../img/hammer.png" alt="cee-thumbnail" style="width:50%" />
              <figcaption>Practicality</figcaption>
            </div>
          </section>
          <section class="fg3">
            <div class="image">
              <img class="image" src="../img/people.png" alt="cee-thumbnail" style="width:50%" />
              <figcaption>Community Support</figcaption>
            </div>
          </section>
        </section>

      </section>
    </section>

    <section class="fg6">

      <section class="fg12">
        <section class="fg12">
          Local example: City of North Vancouver 100 year Vision
        </section>
        <div class="image">
          <img class="image" src="../img/city_2.jpg" alt="cee-thumbnail" style="width:50%">
          <section class="fg12">
            <h6>The plan looks at challenges and opportunities for promoting sustainable future development. This long range
              vision aims to guide the City’s community design toward carbon-netural status by 2107, the City’s 200th anniversary.
            </h6>
          </section>
        </div>
      </section>


      <section class="fg12">
        <h5>Some suggested tool and resources:</h5>
      </section>

      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
      </section>

      <section class="fg4">
        <a href="http://www.dcs.sala.ubc.ca/" target="_blank">
          <div class="image-container">
            <img src="../img/ubc_sustainability.png" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">Design Centre of Sustainability</div>
            </div>
          </div>
        </a>
      </section>

      <section class="fg4">
        <a href="http://www2.gov.bc.ca/gov/content/industry/construction-industry/building-codes-standards/energy-efficiency/energy-step-code"
          target="_blank">
          <div class="image-container">
            <img src="../img/step_code.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">British Columbia Energy Step Code</div>
            </div>
          </div>
        </a>
      </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}