{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1>How do we use renewable energy?</h1>
  <h2><b><a href="energy101-4">Renewable Energy</a></b></h2>
  <h2>LOCAL POWER WITHOUT CARBON EMISSION</h2>

  <section class="fg12">
    <h3>
      Communities can mitigate climate change by switching to clean, or renewable energy sources - energy supplies and systems
      that minimize, or eliminate completely, the production of greenhouse gases. This will be a critical move for municipalities
      to make to meet a target of 80% greenhouse gas reduction by 2050. This section provides an inventory of the potential
      capacity of select renewable energy resources across the Metro Vancouver region, and describes issues arising from
      the associated technologies. However, it does not reflect constraints of economic viability, social acceptability or
      current regulations. Existing data from various sources are analyzed and mapped using new techniques suitable to communicating
      energy resources at a regional scale.
    </h3>
  </section>
  <section class="fg1"></section>
  <section class="fg10">
    <div class="image">
        <figcaption align="top">Solar, Geothermal, and Biomass are only three renewable energy options to help power your community. The following
            pages give some information on a range of renewable energy supplies.</figcaption>
      <img class="image" src="../img/neighborhood_6.jpg" alt="cee-thumbnail" style="width:100%" />      
    </div>
  </section>
  <section class="fg1"></section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}