{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <section class="fg5">
    <h1>How do we change our energy use?</h1>
    <h2>
      NEIGHBORHOODS CAN SAVE, GENERATE AND SHARE ENERGY
    </h2>
    <h1> </h1>
    <h3> <b>What is community energy?</b>
    </h3>
    <h3>
      Local efforts manage how we use energy and where our energy comes from. Community energy refers to multiple energy
      sources and distribution networks that are shared between various members of a geographic neighborhood, with at least
      part of the energy generated in the local area. This means some degree of local involvement in the management and control
      of the system, with sharing of responsibilities and benefits (including revenue).
    </h3>
  </section>

  <section class="fg7">

    <section class="fg12"></section>
    <section class="fg12"></section>
    <section class="fg12"></section>
    <section class="fg12"></section>
    <section class="fg12"></section>

    <div class="image">
      <img class="image" src="../img/neighborhood_1.jpg" alt="cee-thumbnail" style="width:124%" />
    </div>
  </section>

  <h1> </h1>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}