{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
  %}
<div class="section-14" style="margin-bottom:150px">
    <div class="container-fluid custom-container-4">
  <h1>
    5 Things Community Energy can do for your Community
  </h1><section class="fg7"><h2 style="color:black"><b>Reason 4: Growing energy demand</b></h2><br><br>

  
    <section class="fg12">
      <h3>Municipalities across the region use different total amount of energy for electricity, heating and transportation.
          municipalities with higher density and lower vehicle use tend to use less energy per person.</h3>
    </section>
    <section class="fg12">
      <div class="image">
        <img class="image" src="../img/municipalities.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">Municipalities with higher density and lower vehicle use tend to use less energy per person (Credit: CALP)</figcaption>
      </div>
    </section>
  </section>

  <section class="fg5">
    <section class="fg12">
      <h3>As we look towards the future of energy demand, municipalities will need to find solutions to increase capacity of
        their energy supply from fossil-fuels to more renewable resources.</h3>
    </section>
    <section class="fg12">
        <div class="image">
            <img class="image" src="../img/demand_stats.png" alt="cee-thumbnail" style="width:70%" />
          </div>
    </section>

      <section class="fg12">
          <div class="image">
              <img class="image" src="../img/supply_demand.jpg" alt="cee-thumbnail" style="width:90%" />
            </div>
      </section>

  </section>
</div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
