{% extends '../layout.html' %} {% block title %}{% parent %} - Energy 101{% endblock %} {% block head %} {% parent %}
<!-- <link rel="stylesheet" href="../js/dependencies/pagepiling.js/dist/jquery.pagepiling.css"> -->
<link rel="stylesheet" href="../styles/css/energy101-x.css">
<!-- <script type="text/javascript" src="../js/dependencies/pagepiling.js/jquery.pagepiling.min.js" defer></script> -->
<script type="text/javascript" src="../js/energy101-x.js"></script>
{% endblock head %} {% block content %} {% parent %}
{% include "../components/navbar-energy101.html" %}
{% include "../components/navbar-energy101-5ReasonsToCare.html" %}


{% endblock content %} {% block scripts %} {% parent %} 
{% endblock scripts %}