{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1>
    5 Things Community Energy can do for your Community
  </h1><section class="fg5"><h2 style="color:black"><b>Reason 3.1: Climate change and greenhouse gas emissions</b></h2>

<br><br>  
    <section class="fg12">
      <h4>Fossil-fuel energy resources release greenhouse gases that cause global warming and endanger current and future generations.
        The main sources of greenhouse gas emissions are:</h4>
    </section>

    <div class="row">
      <section class="fg6">

        <h4 style="text-align:center">Vancouver</h4>
      </section>

      <section class="fg6">
        <h4 style="text-align:center">Metro Vancouver</h4>
      </section>

    </div>

    <div class="row">
      <section class="fg6">

        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/barrel.png" alt="cee-thumbnail" style="width:35%" />
            <figcaption align="bottom">Burning Fossil Fuels</figcaption>
          </div>
        </section>
        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/cow.png" alt="cee-thumbnail" style="width:35%" />
            <figcaption align="bottom">Agriculture</figcaption>
          </div>
        </section>
        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/truck.png" alt="cee-thumbnail" style="width:35%" />
            <figcaption align="bottom">Waste & Landfills</figcaption>
          </div>
        </section>

      </section>

      <section class="fg6">
        <div class="image">
          <img class="image" src="../img/building_waste.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">Buildings account for 40% of regional carbon emissions</figcaption>
        </div>
      </section>
    </div>



  </section>

  <section class="fg7">

    <section class="fg12">
      <div class="image">
        <img class="image" src="../img/citizen_behaviour.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg12">
      <br><br><br><h4>Greenhouse gas emissions from your fridge can be responsible for:</h4>
      <div class="image">
        <img class="image" src="../img/fridge.png" alt="cee-thumbnail" style="width:85%" />
      </div>
    </section>

  </section>




</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
