{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">BIOENERGY</h1>

    <h4><b>NATURAL CARBON, NOT FOSSIL FUELS</b></h4>
    <h6>
      Bioenergy describes the energy contained in biological material, such as wood, crops, manure and garbage. BC has large natural
      biomass resources that can be used to produce energy at the individual level (eg. high-efficiency wood stoves), farm
      level (eg. biogas), or in district energy plants.
    </h6>

    <div class="row">
      <section class="fg4"></section>
      <section class="fg3">
        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/farmers.png" alt="cee-thumbnail" style="width:100%" />
            <figcaption align="bottom">PLANT</figcaption>
          </div>
        </section>
        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/wood_harvest.png" alt="cee-thumbnail" style="width:100%" />
            <figcaption align="bottom">HARVEST</figcaption>
          </div>
        </section>
        <section class="fg12">
          <div class="image">
            <img class="image" src="../img/factory.png" alt="cee-thumbnail" style="width:100%" />
            <figcaption align="bottom">PROCESS</figcaption>
          </div>
        </section>
      </section>

      <section class="fg2">
        <div class="image">
          <img class="image" src="../img/arrows.png" alt="cee-thumbnail" style="width:90%" />
        </div>
      </section>
      <section class="fg3"></section>
    </div>

    <div class="row">
      <h4><b>ISSUES AROUND GEOEXCHANGE</b></h4>

      <section class="fg2">
        <div class="image">

          <img class="image" src="../img/polution.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>

      <section class="fg3">
        <h5><b>Air Pollution</b></h5>
        <h6>Metro Vancouver has very strict air quality standards, that must be met when installing a bioenergy plant. UBC’s
          Bioenergy Research Demonstration Facility filters out virtually all particulate matter.</h6>
      </section>

      <section class="fg2">
        <div class="image">

          <img class="image" src="../img/wood_harvest_1.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>

      <section class="fg2">
        <h5><b>Fuel Quality</b></h5>
        <h6>The fuel source must be free from contaminants & be of consistent low moisture content, etc.</h6>
      </section>

      <section class="fg2">
        <div class="image">

          <img class="image" src="../img/truck_1.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>

      <section class="fg2">
        <h5><b>Increased Traffic</b></h5>
        <h6>A medium-sized district energy plant is supplied by two trucks per day. This requires careful siting to avoid
          quiet residential streets.</h6>
      </section>

    </div>

    {# THIS CONTENT IS FROM 4.7 #} 
    
    {#<h1 style="color:black">BIOENERGY</h1>#}
    <h3><b>REAL WORLD EXAMPLES</b></h3>

    <div class="row">
      <section class="fg2"></section>
      <section class="fg3">

        <div class="image">
          <img class="image" src="../img/bioenergy.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">Northern Development BC</figcaption>
        </div>
      </section>

      <section class="fg6">
        <h4><b>Baldy Hughes Therapeutic Community, near Prince George, BC
          </b></h4>
        <h5>When the therapeutic community for addiction recovery began operations at their current site, it soon became
          apparent that meeting their heating requirements with propane would be costly - both in monthly fuel costs and
          carbon taxes. In response, the community pursued funding for installation of a community bioenergy heating system.
          This $1.3 million project, replaced the propane boilers with a biomass system that uses wood pellets as fuel. The
          wood pellets are made from low-cost carbon-neutral wood by-products available in the area.</h5>
        <h4>The system has exceeded their expectations, reducing heating costs by 75%. </h4>
      </section>
      <section class="fg1"></section>
    </div>

    <div class="row">
      <section class="fg2"></section>
      <section class="fg3">
        <div class="image">
          <img class="image" src="../img/building.jpg" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">ohn Newcom</figcaption>
        </div>
      </section>

      <section class="fg6">
        <h4><b>Dockside Green, Victoria, BC</b></h4>
        <h5>A wood-fired combined heat and power plant provides heat and hot water to the entire development. This, along
          with hydropower-based electricity, reduces the carbon footprint of the development.</h5>
        <h4><b>Learn more:</b></h4>
        <h4><a target="_blank" href="seatoskygreenguide.ca">seatoskygreenguide.ca</a></h4>
        <h4><a target="_blank" href="http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/">
            Project Profile</a></h4>
      </section>
      <section class="fg1"></section>
    </div>

    {# THIS CONTENT IS FROM 4.7 #} 

  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}