{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black"><a href="energy101-4#page4">Geoexchange</a></h1>

  <h4><b>HEAT IN WINTER, COOL IN SUMMER</b></h4>
  <h5>
    Geoexchange takes advantage of the relatively stable temperature just below ground to provide heating or cooling in buildings,
    using similar technology as your refrigerator.
  </h5>

  <div class="row">
    <h4>Horizontal System</h4>
    <section class="fg3"></section>

    <section class="fg3">
      <div class="image">
        <img class="image" src="../img/geoexchange_1.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">heat from ground</figcaption>
      </div>
    </section>

    <section class="fg3">
      <div class="image">
        <img class="image" src="../img/geoexchange_2.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">cooling from ground</figcaption>
      </div>
    </section>

    <<section class="fg3"></section>
  </div>

  <div class="row">
    <h4><b>ISSUES AROUND GEOEXCHANGE</b></h4>

    <section class="fg2">
      <div class="image">
        
        <img class="image" src="../img/geoexchange_4.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <h5><b>Size (Vertical System)</b></h5>
      <h6>Vertical systems are more expensive, but can become cost effective at higher building densities. Both systems reduce
        or eliminate costs & price fluctuations of natural gas or other non-renewable heat sources.</h6>
    </section>

    <section class="fg3">
      <div class="image">
        
        <img class="image" src="../img/geoexchange_3.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <h5><b>Scale</b></h5>
      <h6>Geoexchange works at a range of scales, from the household to the neighbourhood.</h6>
    </section>

    <section class="fg2">
      <div class="image">
        
        <img class="image" src="../img/geoexchange_3.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <h5><b>Retrofits</b></h5>
      <h6>Horizontal geoexchange fields can take up a lot of space, so may be difficult to install in areas that are already
        developed and have mature trees. Existing home heating systems must also be compatible with the geoexchange heat
        pumps.
      </h6>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}