{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1>
    5 Things Community Energy can do for your Community
  </h1><section class="fg6"><h2 style="color:black"><b>Reason 3.3: British Columbia’s greenhouse gas reduction targets</b></h2><br><br>

  <div class="row">
    
      <h3>Under the Greenhouse Gas reduction Targets Act, B.C.'s GHG emissions are to be reduced by at least 33 percent below
        2007 levels by 2020. A further emission reduction target of 80 percent below 2007 levels is set for 2050.</h3>
    </section>

    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/co2_stats.png" alt="cee-thumbnail" style="width:70%" />
        <figcaption align="bottom">Modified from British Columbia’s Climate Leadership Plan 2016</figcaption>
      </div>
    </section>
  </div>

  <div class="row">

    <section class="fg4">
      <div class="image">
          <img class="image" src="../img/solar_panels.jpg" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">Credit: City of Vancouver</figcaption>
      </div>
    </section>

    <section class="fg8">
      <h2>Why cities? Municipality targets?</h2>
      <h3>In response to the reality of climate change, British Columbia committed to taking action, and in 2007 showed world-wide
        leadership by legislated greenhouse gas emissions targets and other provincial and local government policies to help
        mitigate climate change.</h3>
      <h3>Municipalities in BC were quick to follow suit, and many have pledged to reduce their community-wide greenhouse gas
        emissions by up to 80% by 2050—our share of the worldwide reduction necessary to maintain an average global warming
        of 2 degrees.</h3>
      <h3>Some cities are introducing low carbon energy targets, such as Vancouver’s Renewable City Strategy that will ensure the city derives all of its energy from renewable sources prior to 2050.</h3>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
