{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">SEWAGE</h1>
  <h3><b>DIVERTING WASTE HEAT FROM GOING DOWN THE DRAIN</b></h3>

  <div class="row">
    <section class="fg7">
      <h4>Sewage heat recovery uses special pipes surrounded by external pipes that are warmed from proximity to the heat emitted
        by the sewage. This clean captured heat can then be used to warm buildings. Metro Vancouver could heat up to 700
        buildings this way.</h4>
    </section>

    <section class="fg5">
      <div class="image">
        <img class="image" src="../img/pipes_2.jpg" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">City of Vancouver</figcaption>
      </div>
    </section>

  </div>

  <h3><b>REAL WORLD EXAMPLES</b></h3>
  <div class="row">
    <section class="fg4">
      <div class="image">
        <img class="image" src="../img/city_4.jpg" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">City of Vancouver</figcaption>
      </div>
    </section>

    <section class="fg8">
      <h4>The new community of Southeast False Creek chose to create a local energy utility to generate their own power. The
        utility captures waste thermal heat from the community’s sewage to heat buildings and water.</h4>
        <h4>The estimated greenhouse gas reductions are over 60% for building heat. The utility is generating revenue for the city and reducing energy
        costs for local homeowners.</h4>
        <h4>For more information: <a target="_blank" href="http://vancouver.ca/home-property-development/southeast-false-creek-neighbourhood-energy-utility.aspx">http://vancouver.ca/home-property-development/southeast-false-creek-neighbourhood-energy-utility.aspx</a></h4>
    </section>
  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
