{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1>
      <a href="energy101-2">5 Things Community Energy Can Do For Your Community</a>
    </h1>
    <section class="fg5">
      <h2 style="color:black"><b><a href="energy101-2#page3">Reason 3.1: Reduce Green house gas emissions </a></b></h2>

      <br><br>
      <section class="fg12">
        <h4>Fossil-fuel energy resources release greenhouse gases that cause global warming that endanger current and future
          generations. The main sources of greenhouse gas emissions are:</h4>
      </section>

      <div class="row">
        <section class="fg6">

          <h4 style="text-align:center">Vancouver</h4>
        </section>

        <section class="fg6">
          <h4 style="text-align:center">Metro Vancouver</h4>
        </section>

      </div>

      <div class="row">
        <section class="fg6">

          <section class="fg12">
            <div class="image">
              <img class="image" src="../img/barrel.png" alt="cee-thumbnail" style="width:35%" />
              <figcaption align="bottom">Burning Fossil Fuels</figcaption>
            </div>
          </section>
          <section class="fg12">
            <div class="image">
              <img class="image" src="../img/cow.png" alt="cee-thumbnail" style="width:35%" />
              <figcaption align="bottom">Agriculture</figcaption>
            </div>
          </section>
          <section class="fg12">
            <div class="image">
              <img class="image" src="../img/truck.png" alt="cee-thumbnail" style="width:35%" />
              <figcaption align="bottom">Waste & Landfills</figcaption>
            </div>
          </section>

        </section>

        <section class="fg6">
          <div class="image">
            <img class="image" src="../img/building_waste.png" alt="cee-thumbnail" style="width:100%" />
            <figcaption align="bottom">Buildings account for 40% of regional carbon emissions</figcaption>
          </div>
        </section>
      </div>



    </section>

    <section class="fg7">

      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/citizen_behaviour.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>

      <section class="fg12">
        <br><br><br><h4>Greenhouse gas emissions from your fridge can be responsible for:</h4>
        <div class="image">
          <img class="image" src="../img/fridge.png" alt="cee-thumbnail" style="width:85%" />
        </div>
      </section>

    </section>

    <section class="fg7">
        <h2 style="color:black"><b><a href="energy101-2#page2">Reason 3.2: Climate change impacts</a></b></h2><br><br>
        
              <section class="fg12">
              <h4>Scientists have determined that a global warming beyond 2 degrees celsius is a serious threat to the lives of current
                and future generations, especially among the world’s poorest populations. In order to avoid the most serious impacts
                of global warming we must substantially reduce the greenhouse gases that we emit into the atmosphere. 
				<a href="https://www.ipcc.ch/sr15/">(IPCC 2018)</a>
				</h4>
            </section>
        
            <div class="row">
              <section class="fg6">
                <div class="image">
                  <img class="image" src="../img/flood.jpg" alt="cee-thumbnail" style="width:90%" />
                  <figcaption align="bottom">Increased vulnerability and risk of flooding</figcaption>
                </div>
              </section>
        
              <section class="fg6">
                <div class="image">
                  <img class="image" src="../img/fire.jpg" alt="cee-thumbnail" style="width:90%" />
                  <figcaption align="bottom">Increased forest fires in Kelowna, BC</figcaption>
                </div>
              </section>
            </div>
        
            <section class="fg12">
              <h5>Climate change impacts are already here, and getting worse.</h5>
            </section>
        
            <section class="fg12">
              <div class="image">
                <img class="image" src="../img/cooling_deg_1.png" alt="cee-thumbnail" style="width:70%" />
                <figcaption align="bottom">Cooling Degree Days - Past vs. Future Projected increase in air conditioning requirements, deadly heat waves and
                  energy bills
                </figcaption>
              </div>
            </section>
        
            <section class="fg12">
              <h6>Especially with heat waves and energy bills, buildings are requiring more air conditioning for people to cool down.
                This is where the natural systems, such as trees, play an important role in cooling buildings and communities if
                there are more planted, managed, and maintained throughout communities. </h6>
            </section>
        
          </section>
        
          <section class="fg5">
        
            <section class="fg12">
              <h3>Greenhouse gas emissions from your fridge can be responsible for:</h3>
              <div class="image">
                
                <img class="image" src="../img/climate_change.jpg" alt="cee-thumbnail" style="width:100%" />
              </div>
            </section>
        
            <section class="fg12">
                <h3 style="text-align:center">Click here to go to interactive videogame and images showing local projected climate impacts</h3>
              </section>
          
              <section class="fg12">
                <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
              </section>
          
              <section class="fg6">
                <a href="http://www.futuredelta2.ca" target="_blank">
                <div class="image-container">
                  <img src="../img/guess_where.jpg" alt="cee-thumbnail" class="image" style="width:100%">
                  <div class="middle">
                      <div class="caption">Future Delta</div>
                  </div>
                </div>
                </a>
              </section>
          
              <section class="fg6">
                <a href="https://nasa.tumblr.com/post/155672209564/images-of-change" target="_blank">
                <div class="image-container">
                  <img src="../img/blower.jpg" alt="cee-thumbnail" class="image" style="width:100%">
                  <div class="middle">
                      <div class="caption">Images of Change</div>
                  </div>
                </div>
                </a>
              </section>
        
          </section>


          <section class="fg12"><h2 style="color:black"><b><a href="energy101-2#page2">Reason 3.3: British Columbia’s greenhouse gas reduction targets</a></b></h2>

            <div class="row">
              
                <h3>Under the Climate Change Accountability Act (CCAA), B.C.'s GHG emissions are to be reduced by at least 40 per cent below 2007 levels by 2030, 60 per cent by 2040, and 80 per cent by 2050. In 2019, government introduced requirements to set sectoral emissions targets and an interim emissions target on the path to our 2030 goal.</h3>
              
              <section class="fg6">
                <div class="image">
                  <img class="image" src="../img/co2_stats.png" alt="cee-thumbnail" style="width:70%" />
                  <figcaption align="bottom">Modified from British Columbia’s Climate Leadership Plan 2016</figcaption>
                </div>
              </section>
            </div>

            <div class="row">

                <section class="fg4">
                  <div class="image">
                      <img class="image" src="../img/solar_panels.jpg" alt="cee-thumbnail" style="width:100%" />
                    <figcaption align="bottom">Credit: City of Vancouver</figcaption>
                  </div>
                </section>
            
                <section class="fg8">
                  <h2>Why cities? Municipality targets?</h2>
                  <h3>In response to the reality of climate change, British Columbia committed to taking action, and in 2007 showed world-wide
                    leadership by legislated greenhouse gas emissions targets and other provincial and local government policies to help
                    mitigate climate change.</h3>
                  <h3>Municipalities in BC were quick to follow suit, and many have pledged to reduce their community-wide greenhouse gas
                    emissions by up to 80% by 2050—our share of the worldwide reduction necessary to maintain an average global warming
                    of 2 degrees.</h3>
                  <h3>Some cities are introducing low carbon energy targets, such as Vancouver’s Renewable City Strategy that will ensure the city derives all of its energy from renewable sources prior to 2050.
				  Take a look at the <a href="https://cleanbc.gov.bc.ca/">CleanBC Program.</a>
				  </h3>
                </section>
            
            </div>
          </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}