{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">Solar Energy</h1>

  <div class="row">
    <section class="fg5">
      <h6><b>SUNLIGHT IN, CLEAN ENERGY OUT</b></h6>
      <h6>
        There are two main forms of solar energy harnessing technologies: Photovoltaics and Solar hot water. Photovoltaic solar panels
        take energy directly from the sun and process incoming light into electricity via its solar cells. Solar hot water
        systems use the energy from the sun to heat water on site. The water can be used for showers, dishwashing, laundry,
        or other needs.
      </h6>
    </section>

    <section class="fg5">
      <div class="image">
        <img class="image" src="../img/solar_1.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>

    <section class="fg2">
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/solar_2.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/solar_3.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
    </section>
  </div>

  <div class="row">
    <section class="fg4">
      <h6><b>ISSUES AROUND SOLAR ENERGY</b></h6>
      <h6>While energy derived from the sun is an enticing option, with massive amounts of solar energy available in Metro Vancouver.
        There are a number of concerns around the viability of solar systems. Prices are still high (though dropping), payback
        is long term, but the potential for energy independence is enticing.</h6>
    </section>


    <section class="fg3">
      <div class="image"><h6><b>Cloudy Weather</b></h6>
        <img class="image" src="../img/solar_4.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">The energy produced by a solar panel changes throughout the day and year depending on sun angles and cloud cover.
          A large uptake of solar technologies would require careful management of the variable energy system.</figcaption>
      </div>
    </section>

    <section class="fg3">
      <div class="image"><h6><b>Shade</b></h6>
        <img class="image" src="../img/solar_5.png" alt="cee-thumbnail" style="width:100%" />
        <figcaption align="bottom">Shade from trees and buildings will affect the energy produced from a solar panel. To ensure the maximum energy output
          of a solar installation, some jurisdictions in California have laws that prohibit shading of neighbouring solar
          panels.
        </figcaption>
      </div>
    </section>

    <section class="fg2">
      <section class="fg12">
        <div class="image"><h6><b>Seasonal Access</b></h6>
          <img class="image" src="../img/solar_6.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
      <section class="fg12">
        <div class="image">
          <img class="image" src="../img/solar_7.png" alt="cee-thumbnail" style="width:100%" />
          <figcaption align="bottom">When implementing PV or solar hot water panels, it is important to consider access to sunlight.</figcaption>
        </div>
      </section>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}