<nav class="navbar navbar-default navbar-static-top secondary-navbar-adjustment navbar-inverse energy101-active">
    <div class="container-fluid custom-container-4">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header secondary-navbar-height-adjustment">
        <button type="button" class="navbar-toggle collapsed toggle-margin-adjustment" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand center-navbar-brand" href="#">ENERGY 101</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	
	<!--

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right" id="myMenu">
        <li data-menuanchor="page1" class="active"><a href="#page1" class="secondary-navbar-link-height-adjustment">COMMUNITY ENERGY</a></li>
        <li data-menuanchor="page2"><a href="#page2" class="secondary-navbar-link-height-adjustment">ENERGY SECURITY</a></li>
        <li data-menuanchor="page3"><a href="#page3" class="secondary-navbar-link-height-adjustment">CLIMATE CHANGE</a></li>
        <li data-menuanchor="page4"><a href="#page4" class="secondary-navbar-link-height-adjustment">GROWING ENERGY DEMAND</a></li>
        <li data-menuanchor="page5"><a href="#page5" class="secondary-navbar-link-height-adjustment">ENERGY EFFICIENCY</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
	

	<!--Tonio's Attempt' 
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right" id="myMenu">
        <li {% if page.url == "/energy101/energy101-2#"%} class="active"{% endif %}>
			<a href="#page1" class="secondary-navbar-link-height-adjustment">COMMUNITY ENERGY</a>
		</li>

		<li>
			<a href="{{site.baseurl}}/energy101/energy101-2.2.html" class="secondary-navbar-link-height-adjustment">ENERGY SECURITY</a>
		</li>

		<li>
			<a href="{{site.baseurl}}/energy101/energy101-2#page3" class="secondary-navbar-link-height-adjustment">CLIMATE CHANGE</a>
		</li>
      </ul>
    </div>-->

  </div><!-- /.container-fluid -->

  </nav>