<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="./">Community Energy Explorer</a>
        </li>
        <li>
            <a href="./community-energy-explained">Community Energy Explained</a>
        </li>
        <li>
            <a href="./renewable-energy-supply">Renewable Energy Supply</a>
        </li>
        <li>
            <a href="./energy-demand-and-efficiency">Energy Demand and Efficiency</a>
        </li>
        <li>
            <a href="./case-studies-and-resources">Case Studies and Resources</a>
        </li>
        <li>
            <a href="./energy-maps">Energy Maps</a>
        </li>
        <li>
            <a href="./about">About</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->