{#<script src="/js/navbar.js">

</script>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/cee_logo.ico" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="index">
            <ul class="nav navbar-nav">
                <li id="energy101">
                    <div class="dropdown">
                        <a href="/energy101">
                            <button class="dropbtn">Energy 101</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/energy101/energy101-2">5 Reasons to Care</a>
                            <a href="/energy101/energy101-3">How Do We Use Energy?</a>
                            <a href="/energy101/energy101-4">How Do We Get Energy?</a>
                        </div>
                    </div>
                </li>
                <li id="topics">
                    <div class="dropdown">
                        <a href="/topics">
                            <button class="dropbtn">Hot Topics</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/topics/topic1">Large Scale Redevelopment</a>
                            <a href="/topics/topic2">Community-Wide Retrofit</a>
                            <a href="/topics/topic3">Renewable Energy Policy</a>
                        </div>
                    </div>
                </li>
                <li id="maps">
                    <div class="dropdown">
                        <a href="/maps">
                            <button class="dropbtn">Maps</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/maps/map-methods">Map Methodologies</a>
                            <a href="/maps/demand-maps">Where Is Energy Used?</a>
                            <a href="/maps/energy-maps">Where Can We Get Energy?</a>
                            <a href="/maps/geoexchange">Geoexchange</a>
                            <a href="/maps/sewage-heat">Sewage Heat Recovery</a>
                        </div>
                    </div>
                </li>
                <li id="scenarios">
                    <div class="dropdown">
                        <a href="/scenarios">
                            <button class="dropbtn">Scenarios</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="/scenarios/scenario1">Redeveloping a Mall</a>
                            <a href="/scenarios/scenario2">Re-imagining Suburbia</a>
                            <a href="/scenarios/scenario3">Retrofitting Suburbia</a>
                            <a href="/scenarios/scenario4">Climate and Community</a>
                            <a href="/scenarios/scenario5">Revelstoke Workshops</a>
                        </div>
                    </div>
                </li>
                <li id="resources">
                    <div class="dropdown">
                        <a href="/resources">
                            <button class="dropbtn">Tools and Resources</button>
                        </a>
                        <div class="dropdown-content">
                        </div>
                    </div>
                </li>
                <li id="about">
                    <div class="dropdown">
                        <a href="/about">
                            <button class="dropbtn">About Us</button>
                        </a>
                        <div class="dropdown-content">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>#}

<nav class="navbar navbar-default navbar-static-top navbar-adjustment navbar-inverse">
    <div class="container-fluid custom-container-4">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header navbar-height-adjustment">
        <button type="button" class="navbar-toggle collapsed toggle-margin-adjustment" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="img\redesign\CEE-Logo-2.png" class="cee-logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link-height-adjustment"
            data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">ENERGY 101 <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a class="dropdown-item link-for-mobile" href="/energy101">Overview</a></li>
              <li><a class="dropdown-item" href="/energy101/energy101-2">5 Reasons To Care</a></li>
              <li><a class="dropdown-item" href="/energy101/energy101-3">How Do We Use Energy?</a></li>
              <li><a class="dropdown-item" href="/energy101/energy101-4">How Do We Get Energy?</a></li>

            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link-height-adjustment"
            data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">HOT TOPICS <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a class="dropdown-item link-for-mobile" href="/topics">Overview</a></li>
              <li><a class="dropdown-item" href="/topics/topic1">Large Scale Redevelopment</a></li>
              <li><a class="dropdown-item" href="/topics/topic2">Community-Wide Retrofit</a></li>
              <li><a class="dropdown-item" href="/topics/topic3">Renewable Energy Policy</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link-height-adjustment"
            data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">MAPS <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a class="dropdown-item link-for-mobile" href="/maps">Overview</a></li>
              <li><a class="dropdown-item" href="/maps/map-methods">Map Methodologies</a></li>
              <li><a class="dropdown-item" href="/maps/demand-maps">Where Is Energy Used?</a></li>
              <li><a class="dropdown-item" href="/maps/energy-maps">Where Can We Get Energy?</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link-height-adjustment"
            data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">SCENARIOS <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a class="dropdown-item link-for-mobile" href="/scenarios">Overview</a></li>
              <li><a class="dropdown-item" href="/scenarios/scenario1">Redeveloping a Mall</a></li>
              <li><a class="dropdown-item" href="/scenarios/scenario2">Re-imagining Suburbia</a></li>
              <li><a class="dropdown-item" href="/scenarios/scenario3">Retrofitting Suburbia</a></li>
              <li><a class="dropdown-item" href="/scenarios/scenario4">Climate and Community</a></li>
              <li><a class="dropdown-item" href="/scenarios/scenario5">Revelstoke Workshops</a></li>
            </ul>
          </li>

          <li><a href="/resources" class="navbar-link-height-adjustment">TOOLS & RESOURCES</a></li>

          <li class="active"><a href="/about" class="navbar-link-height-adjustment">ABOUT US</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>