/* This file contains site wide styles */
/* line 2, ../sass/myStyles.scss */
.navbar-inverse {
  border-radius: 0px;
  padding: 10px 0;
  -webkit-transition: padding 0.5s;
  /* Safari */
  transition: padding 0.5s;
}

/* line 9, ../sass/myStyles.scss */
.navbar-small {
  padding: 0;
  -webkit-transition: padding 0.5s;
  /* Safari */
  transition: padding 0.5s;
}
