{% extends 'layout.html' %} {% block title %}{% parent %} - About{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="/styles/css/homePage.css"> <link rel="stylesheet" href="/styles/css/about.css"> {% endblock head %} {% block content %} {% parent %}
{#<div class="container-fluid">

    <h1>Collaborative for Advanced Landscape Planning (CALP)</h1>



    <div class="row">

        <section class="fg8">
            <h2 style="line-height:1.5">
                <b>About Community Energy Explorer</b>
            </h2>

            <h3>The Collaborative for Advanced Landscape Planning (CALP) is an interdisciplinary research team at UBC that focuses
                on community-based research to develop solutions for sustainability and climate change. CALP brings rigorous
                science and modeling, environmental design, visualization media, and participatory visioning processes to
                planning low-carbon resilient attractive communities. CALP’s work applies innovative visual tools and videogames
                to engage community stakeholders, co-create knowledge, evaluate people’s responses, advance collective behaviour
                change, and develop new policies. Recent studies explore alternative futures addressing sea-level rise, urban
                forestry, renewable energy, and retrofitting neighbourhoods. <strong>Download our <a target="_blank" href="http://calp2016.sites.olt.ubc.ca/files/2017/10/Sept_2017_CALP-Brochure.pdf">brochure</a> or visit our <a href="http://www.calp.forestry.ubc.ca/" target="_blank">website</a> for more  information.</strong></h3>

        </section>

        <section class="fg4">
            <div class="image">
                <img class="image" src="../img/cee_about.jpg" alt="cee-thumbnail" style="width:100%" />
            </div>
        </section>

    </div>


    <div class="row">

        <section class="fg7">
            <h2 style="line-height:1.5">
                <b>Our Team</b>
            </h2>

            <div style="float: left; width: 40%;">
                <ul>
                    <h3>
                        <li>
                            <a  target="_blank" href="http://calp.forestry.ubc.ca/people/stephen-r-j-sheppard/">Stephen R. J. Sheppard, Ph.D.</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a  target="_blank" href="http://calp.forestry.ubc.ca/people/sara-barron/">Sara Fryer Barron</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a target="_blank"  href="http://calp.forestry.ubc.ca/people/jonathan-salter/">Jonathan Salter, Ph.D.</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a  target="_blank" href="http://calp.forestry.ubc.ca/people/deepti-mathew/">Deepti Mathew Iype</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a  target="_blank" href="https://scarp.ubc.ca/people/kai-okazaki">Kai Okazaki</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a  target="_blank" href="https://scarp.ubc.ca/people/peyvand-forouzandeh">Peyvand Forouzandeh</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a  target="_blank" href="https://www.linkedin.com/in/masslawi/">Dawood Al-Masslawi</a>
                            <a target="_blank"  href="http://ece.ubc.ca/~dawooda/"> (ECE)</a>
                        </li>
                    </h3>
                    <h3>
                        <li>
                            <a target="_blank"  href="http://calp.forestry.ubc.ca/people/rory-tooke/">Rory Tooke</a>
                        </li>
                    </h3>
                    <h3>
                        <li>David Peacock</li>
                    </h3>
                    <h3>
                        <li>Shirlene Cote</li>
                    </h3>

                </ul>
            </div>
            <div style="float: right; width: 60%;">

                <ul>
                    <h3>
                        <li>
                            <a  target="_blank" href="http://calp.forestry.ubc.ca/people/alicia-lavalle/">Alicia LaValle</a>
                        </li>
                    </h3>
                    <h3>
                        <li>Nicole Miller</li>
                    </h3>
                    <h3>
                        <li>Utkarsh Saxena</li>
                    </h3>
                    <h3>
                        <li>Joey Lee</li>
                    </h3>
                    <h3>
                        <li>Lukas Holy</li>
                    </h3>
                    <h3>
                        <li>Nikki Ng</li>
                    </h3>
                    <h3>
                        <li>Courtney Miller</li>
                    </h3>
                </ul>

                <h3 style="line-height:1.5">
                    <b>Acknowledgment:</b>
                </h3>
                <ul>
                    <h3>
                        <li>Leanne Sexsmith, Real Estate Foundation of BC</li>
                    </h3>
                    <h3>
                        <li>Jason Emmert, Metro Vancouver</li>
                    </h3>
                    <h3>
                        <li>Sara Muir-Owen, Pacific Institute for Climate Solutions</li>
                    </h3>
                </ul>

            </div>
        </section>

        <section class="fg3">

            <h2 style="line-height:1.5">
                <b>Supported by</b>
            </h2>
            <div class="image">
                <img class="image" src="../img/funders.png" alt="cee-thumbnail" style="width:100%" />
            </div>



        </section>

    </div>


    <div class="row" style="background:grey">

        <section class="fg6" style="background:grey">
            <h3 style="background:grey !important">Contact us:</h3>

            <h4 style="background:grey !important">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING</h4>
            <h4 style="background:grey !important">Department of Forest Resources Management, Faculty of Forestry</h4>
            <h4 style="background:grey !important">UBC’s Centre for Interactive Research and Sustainability</h4>
            <h4 style="background:grey !important">3321 – 2260 West Mall</h4>
            <h4 style="background:grey !important">Vancouver, BC V6T 1Z4</h4>
            <h4 style="background:grey !important">Lab telephone #: 604-822-4148</h4>
        </section>

        <section class="fg4" style="background:grey"></section>

        <section class="fg2" style="background:grey">
            <div class="image">
                <img class="image" src="../img/calp_logo.png" alt="cee-thumbnail" style="width:100%" />
                <figcaption align="bottom">Collaborative for Advanced Landscape Planning</figcaption>
            </div>
        </section>

    </div>


</div>#}

{% include "./components/navbar-aboutUs.html" %}
{% include "./components/navbar-aboutUs-overview.html" %}

<div class="aboutushero">
    <div class="div-block-59"></div>
    <div class="container-fluid custom-container-10">
      <div class="div-block-61">
        <h1 class="heading-27">Collaborative for Advanced Landscape Planning (CALP)</h1><img src="img/Path-13692x.png" alt="" class="image-36">
        <p class="paragraph-14">CALP is an interdisciplinary research team at UBC that focuses on community-based research to develop solutions for sustainability and climate change. CALP brings rigorous science and modeling, environmental design, visualization media, and participatory visioning processes to planning low-carbon resilient attractive communities. CALP’s work applies innovative visual tools and video games to engage community stakeholders, co-create knowledge, evaluate people’s responses, advance collective behaviour change, and develop new policies. Recent studies explore alternative futures addressing sea-level rise, urban forestry, renewable energy, and retrofitting neighbourhoods. Download our brochure or visit our website for more information.</p>
        <a href="http://calp.forestry.ubc.ca" class="btn btn-default learnmore-button playVideoButtonAdjustment" role="button" target="_blank">LEARN MORE</a>
    </div>
    </div>
  </div>

  <div class="ourteam" id="ourTeam">
    <div class="container-fluid custom-container-6">
      <h1 class="heading-24">Our Team</h1>
      <div class="div-block-57">
        <h2 class="heading-25">Core Research Team</h2>
        <ul class="unordered-list">
          <li>Stephen R. J. Sheppard, Ph.D.</li>
          <li>Sara Fryer Barron</li>
          <li>Jonathan Salter, Ph.D.</li>
          <li>Deepti Mathew Iype</li>
          <li>Kai Okazaki</li>
          <li>Peyvand Forouzandeh</li>
        </ul>
      </div>
      <div class="div-block-56">
        <h2 class="heading-26">Students</h2>
        <ul class="unordered-list">
          <li>Dawood Al-Masslawi (ECE)</li>
          <li>Rory Tooke</li>
          <li>David Peacock</li>
          <li>Shirlene Cote</li>
          <li>Alicia LaValle</li>
          <li>Nicole Miller</li>
          <li>Utkarsh Saxena</li>
          <li>Joey Lee</li>
          <li>Lukas Holy</li>
          <li>Nikki Ng</li>
          <li>Courtney Miller</li>
          <li>Malinda Kankanamge</li>
        </ul>
      </div>
    </div>
    <img src="img/Symbol-11-–-12x.png" alt="" class="image-35" id="myBtn2">
    </div>

    <div class="specialthanks">
      <div class="custom-container-5">
        <h1 class="heading-21">Acknowledgment</h1>
        <div class="div-block-53 w-clearfix">
          <div class="div-block-48 leftmarginadjustment">
            <div class="div-block-50"></div>
            <div class="div-block-49">
              <h2 class="heading-22">Leanne Sexsmith</h2>
              <h3 class="heading-23">Real Estate Foundation of BC</h3>
            </div>
          </div>
          <div class="div-block-48 leftmarginadjustment">
            <div class="div-block-51"></div>
            <div class="div-block-49">
              <h2 class="heading-22">Sara Muir-Owen</h2>
              <h3 class="heading-23">Pacific Institute for Climate Solutions</h3>
            </div>
          </div>
          <div class="div-block-48">
            <div class="div-block-52"></div>
            <div class="div-block-49">
              <h2 class="heading-22">Jason Emmert</h2>
              <h3 class="heading-23">Metro Vancouver</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="supported">
        <div class="custom-container">
          <h1 class="heading-11">Supported By</h1>
          <div class="div-block-28">
            <a href="https://www.refbc.com"><img src="/img/realestatefoundation.svg" alt="" class="image-15"></a>
            <a href="http://www.metrovancouver.org"><img src="/img/metrovan.svg" alt="" class="image-16"></a>
            <a href="https://pics.uvic.ca"><img src="/img/PICS-logo.png" alt="" class="image-20"></a>
            <a href="https://www.neptis.org"><img src="/img/neptis.svg" alt="" class="image-17"></a>
          </div>
        </div>
      </div>
    
      <div class="footer">
        <div class="container-fluid custom-container-4">
          <div class="row">
            <div class="col-md-4">
              <div class="home-block-27">
                <h4 class="heading-15">CONTACT US</h4><img src="/img/Rectangle-22.png" alt="" class="image-23">
                <div class="div-block-15 w-clearfix"><img src="/img/Location.svg" alt="" class="image-22">
                  <div class="text-block-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>Faculty of Forestry<br>3321 – 2260 West Mall<br>Vancouver, BC, Canada, V6T 1Z4</div>
                </div>
                <div class="w-clearfix"><img src="/img/phone.svg" alt="" class="image-24">
                  <div class="text-block-3">604-822-4148</div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="home-block-26">
                <h4 class="heading-15">FOLLOW US</h4><img src="/img/Rectangle-22.png" alt="" class="rectangle">
                <div class="div-block-18">
                  <a href="https://www.facebook.com/UBCCALP/" target="_blank"><img src="/img/Group-25.png" alt="" class="image-25"></a>
                  <a href="https://twitter.com/UBCCALP" target="_blank"><img src="/img/Group-26.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="js\tabColoring.js"></script>
    <script type="text/javascript">
        var isOpen = false;
        var theParent = document.getElementById("ourTeam")
        theParent.addEventListener("click", toggleAccordion);

        function toggleAccordion(e) {
          var clickedItem = e.target.id;

          if(isOpen){
            document.getElementById("myBtn2").style.display = "none";
            document.getElementById("listOfTeamMembers").style.display = "none";
            document.getElementById("myBtn1").style.display = "block";
            isOpen = false;
          } else {
            document.getElementById("myBtn1").style.display = "none";
            document.getElementById("listOfTeamMembers").style.display = "block";
            document.getElementById("myBtn2").style.display = "block";
            isOpen = true;
          }

          e.stopPropagation();
        }
    </script>

{% endblock content %} {% block scripts %} {% parent %}
{#<script type="text/javascript" src="js/about.js" defer></script>#} 
{% endblock scripts %}
