{% extends 'layout.html' %}

{% block title %}{% parent %} - Case Studies and Resources{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/cee/stylesheets/caseStudyStyles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Case Studies and Resources</h1>
        </div>
    </div>
    <div class="row left-margin-5percent">
      <div class="col-lg-6">
          <a href="/case-studies-and-resources/case-study-one">
            <div class="casestudy-container">
              <figure class="casestudy-image-container">
                <img class="casestudy-image" src="http://calp2016.sites.olt.ubc.ca/files/2012/01/cee_thumbnail.png" alt="cee-thumbnail" />
                <div class="casestudy-text">
                  <p>Case study short description.</p>
                </div>
                <figcaption class="casestudy-image-caption caption-background-green">Case Study Heading goes here.</figcaption>
              </figure>
            </div>
          </a>
      </div>
      <div class="col-lg-6">
          <a href="/case-studies-and-resources/case-study-one">
            <div class="casestudy-container">
              <figure class="casestudy-image-container">
                <img class="casestudy-image" src="http://calp2016.sites.olt.ubc.ca/files/2012/01/cee_thumbnail.png" alt="cee-thumbnail" />
                <div class="casestudy-text">
                  <p>Case study short description.</p>
                </div>
                <figcaption class="casestudy-image-caption caption-background-red">Case Study Heading goes here.</figcaption>
              </figure>
            </div>
          </a>
      </div>
      <div class="col-lg-6">
          <a href="/case-studies-and-resources/case-study-one">
            <div class="casestudy-container">
              <figure class="casestudy-image-container">
                <img class="casestudy-image" src="http://calp2016.sites.olt.ubc.ca/files/2012/01/cee_thumbnail.png" alt="cee-thumbnail" />
                <div class="casestudy-text">
                  <p>Case study short description.</p>
                </div>
                <figcaption class="casestudy-image-caption caption-background-blue">Case Study Heading goes here.</figcaption>
              </figure>
            </div>
          </a>
      </div>
      <div class="col-lg-6">
        <div class="case-study-container">
          <a href="/case-studies-and-resources/case-study-one">
            <div class="casestudy-container">
              <figure class="casestudy-image-container">
                <img class="casestudy-image" src="http://calp2016.sites.olt.ubc.ca/files/2012/01/cee_thumbnail.png" alt="cee-thumbnail" />
                <div class="casestudy-text">
                  <p>Case study short description.</p>
                </div>
                <figcaption class="casestudy-image-caption caption-background-orange">Case Study Heading goes here.</figcaption>
              </figure>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
