{% extends 'layout.html' %} {% block title %}{% parent %} - Maps{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="styles/css/energy101.css">
<script type="text/javascript" src="js/energy101.js" defer></script>
{% endblock head %} {% block content %} {% parent %}

<div class="page-container">

  <div class="row">
    <h1>Imagine a neighbourhood that can save, generate and share energy</h1>
    <h2><b>Community Energy includes local efforts to manage how we use energy and where our energy comes from. It refers to multiple energy sources and distribution networks that are shared between various members of a geographic neighborhood, with at least part of the energy generated in the local area. This means some degree of local involvement in the management and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.</b></h2>
    <h1> </h1>
  </div>

  <div class="row">
    <section class="fg6">
      <div class="image-container">
        <img src="../img/neighborhood_4.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="energy101/energy101-2">
            <div class="caption">Somewhere to start</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-2">5 Things Community Energy Can Do For Your Community</a>
      </h1>
      <h2><a href="energy101/energy101-2#page1">1. More resilient local communities and lower costs</a></h2>
      <h2><a href="energy101/energy101-2#page2">2. Fewer brownouts through local supply</a></h2>
      <h2><a href="energy101/energy101-2#page3">3. Reduce greenhouse gas emissions</a></h2>
      <h2><a href="energy101/energy101-2#page6">4. Provide for growing energy demand</a></h2>
      <h2><a href="energy101/energy101-2#page7">5. Increase energy efficiency</a></h2>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-3">How Do We Use Energy?</a>
      </h1>
      <h2>
        Individuals have a significant influence on energy conservation. People’s awareness, understanding, and actions on energy
        conservation can dramatically change their energy consumption. For example, behaviour change can include switching to more
        efficient light bulbs and Energy Star appliances in your home, putting on a sweater instead of turning up the heat,
        or retrofitting your house to improve its insulation.
      </h2>
    </section>
    <section class="fg6">
      <div class="image-container">
        <img src="../img/neighborhood_5.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="energy101/energy101-3">
            <div class="caption">Go on to discover more</div>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <div class="image-container">
        <img src="../img/neighborhood_6.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="energy101/energy101-4">
            <div class="caption">Don't stop here</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-4">How Do We Get Energy?</a>
      </h1>
      <h2>
        This refers to where our energy comes from and how we manage and distribute it. Community energy refers to multiple energy
        sources and distribution networks that are shared between various members of a geographic neighborhood, with at
        least part of the energy generated in the local area. This means some degree of local involvement in the management
        and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.
      </h2>
    </section>
  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
