{% extends 'layout.html' %} {% block title %}{% parent %} - Maps{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="styles/css/energy101.css">
<script type="text/javascript" src="js/energy101.js" defer></script>
{% endblock head %} {% block content %} {% parent %}

{#
<div class="page-container">

  <div class="row">
    <h1>Imagine a neighbourhood that can save, generate and share energy</h1>
    <h2><b>Community Energy includes local efforts to manage how we use energy and where our energy comes from. It refers to multiple energy sources and distribution networks that are shared between various members of a geographic neighborhood, with at least part of the energy generated in the local area. This means some degree of local involvement in the management and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.</b></h2>
    <h1> </h1>
  </div>

  <div class="row">
    <section class="fg6">
      <a href="energy101/energy101-2">
        <div class="image-container">
        <img src="../img/neighborhood_4.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Somewhere to start</div>
        </div>
      </div>
      </a>
    </section>
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-2">5 Things Community Energy Can Do For Your Community</a>
      </h1>
      <h2><a href="energy101/energy101-2#page1">1. More resilient local communities and lower costs</a></h2>
      <h2><a href="energy101/energy101-2#page2">2. Fewer brownouts through local supply</a></h2>
      <h2><a href="energy101/energy101-2#page3">3. Reduce greenhouse gas emissions</a></h2>
      <h2><a href="energy101/energy101-2#page6">4. Provide for growing energy demand</a></h2>
      <h2><a href="energy101/energy101-2#page7">5. Increase energy efficiency</a></h2>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-3">How Do We Use Energy?</a>
      </h1>
      <h2>
        Individuals have a significant influence on energy conservation. People’s awareness, understanding, and actions on energy
        conservation can dramatically change their energy consumption. For example, behaviour change can include switching to more
        efficient light bulbs and Energy Star appliances in your home, putting on a sweater instead of turning up the heat,
        or retrofitting your house to improve its insulation.
      </h2>
    </section>
    <section class="fg6">
      <a href="energy101/energy101-3">
        <div class="image-container">
        <img src="../img/neighborhood_5.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Go on to discover more</div>
        </div>
      </div>
      </a>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <a href="energy101/energy101-4">
        <div class="image-container">
        <img src="../img/neighborhood_6.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Don't stop here</div>
        </div>
      </div>
      </a>
    </section>
    <section class="fg6">
      <h1>
        <a href="energy101/energy101-4">How Do We Get Energy?</a>
      </h1>
      <h2>
        This refers to where our energy comes from and how we manage and distribute it. Community energy refers to multiple energy
        sources and distribution networks that are shared between various members of a geographic neighborhood, with at
        least part of the energy generated in the local area. This means some degree of local involvement in the management
        and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.
      </h2>
    </section>
  </div>

</div>
#}

{% include "./components/navbar-energy101.html" %}
{% include "./components/navbar-energy101-overview.html" %}

<div class="section-11">
  <div class="container-fluid custom-container-4">
    <div class="hero-section">
      <h1 class="heading-18">Imagine a neighborhood that can <br>save, generate and share energy</h1><img src="img/redesign/Rectangle-48.png" class="image-26">
      <p class="paragraph-10">Community Energy includes local efforts to manage how we use energy and where our energy comes from. It refers to multiple energy sources and distribution networks that are shared between various members of a geographic neighborhood, with at least part of the energy generated in the local area. This means some degree of local involvement in the management and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.</p>
      <a href="#firstSection" class="btn learnmore-button startexploring-button-adjustment">START EXPLORING</a>
    </div>
  </div>
</div>

<div class="section-12" id="firstSection">
  <div class="container-fluid custom-container-4 section-divider">
    <div>
      <h1 class="heading-19" id="remove-heading-top-margin">5 Things Community Energy Can <br>Do For Your Community</h1>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-5">
          <a href="energy101/energy101-2#page1" class="link-4 w-button">MORE RESILIENT LOCAL COMMUNITIES AND <br>LOWER COSTS</a>
          <a href="energy101/energy101-2#page2" class="link-4 w-button">FEWER BROWNOUTS THROUGH LOCAL SUPPLY</a>
          <a href="energy101/energy101-2#page3" class="link-4 w-button">REDUCE GREENHOUSE GAS EMISSIONS</a>
          <a href="energy101/energy101-2#page4" class="link-4 w-button">PROVIDE FOR GROWING ENERGY DEMAND</a>
          <a href="energy101/energy101-2#page5" class="link-4 w-button">INCREASE ENERGY EFFICIENCY</a></div>
        <!-- <div class="col-lg-7"><img src="images/Mask-Group-6.png" srcset="images/Mask-Group-6-p-500.png 500w, images/Mask-Group-6.png 676w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 57vw" class="image-27"></div> -->
        <div class="col-lg-7"><img src="img/redesign/neighborhood_4.jpg" class="image-27"></div>
      </div>
    </div>
  </div>
</div>


<div class="section-14">
  <div class="container-fluid custom-container-4">
      <div class="row section-divider">
        <div class="col-lg-5">
          <div>
            <h1 class="heading-19">How Do We Use Energy?</h1>
            <p class="paragraph-12">Individuals have a significant influence on energy conservation. People’s awareness,  understanding, and actions on energy conservation  can dramatically change their  energy consumption. For example, behavior change can include switching to more  efficient light bulbs and Energy Star appliances in your home, putting on a sweater instead  of turning up the  heat, or retrofitting your house to improve its insulation.</p>
            <a href="energy101/energy101-3" class="btn learnmore-button" role="button">LEARN MORE</a>
          </div>
        </div>
        <!-- <div class="col-lg-7"><img src="images/Mask-Group-7.png" srcset="images/Mask-Group-7-p-500.png 500w, images/Mask-Group-7.png 676w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 57vw" class="image-27"></div> -->
        <div class="col-lg-7"><img src="img/redesign/neighborhood_5.jpg" class="image-27"></div>
      </div>
  </div>
</div>

<div class="section-14 last-section-bottom-margin-adjustment">
  <div class="container-fluid custom-container-4">
    <div>
      <div class="row section-divider">
        <div class="col-lg-5">
          <div>
            <h1 class="heading-19">How Do We Get Energy?</h1>
            <p class="paragraph-12">This refers to where our energy comes from and how we manage and distribute it. Community energy refers to multiple energy sources and distribution networks that are shared between various members of a geographic neighborhood, with at least part of the energy generated in the local area. This means some degree of local involvement in the management and control of the system, with sharing of responsibilities, benefits (including revenue) and impacts among the community.</p>
            <a href="energy101/energy101-4" class="btn learnmore-button" role="button">LEARN MORE</a></div>
        </div>
        <!-- <div class="col-lg-7"><img src="images/Mask-Group-8.png" srcset="images/Mask-Group-82x-p-500.png 500w, images/Mask-Group-8.png 676w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 57vw" class="image-27"></div> -->
        <div class="col-lg-7"><img src="img/redesign/neighborhood_6.jpg" class="image-27"></div>
      </div>
    </div>
  </div>
</div>


{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
