{% extends 'layout.html' %} {% block title %}{% parent %} - Home Page{% endblock %} {% block head %} {% parent %}
{#<link rel="stylesheet" href="./styles/css/home.css">#} 
<link rel="stylesheet" href="styles/css/homePage.css"/>
<link href="lity/dist/lity.css" rel="stylesheet">
<script src="lity/vendor/jquery.js"></script>
<script src="lity/dist/lity.js"></script>
{% endblock head %} {% block content %} {% parent %}

{#<section class="fg8">
    <div class="row">
        <h1>Explore Community Energy</h1>
        <p>
            Imagine a neighbourhood where efficient homes generate energy and share it with the community.
            Imagine a walkable community, with local services and convenient access to transit in a region that uses renewable energy, instead of fossil fuels.
        </p>
        <br>
        <p>
            This website provides a set of tools for exploring community energy.
        </p>
    </div>
</section>
<!-- TODO: remove styling and include in CSS-->
<!-- <div class="container-fluid fg8"> -->
        <div class="col-md-12, fg12">
            <h2>Supported by</h2>
        <!-- This was the original closing </div> -->
        <!-- <div class="col-md-7"> -->

            <a href="http://www.refbc.com/" class="sponsor-image">
                <img src="/img/homepage/realestatefoundation.svg">
            </a>

            <a href="http://www.metrovancouver.org/" class="sponsor-image">
                <img src="/img/homepage/metrovan.svg">
            </a>            

            <a href="http://pics.uvic.ca/" class="sponsor-image">
                <img src="/img/homepage/PICS Logo.jpg">
            </a>

            <a href="http://www.neptis.org/" class="sponsor-image">
                <img src="/img/homepage/neptis.svg">
            </a>

            <a href="http://communityenergy.bc.ca/" class="sponsor-image">
              <img src="/img/homepage/CEA.png">
            </a>

            <a href="https://esri.ca/en" class="sponsor-image">
              <img src="/img/homepage/ESRI.png">
            </a>

            <a href="https://www.mitacs.ca/en" class="sponsor-image">
              <img src="/img/homepage/Mitacs.png">
            </a>

            <a href="https://www.ubc.ca/" class="sponsor-image">
              <img src="/img/homepage/UBC.png">
            </a>
        </div> <!-- This is the unoriginal one -->
    <!-- </div> -->
<!-- </div> -->#}

{% include "./components/navbar-home.html" %}

  <div class="hero">
    <div class="container-fluid custom-container-4">
      <h1 class="heading-9"><strong>Welcome to the Community Energy Explorer!</strong></h1>
      <p class="paragraph-7">
          Imagine a neighbourhood where efficient homes generate energy and share it with the community.<br>
          Imagine a walkable community, with local services and convenient access to transit in a region that uses renewable energy instead of fossil fuels.
          <a href="/energy101" class="btn startexploring-button startexploring-button-adjustment">START EXPLORING</a>
      <!-- <a href="#" class="link-3 leftbutton w-button">WATCH VIDEO</a> -->
      <div class="video-position">
        <iframe width="350" height="200" src="https://www.youtube.com/embed/enToL13OGU8?rel=0&autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div id="inline" style="background:#ffffff" class="lity-hide"></div>
  </div>

  <div class="downloadguide">
    <div class="container-fluid custom-container-4">
      <div class="row">
        <div class="col-sm-9">
          <div class="div-block-9">
            <p class="downloadguide-paragraph">
                There is a pressing need for communities to meet municipal, provincial and global targets for greenhouse gas reduction through transformation in our energy systems. The Community Energy Explorer (CEE) is a web resource, designed to provide communities and citizens with information and tools for local energy planning and carbon emission mitigation. The long-term goals of CEE are to provide –</p>
                <ul>
                  <li><p class="downloadguide-paragraph">Evolving and up-to-date resources for community energy planning;</p></li>
                  <li><p class="downloadguide-paragraph">A platform for development of new and innovative engagement tools around energy in other neighbourhoods and municipalities.</p></li>
                </ul>  
                <p class="downloadguide-paragraph">Download the <a href="http://web.forestry.ubc.ca/calp/CALP_CommunityEnergyGuide.pdf" target="_blank">Illustrated Guide to Community Energy</a> (initial phase of CEE & how we started iour community energy journey) to know more about  the sustainable energy potential of your neighbourhood. And explore the website to know more!</p>
            <!-- <a href="#" class="link-3 leftbutton learnmore download w-button">DOWNLOARD PDF</a> -->
            <!-- <a href="/files/CALP_CommunityEnergyGuide.pdf" class="btn btn-default learnmore-button playVideoButtonAdjustment" role="button" download="CALP_CommunityEnergyGuide">DOWNLOAD PDF</a> -->
          </div>
        </div>
        <div class="col-sm-3">
          <img src="/img/Group-16.png" alt="" class="image-32">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="supported">
    <div class="custom-container-4">
        <h1 class="heading-11">Supported By</h1>
        <div class="div-block-14">
          <a href="#">
            <div class="supporter" id="realestatefoundation"></div>
          </a>
          <a href="#">
            <div class="supporter" id="metrovan"></div>
          </a>
          <a href="#">
            <div class="supporter" id="pics"></div>
          </a>
          <a href="#">
            <div class="supporter" id="neptis"></div>
          </a>
        </div>
    </div>
  </div> -->

  <div class="supported">
      <div class="custom-container">
        <h1 class="heading-11">Supported By</h1>
        <div class="div-block-28">
          <a href="https://www.refbc.com"><img src="/img/realestatefoundation.svg" alt="" class="image-15"></a>
          <a href="http://www.metrovancouver.org"><img src="/img/metrovan.svg" alt="" class="image-16"></a>
          <a href="https://pics.uvic.ca"><img src="/img/PICS-logo.png" alt="" class="image-20"></a>
          <a href="https://www.neptis.org"><img src="/img/neptis.svg" alt="" class="image-17"></a><br>
          <a href="http://communityenergy.bc.ca/"><img src="/img/CEA.png" alt="" class="cea-image"></a>
          <a href="https://esri.ca/en"><img src="/img/ESRI.png" alt="" class="esri-image"></a>
          <a href="https://www.mitacs.ca/en"><img src="/img/Mitacs.png" alt="" class="mitacs-image"></a>
          <a href="https://www.ubc.ca/"><img src="/img/UBC.png" alt="" class="ubc-image"></a>
        </div>
      </div>
    </div>

  <div class="footer">
    <div class="container-fluid custom-container-4">
      <div class="row">
        <div class="col-md-4">
          <div class="home-block-27">
            <h4 class="heading-15">CONTACT US</h4><img src="/img/Rectangle-22.png" alt="" class="image-23">
            <div class="div-block-15 w-clearfix"><img src="/img/Location.svg" alt="" class="image-22">
              <div class="text-block-3"><a href="https://calp.forestry.ubc.ca/" target="_blank">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING</a><br>University of British Columbia<br>Faculty of Forestry<br>3321 – 2260 West Mall<br>Vancouver, BC, Canada, V6T 1Z4</div>
            </div>
            <div class="w-clearfix"><img src="/img/phone.svg" alt="" class="image-24">
              <div class="text-block-3">604-822-4148</div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="home-block-26">
            <h4 class="heading-15">FOLLOW US</h4><img src="/img/Rectangle-22.png" alt="" class="rectangle">
            <div class="div-block-18">
              <a href="https://www.facebook.com/UBCCALP/" target="_blank"><img src="/img/Group-25.png" alt="" class="image-25"></a>
              <a href="https://twitter.com/UBCCALP" target="_blank"><img src="/img/Group-26.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %} {% block scripts %} {% parent %}
<!-- <script src="./js/dependencies/jquery.rwdImageMaps.min.js"></script> -->
<!-- <script src="./js/dependencies/jquery.maphilight.min.js"></script> -->
<!-- <script src="./js/home.js" defer></script> -->
{% endblock scripts %}