{% extends 'layout.html' %} {% block title %}{% parent %} - Home Page{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="./styles/css/home.css"> {% endblock head %} {% block content %} {% parent %}
<section class="fg8">
    <div class="row">
        <h1>Explore Community Energy</h1>
        <p>
            Imagine a neighbourhood where efficient homes generate energy and share it with the community. Imagine a walkable community,
            with local services and convenient access to transit in a region that uses renewable energy resources instead
            of fossil fuels.
        </p>
        <br>
        <p>
            This website provides a set of tools for exploring community energy.
        </p>
    </div>
</section>
<!-- TODO: remove styling and include in CSS-->
<!-- <div class="container-fluid fg8"> -->
        <div class="col-md-12, fg12">
            <h2>Supported by</h2>
        <!-- This was the original closing </div> -->
        <!-- <div class="col-md-7"> -->

            <a href="http://www.refbc.com/" class="sponsor-image">
                <img src="/img/homepage/realestatefoundation.svg">
            </a>

            <a href="http://www.metrovancouver.org/" class="sponsor-image">
                <img src="/img/homepage/metrovan.svg">
            </a>            

            <a href="http://pics.uvic.ca/" class="sponsor-image">
                <img src="/img/homepage/PICS Logo.jpg">
            </a>

            <a href="http://www.neptis.org/" class="sponsor-image">
                <img src="/img/homepage/neptis.svg">
            </a>
        </div> <!-- This is the unoriginal one -->
    <!-- </div> -->
<!-- </div> -->
{% endblock content %} {% block scripts %} {% parent %}
<script src="./js/dependencies/jquery.rwdImageMaps.min.js"></script>
<script src="./js/dependencies/jquery.maphilight.min.js"></script>
<script src="./js/home.js" defer></script>
{% endblock scripts %}