{% extends 'layout.html' %}

{% block title %}{% parent %} - Home Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="./styles/cee/stylesheets/index_styles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="header-image-container">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">            
            <h1>Home Page</h1>
        </div>
        <div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div><div class="col-lg-12">            
            <h1>Home Page</h1>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
