{% extends 'layout.html' %}

{% block title %}{% parent %} - Home Page{% endblock %}

{% block head %}
    {% parent %}
{% endblock head %}

{% block content %}

    {% parent %}
<div class="container">
    <div class="jumbotron">
  <h1>This is the {{ pageName }}. All the content goes here!</h1>
  <p>Introductory text goes here.</p>
  <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
</div>
    
  
<div id="part1context">
    <div class="toper red">
        <h2>
        Community Energy in Context
        </h2>
        <div class="text">
        Managing for energy at the community scale can promote more sustainable and secure energy futures, while reducing carbon emissions that contribute to global warming. <br><br>
        With clear and compelling visuals of Metro Vancouver case studies, and new information on regional and local energy sources, this web-resource aims to inform citizens about renewable energy options as well as energy conservation measures, and stimulate discussion about the energy choices that communities are increasingly facing.  
        </div>
    </div>
</div>

<div id="part2">
    <a id="faq"></a>
    <div class="LargeArrowLeft red">
        <h2>
        What is Community Energy?
        </h2>
        <h3 class="line">
Neighbourhoods can save, generate and share energy</h3>
        <div class="text">
        Community energy means local efforts to manage how we use energy and where our energy comes from.  It includes multiple energy sources, distribution networks, and planning practices, policies and behaviours, implemented at neighbourhood and community scales. This usually means some degree of local involvement in the management and control of the system, with sharing of responsibilities, benefits (including revenue), and impacts among the community.</div>
    </div>
    <br/>
    <br/>
    <br/>
      <img src="http://www.energyexplorer.ca/images/what_is_community_energy.svg" align="center" alt="img">
</div>

<div id="part3">
<a id="climate"></a>
    <div class="LargeArrowRight red">
        <h2>Energy and Climate Change</h2>
        <h3 class="line">
        USING FOSSIL FUELS TO MEET OUR ENERGY NEEDS IS THE MAJOR CAUSE OF CLIMATE CHANGE 
        </h3>
        <div class="text">
            The burning of fossil fuels for energy production releases carbon dioxide and other gases into the air. These gases trap the sun’s reflected radiation in our atmosphere. This condition is leading to changes in our climate and overall, global warming.<br><br>
            Scientists have determined that a global warming beyond 2 degrees Celsius is a serious threat to the lives of current and future generations, especially amongst the world’s poorest populations. In order to avoid the most serious impacts of global warming we must substantially reduce the greenhouse gases we emit into the atmosphere.            </div>
        </div><br>
<ul class="rslides" id="slider">
      <li>
        <img src="http://www.energyexplorer.ca/images/context_fridge_ghg2.svg" alt="img">
            
      </li>
      <li>
        <img src="http://www.energyexplorer.ca/images/context_fridge_ghg1.svg" alt="img2" align="center">
       
      </li>
      </ul>  
      
      <br><br>   
       </div>

<div id="part4">        
<a id="bc2020"></a>
    <div class="smallArrowLeft red">
        <h2>BRITISH COLUMBIA’S COMMITMENT TO CLIMATE CHANGE</h2>
       <div class="text">In response to the reality of climate change, British Columbia committed to taking action, and in 2007 showed world-wide leadership by legislated greenhouse gas emissions targets and other provincial and local government policies to help mitigate climate change. Municipalities in BC were quick to follow suit, and many have pledged to reduce their community-wide greenhouse gas emissions by up to 80% by 2050—our share of the worldwide reduction necessary to maintain an average global warming of 2 degrees.  
       </div>
    </div>
<img class="imgposition" src="http://www.energyexplorer.ca/images/BCMap.svg" align="right" alt="img">


    <div class="block-big-text-red">80% by 2050</div>    
</div>

<div id="part5">        
<a id="metro"></a>
    <div class="smallArrowLeft red">
        <h2>Metro Vancouver Demand</h2>
        <h3 class="line">
            How does our region use energy?</h3>
       <div class="text">Communities across the region use different total amounts of energy for electricity, heating, and transportation. We also consume different amount of energy per person across the region, depending on which municipality we live in (due to their housing types, land uses, transport options, and energy/climate change policies).
       </div>
    </div>
    

        <div class="context_map">
            <a href="http://www.energyexplorer.ca/home-energy/"target="_blank" class="btn-context-map">MAP HOME ENERGY USE</a>
        </div>   
</div>


<div id="part3">
    <a id="clean"></a>
    <div class="LargeArrowRight red">
        <h2>Is our Energy Clean?</h2>
        <h3 class="line">
            Where does energy come from in British Columbia?
        </h3>
        <div class="text">
            Much of the energy currently used in Metro Vancouver homes comes from remote suppliers in BC and Alberta, at least 400-1000 kilometers away. Natural gas to heat our homes is piped from northeastern BC and Alberta. Electricity to power our homes comes primarily (approximately 90%) from Hydroelectric dams in southeastern and central BC.  This hydroelectricity is supplemented by natural gas electricity generation in BC and, at times, by other fossil fuel-based generating plants in Alberta and the United States. <br><br>
       Metro Vancouver is also crossed by railways and pipelines which ship coal and oil from the oilsands for export.  A small portion of the oil that is exported is imported back to Canada to meet our transportation needs.</div>
       </div><br>
<ul class="rslides" id="slider">
      <li>
        <img src="http://www.energyexplorer.ca/images/Natural_Gas_Routes.svg" alt="img">
            
      </li>
      <li>
        <img src="http://www.energyexplorer.ca/images/hydro_transmission.svg" alt="img2" align="center">
       
      </li>
      </ul>  
      
      <br><br>   
       </div>

        
<div id="part5">        
<a id="economies"></a>
    <div class="smallArrowLeft red">
        <h2>Local Energy Economies</h2>
        <h3 class="line">
            What if our money stayed in our communities?
        </h3>
       <div class="text">
             A community energy system based on renewables can be less vulnerable to global energy markets. After an initial investment in a system, operation costs remain generally low.
       </div>
    </div><br><br><br><br>
        <div class="label-right animated slideInLeft">
        Burnaby, B.C. Carbon Simulation
    </div>
<ul class="rslides" id="slider">
      <li>
        <img src="http://www.energyexplorer.ca/images/corridor.png" alt="img">
            <br><br>  
      </li>
      <li>
        <img src="http://www.energyexplorer.ca/images/corridor_carbon.png" alt="img2" align="center">
       <br><br>
      </li>
      </ul>  
      
      <br><br>   
       </div>        
        
<div id="part6">        
<a id="district"></a>
    <div class="smallArrowRight red">
        <h2>District Energy Facilities</h2>
        <h3 class="line">
A district Energy system can generate heat and electricity for distribution         </h3>
       <div class="text">
             A district energy facility generates heat and sometimes elecrticity for distribution to local users. District energy is more energy efficient then using individual building furnaces for neighbourhoods with adequate density, and therefore reduces greenhouse gas emissions, especially when using renewable supplies.
       </div>
    </div>
      <img  src="http://www.energyexplorer.ca/images/biomass_plant_rendering.jpg" align="center" alt="img">
</div>
        
<div id="part7">        
<a id="housing"></a>
    <div class="smallArrowLeft red">
        <h2>Housing, Design & Retrofits</h2>
        <h3 class="line">
            Energy can be saved by bringing existing buildings up to new, more efficient standards
        </h3>
       <div class="text">
            Significant energy can be saved by bringing existing buildings up to more efficient standards. Basic retrofits such as adding solar hot water can reduce total energy use by up to 30% and greenhouse gases by 33%. Major retrofits such as adding air source heat and other renewables can reduce total energy use by 75% and greenhouse gases by 80%.
       </div>
    </div>
    <br>
<ul class="rslides" id="slider">
      <li>
        <img src="http://www.energyexplorer.ca/images/sankey2.svg" alt="img">
            
      </li>
      <li>
        <img src="http://www.energyexplorer.ca/images/sankey1.svg" alt="img2" align="center">
       
      </li>
      </ul> 
      <br><br>    
</div>
        
<div id="part8">
<a id="behaviour"></a>
    <div class="smallArrowRight red">
        <h2>Behaviour</h2>
        <h3 class="line">
MANAGING ENERGY DEMAND – INDIVIDUAL ACTION        </h3>
       <div class="text">
             Individuals can change their energy behaviours by choosing actions like using more efficient light bulbs and Energy Star appliances in your home, putting on a sweater instead of turning up the heat, or retrofitting your house to improve its insulation.  According to BC Hydro, if you turn down your heat by just two degrees, you can reduce your home heating costs by 5%. 
       </div>
    </div>
     <img  class ="img_context" src="http://www.energyexplorer.ca/images/thermostat.svg" align="center" alt="img">
    </div>
        
        <div id="part8">
<a id="behaviour"></a>
    <div class="LargeArrowLeft red">
        <h2>Behaviour</h2>
        <h3 class="line">
MANAGING ENERGY DEMAND – COLLECTIVE ACTION      </h3>
       <div class="text">
            Managing energy efficiency can also happen at the community-wide level (collective action). Municipalities can adopt land use and transportation plans and policies that place higher density homes close to services—and support transit, pedestrians and cyclists—to encourage people to drive less.   Higher densities also support more efficient and cost-effective community energy solutions, such as a district heating system.  With people living closer together, they will share building walls, which greatly reduces the amount of energy needed to heat a home.  Local governments can adopt policies and programs to assist homeowners in energy efficient upgrades, such as rebates or on-bill financing for the installation of energy efficient heating and hot water systems and building envelope improvements.  
       </div>
    </div>
     <img  src="http://www.energyexplorer.ca/images/behavior.png" align="center" alt="img">
    </div>
        
        <div id="part8">
<a id="behaviour"></a>
    <div class="smallArrowRight red">
        <h2>Behaviour</h2>
        <h3 class="line">
MANAGING ENERGY DEMAND – Managing Energy Supply       </h3>
       <div class="text">
             Another way communities can mitigate climate change is by switching to clean, or renewable energy sources—energy supplies and systems that minimize, or eliminate completely, the production of greenhouse gases. This will be a critical move for municipalities to make to meet a target of 80% greenhouse gas reduction by 2050.   
       </div>
    </div>
  <div class="context_renewables">
            <a href="http://www.energyexplorer.ca/renewables/" class="btn-context-renewables">EXPLORE RENEWABLE ENERGY</a>
        </div>    <br><br><br><br><br><br><br>
    </div>
    {% endblock content %}
</div>
{% block scripts %}
    {% parent %}
{% endblock scripts %}
