{% extends 'layout.html' %}

{% block title %}{% parent %} - Home Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="./styles/cee/stylesheets/index_styles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="header-image-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-6 header-text">        
                <h1>Explore Community Energy</h1>
                <p>
                    Imagine a neighbourhood where efficient homes <a href="#">generate energy</a> and share it with the
                    community. Imagine a walkable community, with local services and convienient access to transit
                    in a region that uses <a href="#">renewable energy resources</a> instead of fossil fuels.
                </p>
                <br>
                <p>
                    This website provides a set of tools for exploring community energy.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Supported by:</h4>
        </div>
        <div class="col-md-8">
            <a href="#" class="sponsor-image">
                <img src="/images/homepage/neptis.svg">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/PICS.png">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/metrovan.svg">
            </a>

            <a href="#" class="sponsor-image">
                <img src="/images/homepage/realestatefoundation.svg">
            </a>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
