{% extends 'layout.html' %} {% block title %}{% parent %} - Maps{% endblock %} {% block head %} {% parent %}
{#<link rel="stylesheet" href="styles/css/maps.css">
<script type="text/javascript" src="js/maps.js" defer></script>#}
<link rel="stylesheet" href="styles/css/maps.css"> {% endblock head %} {% block content %} {% parent %}

{#
  <div class="page-container">

  <div class="row">
    <h2>
      <b>Welcome to Interactive maps, where we explore how to look at energy in different ways. Let’s understand the importance
        of how energy is currently being used, what potential local energy solutions cities have, and what policies and actions
        drive these cities to become more resilient and renewable.</b>
    </h2>
    <h1> </h1>
  </div>

  <div class="row">
    <section class="fg6">
      <a href="maps/map-methods" target="_blank">
      <div class="image-container">
        <img src="../img/solar_map.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Start</div>
        </div>
      </div>
      </a>
    </section>
    <section class="fg6">
      <h1>
        <a href="maps/map-methods" target="_blank">Map Methodologies</a>
      </h1>
      <h2>
        Learn about how the Community Energy Explorer maps are made and what they mean.
      </h2>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="maps/demand-maps" target="_blank">Where Is Energy Used?</a>
      </h1>
      <h2>
        Communities across the region use different total amounts of energy for electricity, heating, and transportation. We also
        consume different amount of energy per person across the region, depending on which municipality we live in (due
        to their housing types, land uses, transport options, and energy/climate change policies). Understanding how much
        communities rely on energy use is refers to energy demand. There are many ways to see energy, including the energy
        use (intensity and cost) and GHG (emission and intensity).
      </h2>
    </section>
    <section class="fg6">
      <a href="maps/demand-maps" target="_blank">
      <div class="image-container">
        <img src="../img/map_red.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Explore</div>
        </div>
      </div>
      </a>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <a href="maps/energy-maps" target="_blank">
      <div class="image-container">
        <img src="../img/mall.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Learn</div>
        </div>
      </div>
      </a>
    </section>
    <section class="fg6">
      <h1>
        <a href="maps/energy-maps" target="_blank">Where Can We Get Energy?</a>
      </h1>
      <h2>
        This section provides an inventory of the potential capacity of select renewable energy resources across the Metro Vancouver
        region, and describes issues arising from the associated technologies. However it does not reflect constraints of
        economic viability, social acceptability or current regulations. Existing data from various sources are analyzed
        and mapped using new techniques suitable to communicating energy resources at a regional scale.
      </h2>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="maps/geoexchange" target="_blank">Geoexchange</a>
      </h1>
      <h2>
        It uses the earth as a heat source (in the winter) or a heat sink (in the summer). This design takes advantage of the moderate
        temperatures in the ground to boost efficiency and reduce the operational costs of heating and cooling systems, and
        may be combined with solar heating to form a geosolar system with even greater efficiency. They are also known by
        other names, including geoexchange, earth-coupled, earth energy systems.
      </h2>
      <h3 style="text-align:right">- Wikipedia</h3>
    </section>
    <section class="fg6">
      <a href="maps/geoexchange" target="_blank">
      <div class="image-container">
        <img src="../img/geoexchange.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Inspire</div>
        </div>
      </div>
      </a>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <a href="maps/sewage-heat" target="_blank">
      <div class="image-container">
        <img src="../img/pipes_2.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
            <div class="caption">Grow</div>
        </div>
      </div>
      </a>
    </section>
    <section class="fg6">
      <h1>
        <a href="maps/sewage-heat" target="_blank">Sewage Heat</a>
      </h1>
      <h2>
        Water heat recycling (also known as sewage heat recovery, drain water heat recovery, wastewater heat recovery, greywater
        heat recovery, or sometimes shower water heat recovery) is the use of a heat exchanger to recover energy and reuse
        heat from wastewater. This can be done at large scale (as in sewage heat systems) down to household systems for heat
        recovery from activities such as dish-washing, clothes washing and especially showers. The technology is used to
        reduce primary energy consumption for water heating.
      </h2>
      <h3 style="text-align:right">- Adapted from Wikipedia</h3>
    </section>
  </div>

</div>
#}

{% include "./components/navbar-maps.html" %}
{% include "./components/navbar-maps-overview.html" %}

<div class="section-11">
  <div class="container-fluid custom-container-4">
    <div class="hero-section">
      <h1 class="heading-18">With interactive maps, <br>explore how to look at energy in different ways</h1><img src="img/redesign/Rectangle-482x.png" class="image-26">
      <p class="paragraph-10">Let’s understand the importance of how energy is currently being used, what potential local energy solutions cities have, and what policies and actions drive these cities to become more resilient and renewable.</p>
      <a href="#firstSection" class="btn btn-default learnmore-button startexploring-button-adjustment">START EXPLORING</a>
    </div>
  </div>
</div>

<div class="section-14" id="firstSection">
  <div class="container-fluid custom-container-4">
      <div class="row section-divider">
        <div class="col-lg-5">
          <div>
            <h1 class="heading-19">Map Methodologies</h1>
            <p class="paragraph-12">Learn about how the Community Energy Explorer maps are made and what they mean.</p>
            <a href="maps/map-methods" class="btn btn-default learnmore-button" role="button">LEARN MORE</a>
          </div>
        </div>
        <!-- <div class="col-lg-7"><img src="images/Mask-Group-7.png" srcset="images/Mask-Group-7-p-500.png 500w, images/Mask-Group-7.png 676w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 57vw" class="image-27"></div> -->
        <div class="col-lg-3"><img src="img/redesign\mapmathods2x2x.png" class="image-27"></div>
      </div>
  </div>
</div>

<div class="section-14">
  <div class="container-fluid custom-container-4">
      <div class="row section-divider">
        <div class="col-lg-6">
          <div>
            <h1 class="heading-19">Where Is Energy Used?</h1>
            <p class="paragraph-12">Communities across the region use different total amounts of energy for electricity, heating, and transportation. We also consume different amount of energy per person across the region, depending on which municipality we live in (due to their housing types, land uses, transport options, and energy/climate change policies). Understanding how much communities rely on energy use is refers to energy demand. There are many ways to see energy, including the energy use (intensity and cost) and GHG (emission and intensity).</p>
            <div class="col-lg-20"><img src="img/redesign/Image-602x.png" class="maps-image1"></div>
            <a href="https://ubc.maps.arcgis.com/apps/MapSeries/index.html?appid=86fd4021ec2941d4b19de31392abf782" class="btn btn-default learnmore-button" role="button">LEARN MORE</a>
            <!--a href="maps/demand-maps" class="btn btn-default learnmore-button" role="button">Old Map</a-->
            <!--<a href="maps/demand-maps" class="btn btn-default learnmore-button" role="button">LEARN MORE</a>-->
          </div>
        </div>
        <!-- <div class="col-lg-7"><img src="images/Mask-Group-7.png" srcset="images/Mask-Group-7-p-500.png 500w, images/Mask-Group-7.png 676w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 57vw, (max-width: 991px) 58vw, 57vw" class="image-27"></div> -->
        <div class="col-lg-6">
          <div>
            <h1 class="heading-19">Where Can We Get Energy?</h1>
            <p class="paragraph-12">This section provides an inventory of the potential capacity of
              select renewable energy resources across the Metro Vancouver region, and describes issues
              arising from the associated technologies. However it does not reflect constraints of
              economic viability, social acceptability or current regulations. Existing data from various
              sources are analyzed and mapped using new techniques suitable to communicating energy resources at
              a regional scale.</p>
            <div class="col-lg-20"><img src="img/redesign/Image-612x.png" class="maps-image2"></div>
            <a href="https://ubc.maps.arcgis.com/apps/MapSeries/index.html?appid=86fd4021ec2941d4b19de31392abf782" class="btn btn-default learnmore-button" role="button">LEARN MORE</a>
            <!--a href="maps/energy-maps" class="btn btn-default learnmore-button" role="button">Old Map</a-->
           </div>
        </div>
      </div>
  </div>
</div>

{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}