{% extends 'layout.html' %}

{% block title %}{% parent %} - Renewable Energy Supply{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/cee/stylesheets/renewableEnergySupplyStyles.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Renewable Energy Supply</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-warning btn-lg" data-toggle="modal" data-target="#solarModal">Solar</button>
          <button type="button" class="list-group-item list-group-item-default btn-lg" data-toggle="modal" data-target="#windModal">Wind</button>
          <button type="button" class="list-group-item list-group-item-info btn-lg" data-toggle="modal" data-target="#hydroModal">Hydropower</button>
          <button type="button" class="list-group-item list-group-item-danger btn-lg" data-toggle="modal" data-target="#heatModal">Heat Recovery</button>
          <button type="button" class="list-group-item list-group-item-success btn-lg" data-toggle="modal" data-target="#bioModal">Bio Energy</button>
        </div>
      </div>
    </div>
</div>

{% include './renewableEnergySupplyModals/solar.html' %}
{% include './renewableEnergySupplyModals/wind.html' %}
{% include './renewableEnergySupplyModals/hydropower.html' %}
{% include './renewableEnergySupplyModals/heatrecovery.html' %}
{% include './renewableEnergySupplyModals/bioenergy.html' %}

{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
