{% extends 'layout.html' %} {% block title %}{% parent %} - Resources{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="/styles/css/resources.css"> {% endblock head %} {% block content %} {% parent %}

{% include "./components/navbar-toolsAndResources.html" %}
{% include "./components/navbar-toolsAndResources-overview.html" %}

<style type="text/css">
  .top-h2{
    line-height:1.5
  }
</style>
<div class="container-fluid">

    <h1>Tools and Resources</h1>

    <div class="row">

       <h2>
            <b>CALP Resources</b>
        </h2>

        <section class="fg10">
            <ul>
                <h2 class="top-h2">
                    <b>Citizen Coolkit</b>
                </h2>
                <li>
                    <h3>
                        The  Urban Forestry Toolkit is a structured, visual and fun guide for people
                        to engage their blocks on issues and solutions related to urban forestry and climate change.
                        The project will develop tools and guides to gradually ramp up community engagement through
                        conversations, maps, visioning and action.
                        <a href="http://calp2016.sites.olt.ubc.ca/files/2017/10/Coolkit-revision-22.compressed.pdf" target="_blank">View Toolkit</a>
                    </h3>
                </li>

                <h2 class="top-h2">
                    <b>Future Delta 2.0</b>
                </h2>
                <li>
                    <h3>
                        The Future Delta 2.0 (FD2) videogame enables real-time exploration and querying of local
                        climate change scenarios in the player’s own backyard, addressing issues such as sea-level
                        rise, extreme weather, dikes, community energy, environmental refugees, etc. The game experience
                        hopes to mobilize discussions around the realities of climate change, as well as stimulate
                        action on possible adaptation and mitigation solutions.
                        <a href="http://futuredelta2.ca" target="_blank">Visit website</a></h3>
                </li>

                <h2 class="top-h2">
                    <b>Thermal Imaging</b>
                </h2>
                <li>
                    <h3>
                        <a href="http://calp2016.sites.olt.ubc.ca/files/2016/05/Thermal-Imaging-Report.pdf" target="_blank">View report</a></h3>
                </li>

                <h2 class="top-h2">
                    <b>Initial Interview / Feedback Report</b>
                </h2>
                <li>
                    <h3>Feedback through interviews from various sectors relating to community energy and planning:
                        <a href="../files/cee_interview_report.pdf" target="_blank">Final report</a></h3>
                </li>

                <h2 class="top-h2">
                    <b>Community Energy Guide</b>
                </h2>
                <li>
                    <h3>This guide shows how local involvement in community energy systems can promote more sustainable and secure energy futures:
                        <a target="_blank" href="http://web.forestry.ubc.ca/calp/CALP_CommunityEnergyGuide.pdf">View guide</a></h3>
                </li>

                <h2 class="top-h2">
                    <b>CEE Brochure</b>
                </h2>
                <li>
                    <h3>Building Community Capacity on Local Energy
                        <a target="_blank" href="http://web.forestry.ubc.ca/calp/CEE_Brochure.pdf">View brochure</a></h3>
                </li>

                <h2 class="top-h2">
                    <b>Developer's Guide</b>
                </h2>
                <li>
                    <h3>This guide provides communities outside of Metro Vancouver with information and resources to create a localized platform for exploring community energy.
                        <br/> <a target="_blank" href="../files/Developers-Guide-final.pdf">View guide</a></h3>
                </li>
             </ul>





        <h2>
            <b>Energy 101</b>
        </h2>

        <section class="fg2">
            <div class="image">
                <img class="image" src="../img/neighborhood_4.jpg" alt="cee-thumbnail" style="width:100%" />
            </div>
        </section>

        <section class="fg10">
            <ul>
                <li>
                    <h3>Nott Energy
                        <a  target="_blank" href="https://nottenergy.com/contact/" target="_blank">https://nottenergy.com/contact/</a>
                    </h3>
                </li>
                <li>
                    <h3>Walkability Score
                        <a target="_blank"  href="http://www.walkscore.com/" target="_blank">http://www.walkscore.com/</a>
                    </h3>
                </li>
                <li>
                    <h3>Electric Vehicle BC
                        <a  target="_blank" href="http://pluginbc.ca/" target="_blank">http://pluginbc.ca/</a>
                    </h3>
                </li>
                <li>
                    <h3> Retrofit Challenge in Delta
                        <a target="_blank"  href="https://www.reibc.org/retrofit_challenge.html" target="_blank">https://www.reibc.org/retrofit_challenge.html</a>
                    </h3>
                </li>
                <li>
                    <h3>Eagle Island Community-Wide Retrofit
                        <a target="_blank" href="http://www.mc-3.ca/eagle-island">http://www.mc-3.ca/eagle-island</a></h3>
                </li>
                <li>
                    <h3>Energy Save New West
                        <a  target="_blank" href="http://www.energysavenewwest.ca/existing-homes/" target="_blank">http://www.energysavenewwest.ca/existing-homes/</a>
                    </h3>
                </li>
                <li>
                    <h3>Blower Door Test
                        <a target="_blank" href="https://www.energy.gov/energysaver/blower-door-tests">https://www.energy.gov/energysaver/blower-door-tests</a>
                    </h3>
                </li>
                <li>
                    <h3>Design Centre for Sustainability UBC
                        <a target="_blank"  href="http://www.dcs.sala.ubc.ca/" target="_blank">http://www.dcs.sala.ubc.ca/</a>
                    </h3>
                </li>
                <li>
                    <h3> BC Energy Step Code
                        <a  target="_blank" href="http://www2.gov.bc.ca/gov/content/industry/construction-industry/building-codes-standards/energy-efficiency/energy-step-code" target="_blank">http://www2.gov.bc.ca/gov/content/industry/construction-industry/building-codes-standards/energy-efficiency/energy-step-code</a>
                    </h3>
                </li>
                <li>
                    <h3>100 year sustainability plan North Vancouver
                        <a target="_blank"  href="http://www.cnv.org/your-government/sustainability-in-the-city/city-initiatives/100-year-sustainability-vision" target="_blank">http://www.cnv.org/your-government/sustainability-in-the-city/city-initiatives/100-year-sustainability-vision</a>
                    </h3>
                </li>
            </ul>
        </section>

    </div>



    <div class="row">

        <h2>
            <b>Hot Topics</b>
        </h2>

        <section class="fg2">
            <div class="image">
                <img class="image" src="../img/neighborhood_2.jpg" alt="cee-thumbnail" style="width:100%" />
            </div>
        </section>

        <section class="fg10">

            <ul>
                <h2 class="top-h2">
                    <b>Large scale redevelopment</b>
                </h2>
                <li>
                    <h3>Vertical geoexchange system
                        <a  target="_blank" href="https://www.richmond.ca/sustainability/energysrvs/districtenergy/energyutility.htm" target="_blank">https://www.richmond.ca/sustainability/energysrvs/districtenergy/energyutility.htm</a>
                    </h3>
                </li>
                <li>
                    <h3>Bioenergy community district energy system
                        <a  target="_blank" href="http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/" target="_blank">http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/</a>
                    </h3>
                </li>
                <li>
                    <h3>Dockside green
                        <a target="_blank"  href="http://www.docksidegreen.com/" target="_blank">http://www.docksidegreen.com/</a>
                    </h3>
                </li>
                <li>
                    <h3>Solar calculator north vancouver
                        <a  target="_blank" href="http://www.geoweb.dnv.org/applications/solarapp/" target="_blank">http://www.geoweb.dnv.org/applications/solarapp/</a>
                    </h3>
                </li>
                <li>
                    <h3>Urban Development Institute Centra
                        <a target="_blank"  href="http://udi.bc.ca/udi-central/" target="_blank">http://udi.bc.ca/udi-central/</a>
                    </h3>
                </li>
                <li>
                    <h3>City of New Westminster Royal Columbian Hospital Redevelopment
                        <a target="_blank"  href="https://www.newwestcity.ca/planning-building-and-development/projects-on-the-go/articles/4964.php" target="_blank">https://www.newwestcity.ca/planning-building-and-development/projects-on-the-go/articles/4964.php</a>
                    </h3>
                </li>
                <li>
                    <h3>Oakridge Centre Redevelopment
                        <a target="_blank"  href="http://vancouver.ca/home-property-development/oakridge-redevelopment.aspx" target="_blank">http://vancouver.ca/home-property-development/oakridge-redevelopment.aspx</a>
                    </h3>
                </li>

                <h2 class="top-h2">
                    <b>Retrofit</b>
                </h2>
                <li>
                    <h3>Natural Resouce Canada Energuide
                        <a target="_blank"  href="http://www.nrcan.gc.ca/energy/products/energuide/12523" target="_blank">http://www.nrcan.gc.ca/energy/products/energuide/12523</a>
                    </h3>
                </li>
                <li>
                    <h3>BC Hydro Home Renovation Rebates
                        <a  target="_blank" href="https://www.bchydro.com/powersmart/residential/savings-and-rebates/current-rebates-buy-backs/home-renovation-rebates.html?WT.mc_id=rd_homerebates" target="_blank">https://www.bchydro.com/powersmart/residential/savings-and-rebates/current-rebates-buy-backs/home-renovation-rebates.html?WT.mc_id=rd_homerebates</a>
                    </h3>
                </li>
                <li>
                    <h3>Fortis BC Home Renovation
                        <a  target="_blank" href="https://www.fortisbc.com/Rebates/RebatesOffers/HomeRenovationRebateProgram/Pages/default.aspx" target="_blank">https://www.fortisbc.com/Rebates/RebatesOffers/HomeRenovationRebateProgram/Pages/default.aspx</a>
                    </h3>
                </li>
                <li>
                    <h3>City of Vancouver Incentives and Rebates
                        <a  target="_blank" href="http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx" target="_blank">http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx</a>
                    </h3>
                </li>
                <li>
                    <h3>Energy Save New West
                        <a target="_blank"  href="http://www.energysavenewwest.ca/" target="_blank">http://www.energysavenewwest.ca/</a>
                    </h3>
                </li>
                <li>
                    <h3>New Westminster Urban Forestry Management Strategy
                        <a  target="_blank" href="https://www.newwestcity.ca/services/environment-and-sustainability/urban-forest-management-strategy" target="_blank">https://www.newwestcity.ca/services/environment-and-sustainability/urban-forest-management-strategy</a>
                    </h3>
                </li>

                <h2 class="top-h2">
                    <b>Renewable Energy Policy</b>
                </h2>
                <li>
                    <h3>Drake landing solar community
                        <a target="_blank"  href="https://www.dlsc.ca/" target="_blank">https://www.dlsc.ca/</a>
                    </h3>
                </li>
                <li>
                    <h3>Victoria Renewable City Strategy
                        <a target="_blank"  href="http://www.renewablecities.ca/news-updates/victoria-bc-adopts-community-wide-100-renewable-energy-target" target="_blank">http://www.renewablecities.ca/news-updates/victoria-bc-adopts-community-wide-100-renewable-energy-target</a>
                    </h3>
                </li>
                <li>
                    <h3>Vancouver Renewable City Strategy
                        <a  target="_blank" href="http://vancouver.ca/green-vancouver/renewable-city.aspx" target="_blank">http://vancouver.ca/green-vancouver/renewable-city.aspx</a>
                    </h3>
                </li>
                <li>
                    <h3>Re-energizing Canada - pathways to a low-carbon future
                        <a target="_blank"  href="http://sustainablecanadadialogues.ca/en/scd/energy" target="_blank">http://sustainablecanadadialogues.ca/en/scd/energy</a>
                    </h3>
                </li>
            </ul>

        </section>

    </div>


    <div class="row">

        <h2>
            <b>Other</b>
        </h2>

        <section class="fg2">
            <div class="image">
                <img class="image" src="../img/city.jpg" alt="cee-thumbnail" style="width:100%" />
            </div>
        </section>

        <section class="fg10">

            <ul>
                <h2 class="top-h2">
                    <b>Metro Vancouver</b>
                </h2>
                <li>
                    <h3>Metro Vancouver growth projection 2006-2041
                        <a  target="_blank" href="http://www.metrovancouver.org/services/regional-planning/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/regional-planning/Pages/default.aspx</a>
                </li>
                </h3>
                <li>
                    <h3>Regional Growth Strategy: 5 Goals
                        <a target="_blank"  href="http://www.metrovancouver.org/services/regional-planning/PlanningPublications/RGSAdoptedbyGVRDBoard.pdf" target="_blank">http://www.metrovancouver.org/services/regional-planning/PlanningPublications/RGSAdoptedbyGVRDBoard.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Air emissions and GHG sources
                        <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/air-quality/Pages/default.aspx</a>
                </li>
                </h3>
                <li>
                    <h3>GHG management plan and emission-based performance measures by pollutant (GHG per capita, by source and
                        projection to 2025)
                        <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/2014IAQGGMPProgressReport.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/2014IAQGGMPProgressReport.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Corporate Climate Action Plan: GHG reduction strategies and plan, Adaptation strategies and plan</a>
                </li>
                </h3>
                <li>
                    <h3>Climate Change programs
                        <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/climate-action/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/air-quality/climate-action/Pages/default.aspx</a>
                </li>
                </h3>
                <li>
                    <h3>2016 Regional Climate Projections and Adaptation + maps
                        <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/ClimateProjectionsForMetroVancouver.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/ClimateProjectionsForMetroVancouver.pdf
                            (Global average surface tempreture change and RCPs, climate projection for Metro Vancouver, precipitation,
                            Regional impacts on climate change)</a>
                </li>
                </h3>
                <li>
                    <h3>Climate change assumptions and estimated change, Future sea level change scenarios
                        <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/Vulnerability_climate_change_2009.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/Vulnerability_climate_change_2009.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Sea level rise in BC
                        <a target="_blank"  href="http://www2.gov.bc.ca/assets/gov/environment/climate-change/policy-legislation-and-responses/adaptation/sea-level-rise/sea-level-changes-08.pdf" target="_blank">http://www2.gov.bc.ca/assets/gov/environment/climate-change/policy-legislation-and-responses/adaptation/sea-level-rise/sea-level-changes-08.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Annual Mapping Data
                        <a  target="_blank" href="http://www.metrovancouver.org/services/regional-planning/data-statistics/annual-planning-data/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/regional-planning/data-statistics/annual-planning-data/Pages/default.aspx</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Community Energy Association</b>
                </h2>
                <li>
                    <h3>Funding community energy and climate change initiatives
                        <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                </li>
                </h3>
                <li>
                    <h3>Investing in green energy (Introduction to clean energy solution, roject development process)</a>
                </li>
                </h3>
                <li>
                    <h3>Renewable energy fund for local governments in BC
                        <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                </li>
                </h3>
                <li>
                    <h3>Clean energy for a green economy
                        <a target="_blank"  href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                </li>
                </h3>
                <li>
                    <h3>Fuel efficiency and EV
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=transportation" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=transportation</a>
                </li>
                </h3>
                <li>
                    <h3>Small scale district heating, Biomass heating, Heating our community, Ground source heat pump
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                </li>
                </h3>
                <li>
                    <h3>FIRSTHeat (Fire Interact Rural Screening Tool (Biomass))
                        <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                </li>
                </h3>
                <li>
                    <h3>Energy efficiency in buildings, Home energy retrofit and efficiency analysis, Modeling High-impact measures
                        for buildings (sustainable community energy planning, UBC 100 years modeling, community energy policy
                        (2010))
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=efficiency" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=efficiency</a>
                </li>
                </h3>
                <li>
                    <h3>Renewable energy funding and investment,
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                </li>
                </h3>
                <li>
                    <h3>District and neighborhood heating (percent of communities with actions in each area, GHG emission by
                        buildings per capita)
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                </li>
                </h3>
                <li>
                    <h3>Powering our communities
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                </li>
                </h3>
                <li>
                    <h3>Local government energy utilities and utilities financing
                        <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Pembina</b>
                </h2>
                <li>
                    <h3>Building energy retrofit potential in BC
                        <a href="http://www.pembina.org/docs/event/netzeroforum-backgrounder-2016.pdf" target="_blank">http://www.pembina.org/docs/event/netzeroforum-backgrounder-2016.pdf (business as usual vs. retrofit
                            scenario graph, retrofit types and costs, energy use in BC buildings)</a>
                </li>
                </h3>
                <li>
                    <h3>BC clean energy jobs map
                        <a href="http://www.pembina.org/bcjobsmap/" target="_blank">http://www.pembina.org/bcjobsmap/</a>
                </li>
                </h3>
                <li>
                    <h3>BC green buildings map
                        <a href="http://www.pembina.org/buildings" target="_blank">http://www.pembina.org/buildings</a>
                </li>
                </h3>
                <li>
                    <h3>Vancouver&#39;s Zero Emissions Building Plan
                        <a href="http://www.pembina.org/pub/green-buildings-policy-rezonings" target="_blank">http://www.pembina.org/pub/green-buildings-policy-rezonings</a>
                </li>
                </h3>
                <li>
                    <h3>Market Transformation for High-Performance Buildings (Passive House)
                        <a href="http://www.pembina.org/pub/passive-house-report" target="_blank">http://www.pembina.org/pub/passive-house-report</a>
                </li>
                </h3>
                <li>
                    <h3>Finances of energy upgrade
                        <a href="http://www.pembina.org/reports/energy-assessment-procter-old-schoolhouse.pdf" target="_blank">http://www.pembina.org/reports/energy-assessment-procter-old-schoolhouse.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>How solar and wind lower your power bill
                        <a href="http://www.pembina.org/pub/how-solar-and-wind-lower-Alberta-power-bills" target="_blank">http://www.pembina.org/pub/how-solar-and-wind-lower-Alberta-power-bills</a>
                </li>
                </h3>
                <li>
                    <h3>Renewable is doable (costs, demand, ... for Ontario)
                        <a href="http://www.pembina.org/pub/2479" target="_blank">http://www.pembina.org/pub/2479</a>
                </li>
                </h3>
                <li>
                    <h3>BC climate plan and green buildings
                        <a href="http://www.pembina.org/blog/bc-buildings-climate" target="_blank">http://www.pembina.org/blog/bc-buildings-climate</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>PICS</b>
                </h2>
                <li>
                    <h3>The Path to “Net-Zero Energy” Buildings in BC (Deep energy efficiency)
                        <a href="http://www.pics.uvic.ca/sites/default/files/uploads/publications/Pembina" target="_blank">http://www.pics.uvic.ca/sites/default/files/uploads/publications/Pembina net zero-for web.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Evolution of Energy Efficiency Requirements (efficiency improvements and ZNE growth)
                        <a href="http://www.pics.uvic.ca/sites/default/files/uploads/publications/Pembina-Evolution" target="_blank">http://www.pics.uvic.ca/sites/default/files/uploads/publications/Pembina-Evolution of Energy Efficiency.pdf</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Climate Action Secretariat:</b>
                </h2>
                <li>
                    <h3>2015 Total GHG emission and energy information in public sector and building emission and energy information
                        in public sector
                        <a href="http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/cng/cng-yir-2015-final5.pdf" target="_blank">http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/cng/cng-yir-2015-final5.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>2015 Total GHG emission and energy information in school district, health authorities, crown corporations,
                        universities and colleges, core government</a>
                </li>
                </h3>
                <li>
                    <h3>2015 offset project map and offset investment</a>
                </li>
                </h3>
                <li>
                    <h3>2014 Community Energy and Emissions Inventory Initiative
                        <a href="http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/community-energy-and-emissions-inventory-ceei/ceei_techmethods_guidance_final.pdf" target="_blank">http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/community-energy-and-emissions-inventory-ceei/ceei_techmethods_guidance_final.pdf</a>
                </li>
                </h3>
                <li>
                    <h3>Provincial inventory tables, 1990 - 2014 (residential, transport, waste, etc.)
                        <a href="http://www2.gov.bc.ca/gov/content/environment/climate-change/reports-data/provincial-ghg-inventory" target="_blank">http://www2.gov.bc.ca/gov/content/environment/climate-change/reports-data/provincial-ghg-inventory</a>
                </li>
                </h3>
                <li>
                    <h3>Methane generation up to 2010
                        <a href="http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/community-energy-and-emissions-inventory-ceei/ceei_techmethods_guidance_final.pdf" target="_blank">http://www2.gov.bc.ca/assets/gov/environment/climate-change/reports-and-data/community-energy-and-emissions-inventory-ceei/ceei_techmethods_guidance_final.pdf</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Pacific Climate Impacts Consortium</b>
                </h2>
                <li>
                    <h3>Downscale GCM maps
                        <a href="http://tools.pacificclimate.org/dataportal/downscaled_gcms/map/" target="_blank">http://tools.pacificclimate.org/dataportal/downscaled_gcms/map/</a>
                </li>
                </h3>
                <li>
                    <h3>PLAN2ADAPT tool up to 20100 (climate model projections)
                        <a href="https://pacificclimate.org/analysis-tools/plan2adapt" target="_blank">https://pacificclimate.org/analysis-tools/plan2adapt</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Federation of Canadian Municipalities</b>
                </h2>
                <li>
                    <h3>Canadian Communities Guidebook for Adaptation to Climate Change (case studies)
                        <a href="https://www.fcm.ca/Documents/tools/PCP/canadian_communities_guidebook_for_adaptation_to_climate_change_EN.pdf" target="_blank">https://www.fcm.ca/Documents/tools/PCP/canadian_communities_guidebook_for_adaptation_to_climate_change_EN.pdf</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>ICLEI</b>
                </h2>
                <li>
                    <h3>Changing Climate, Changing Communities Guide (changes in climate condition,
                        <a href="http://www.icleicanada.org/component/k2/item/3-changing-climate-changing-communities" target="_blank">http://www.icleicanada.org/component/k2/item/3-changing-climate-changing-communities</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Pando</b>
                </h2>
                <li>
                    <h3>This New Neighborhood Will Grow Its Own Food, Power Itself, And Handle Its Own Waste Getting Started
                        with the SDGs in Cities: A Guide for Local Stakeholders</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Skeptical Scientist</b>
                </h2>
                <li>
                    <h3>Comparison between atmospheric concentration of CH4 and CO2, How do we know this climate change thing
                        is even real? (video), Contribution of different factors to CO2 emission
                        <a href="http://www.skepticalscience.com" target="_blank">http://www.skepticalscience.com</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Environment and Climate Change Canada</b>
                </h2>
                <li>
                    <h3>Canadian Centre for Climate Modelling and Analysis
                        <a href="http://ec.gc.ca/ccmac-cccma/default.asp?lang=En&n=4A642EDE-1" target="_blank">http://ec.gc.ca/ccmac-cccma/default.asp?lang=En&n=4A642EDE-1</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Province of BC</b>
                </h2>
                <li>
                    <h3>Change in Sea Level in BC (1910-2014)
                        <a href="https://catalogue.data.gov.bc.ca/dataset/change-in-sea-level-in-bc-1910-2014-" target="_blank">https://catalogue.data.gov.bc.ca/dataset/change-in-sea-level-in-bc-1910-2014-</a>
                </li>
                </h3>
                <li>
                    <h3>Change in Sea Surface Temperature in BC (1935-2014)
                        <a href="https://catalogue.data.gov.bc.ca/dataset/change-in-sea-surface-temperature-in-bc-1935-2014-" target="_blank">https://catalogue.data.gov.bc.ca/dataset/change-in-sea-surface-temperature-in-bc-1935-2014-</a>
                </li>
                </h3>
                <li>
                    <h3>British Columbia Greenhouse Gas Emissions ARCHIVE
                        <a href="https://catalogue.data.gov.bc.ca/dataset/british-columbia-greenhouse-gas-emissions-archive" target="_blank">https://catalogue.data.gov.bc.ca/dataset/british-columbia-greenhouse-gas-emissions-archive</a>
                </li>
                </h3>
                <li>
                    <h3>Consolidated Community Energy and Emissions Inventory Reports
                        <a href="https://catalogue.data.gov.bc.ca/dataset/consolidated-community-energy-and-emissions-inventory-reports" target="_blank">https://catalogue.data.gov.bc.ca/dataset/consolidated-community-energy-and-emissions-inventory-reports</a>
                </li>
                </h3>
                <li>
                    <h3>Climate indicators for BC Census Subdivisions
                        <a href="https://catalogue.data.gov.bc.ca/dataset/climate-indicators-for-bc-census-subdivisions" target="_blank">https://catalogue.data.gov.bc.ca/dataset/climate-indicators-for-bc-census-subdivisions</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Energy BC</b>
                </h2>
                <li>
                    <h3>Compare Energy Sources (convertor tool)
                        <a href="http://www.energybc.ca/other/converter.html" target="_blank">http://www.energybc.ca/other/converter.html</a>
                </li>
                </h3>
                <li>
                    <h3>Energy use and GDP in Canada, GHG by source,
                        <a href="http://www.energybc.ca/usage/usage.html" target="_blank">http://www.energybc.ca/usage/usage.html</a>
                </li>
                </h3>

                <h2 class="top-h2">
                    <b>Centre for Energy</b>
                </h2>
                <li>
                    <h3>Reasons to invest in renewable energy, facts about renewable energy, why renewable energy is taking the
                        world
                        <a href="http://www.centreforenergy.com/7-reasons-why-you-should-invest-in-renewable-energy/" target="_blank">http://www.centreforenergy.com/7-reasons-why-you-should-invest-in-renewable-energy/
                        </a>
                </li>
                </h3>


            </ul>

    </div>

    {#<div class="section-14">
        <div class="container-fluid custom-container-4" style="margin-bottom: 5%">
            <img src="img/redesign/Group-864.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 3%; width: 700px;">
            <h1 style="text-align: center; color: #878786; font-size: 35px;">UNDER CONSTRUCTION</h1>
            <h2 style="text-align: center; color: #878786; font-size: 20px;">we're relaunching this page soon</h2>
            <h2 style="text-align: center; color: #878786; font-size: 20px;">(Monday, November 19, 2018)</h2>
        </div>
    </div>#}

    {% endblock content %} {% block scripts %} {% parent %}
    {#<script type="text/javascript" src="js/resources.js" defer></script>#} 
    {% endblock scripts %}
