{% extends 'layout.html' %} {% block title %}{% parent %} - Resources{% endblock %} {% block head %} {% parent %}
{#<link rel="stylesheet" href="/styles/css/resources.css">#} 
{% endblock head %} {% block content %} {% parent %}

{% include "./components/navbar-toolsAndResources.html" %}
{% include "./components/navbar-toolsAndResources-overview.html" %}

<style type="text/css">
  .top-h2{
    line-height:1.5
  }
</style>
<div class="container-fluid">

    <div class="row">

        <h2>
            <b>1. CALP Resources</b>
        </h2>

        <section class="fg10">

            <ul>
                <h3>
                    <b>1.1.	Related to the Community Energy Explorer (CEE)</b>
                </h3>

                <ul>
                    <h4>
                        <b>Community Energy Guide</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>
                                This guide shows how local involvement in community energy systems can promote more sustainable 
                                and secure energy futures: 
                                <a target="_blank" href="https://calp.forestry.ubc.ca/files/2023/02/CALP_CommunityEnergyGuide.pdf" rel="noopener noreferrer">View guide</a>
                            </h4>
                        </li>
                    </ul>                    
                    <h4>
                        <b>CEE Brochure</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>
                                Building Community Capacity on Local Energy
                                <a target="_blank" href="https://calp.forestry.ubc.ca/files/2023/02/CALP_CommunityEnergyGuide.pdf" rel="noopener noreferrer">View brochure</a>
                            </h4>
                        </li>
                    </ul>

                    <h4>
                        <b>Developer's Guide</b>
                    </h4>
                        <ul>
                           <li>
                                <h4>
                                    This guide provides communities outside of Metro Vancouver with information and resources to create a 
                                    localized platform for exploring community energy.
                                    <br/> <a target="_blank" href="../files/Developers-Guide-final.pdf">View guide</a>
                                </h4>
                            </li> 
                        </ul>
                        
                    
                    <h4>
                        <b>CEE Initial Interview / Feedback Report</b>
                    </h4>
                        <ul>
                            <li>
                                <h4>
                                    Feedback through interviews from various sectors relating to community energy and planning (conducted in 2018):
                                    <a href="../files/cee_interview_report.pdf" target="_blank">Final report</a>
                                </h4>
                            </li> 
                        </ul>   
                </ul>

                <h3>
                    <b>1.2. Other Relevant Resources</b>
                </h3>

                <ul>
                    <h4>
                        <b>Thermal Imaging</b>
                    </h4>
                    <ul>
                       <li>
                            <h4>
                                Prepared for the City of Vancouver with an overview and recommendations on the use of thermal 
                                imaging for energy efficiency retrofits that can promote the uptake of energy efficiency measures 
                                amongst homeowners. 
                                <a href="https://calp.forestry.ubc.ca/files/2016/05/Thermal-Imaging-Report.pdf" target="_blank" rel="noopener noreferrer">View report</a>
                            </h4>
                        </li> 
                    </ul>

                    <h4>
                        <b>Energy Retrofit Bundling</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>
                                Prepared for City of Vancouver, this report reviews existing policies and practices from other jurisdictions to 
                                identify the potential for implementing a building energy retrofit program for low-rise residential buildings in Canada. 
                                Specifically, the report focuses on the potential of single family homes in Vancouver to meet its carbon emissions reduction goals.
                                <a href="https://calp.forestry.ubc.ca/files/2019/06/Home-Energy-Retrofit-Bundling-Report_2019.pdf" target="_blank" rel="noopener noreferrer">View report</a>
                            </h4>
                        </li> 
                    </ul>

                    <h4>
                        <b>Social Mobilization Research</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>
                                Prepared for the Pacific Institute for Climate Solutions (PICS), this report explains “what works” and “what doesn't work” in engaging 
                                the public and motivating people to act on climate change solutions. Included in this report is a brief summary of the BC context for social mobilization, 
                                as well as key findings from the literature on psychology of behaviour change, social movements, social learning and place-based approaches. 
                                <a href="https://calp.forestry.ubc.ca/files/2016/05/soc_mob_report.pdf" target="_blank" rel="noopener noreferrer">View report</a>
                            </h4>
                        </li> 
                    </ul>

                    <h4>
                        <b>Citizen Coolkit</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>
                                The Urban Forestry Toolkit is a structured, visual and fun guide for people to engage their blocks on issues 
                                and solutions related to urban forestry and climate change. The project will develop tools and guides to gradually 
                                ramp up community engagement through conversations, maps, visioning and action.
                                <a href="https://calp.forestry.ubc.ca/files/2017/10/Coolkit-revision-22.compressed.pdf" target="_blank" rel="noopener noreferrer">View Toolkit</a>
                            </h4>
                        </li>
                    </ul>
                        
                    
                    <h4>
                        <b>Future Delta 2.0</b>
                    </h4>
                    <ul>
                         <li>
                            <h4>
                                The Future Delta 2.0 (FD2) videogame enables real-time exploration and querying of local climate change scenarios 
                                in the player's own backyard, addressing issues such as sea-level rise, extreme weather, dikes, community energy, 
                                environmental refugees, etc. The game experience hopes to mobilize discussions around the realities of climate 
                                change, as well as stimulate action on possible adaptation and mitigation solutions. 
                                <!--a href="http://futuredelta2.ca" target="_blank">Visit website</a-->
                            </h4>
                        </li>  
                    </ul>      
                </ul>     
            </ul>
        </section>
    </div>

    <div class="row">
        
        <h2>
            <b>2. Resources listed on the CEE website</b>
        </h2>

        <ul>
            <ul>
                <h3>
                    <b>2.1. Energy 101</b>
                </h3> 
                
                <section class="fg2">
                    <div class="image">
                        <img class="image" src="../img/neighborhood_4.jpg" alt="cee-thumbnail" style="width:100%" />
                    </div>
                </section>
            </ul>  
        </ul>
        

        <section class="fg10">
            <ul>
            <ul>
                <ul>
                    <li>
                        <h4>Nott Energy
                            <a  target="_blank" href="https://nottenergy.com/contact/" target="_blank">https://nottenergy.com/contact/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Walkability Score
                            <a target="_blank"  href="http://www.walkscore.com/" target="_blank">http://www.walkscore.com/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Electric Vehicle BC
                            <a  target="_blank" href="http://pluginbc.ca/" target="_blank">http://pluginbc.ca/</a>
                        </h4>
                    </li>
                    <li>
                        <h4> Retrofit Challenge in Delta
                            <a target="_blank"  href="https://www.reibc.org/retrofit_challenge.html" target="_blank">https://www.reibc.org/retrofit_challenge.html</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Eagle Island Community-Wide Retrofit
                            <a target="_blank" href="http://www.mc-3.ca/eagle-island">http://www.mc-3.ca/eagle-island</a></h4>
                    </li>
                    <li>
                        <h4>Energy Save New West
                            <a  target="_blank" href="http://www.energysavenewwest.ca/existing-homes/" target="_blank">http://www.energysavenewwest.ca/existing-homes/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Blower Door Test
                            <a target="_blank" href="https://www.energy.gov/energysaver/blower-door-tests">https://www.energy.gov/energysaver/blower-door-tests</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Design Centre for Sustainability UBC
                            <a target="_blank"  href="http://www.sxd.sala.ubc.ca/" target="_blank">http://www.sxd.sala.ubc.ca/</a>
                        </h4>
                    </li>
                    <li>
                        <h4> BC Energy Step Code
                            <a  target="_blank" href="https://energystepcode.ca/" target="_blank">https://energystepcode.ca/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>100 year sustainability plan North Vancouver
                            <a target="_blank"  href="http://www.cnv.org/your-government/sustainability-in-the-city/city-initiatives/100-year-sustainability-vision" target="_blank">http://www.cnv.org/your-government/sustainability-in-the-city/city-initiatives/100-year-sustainability-vision</a>
                        </h4>
                    </li>
                </ul>
            </ul>
            </ul>
        </section>

    </div>



    <div class="row">

        <ul>
            <ul>
                <h3>
                    <b>2.2. Hot Topics</b>
                </h3> 

                <section class="fg2">
                    <div class="image">
                        <img class="image" src="../img/neighborhood_2.jpg" alt="cee-thumbnail" style="width:100%" />
                    </div>
                </section>
            </ul>
        </ul>
        

        <section class="fg10">

            <ul>

            <ul>
                <h4>
                    <b>Large-scale redevelopment</b>
                </h4>
                <ul>
                    <li>
                        <h4>Vertical geoexchange system
                            <a  target="_blank" href="https://www.richmond.ca/sustainability/energysrvs/DistEnatCity.htm" target="_blank">https://www.richmond.ca/sustainability/energysrvs/DistEnatCity.htm</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Bioenergy community district energy system
                            <a  target="_blank" href="http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/" target="_blank">http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Dockside green
                            <a target="_blank"  href="http://www.docksidegreen.com/" target="_blank">http://www.docksidegreen.com/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Solar calculator north vancouver
                            <a  target="_blank" href="http://www.geoweb.dnv.org/applications/solarapp/" target="_blank">http://www.geoweb.dnv.org/applications/solarapp/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Urban Development Institute Centra
                            <a target="_blank"  href="http://udi.bc.ca/udi-central/" target="_blank">http://udi.bc.ca/udi-central/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>City of New Westminster Royal Columbian Hospital Redevelopment
                            <a target="_blank"  href="https://www.newwestcity.ca/planning-building-and-development/projects-on-the-go/articles/4964.php" target="_blank">https://www.newwestcity.ca/planning-building-and-development/projects-on-the-go/articles/4964.php</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Oakridge Centre Redevelopment
                            <a target="_blank"  href="http://vancouver.ca/home-property-development/oakridge-redevelopment.aspx" target="_blank">http://vancouver.ca/home-property-development/oakridge-redevelopment.aspx</a>
                        </h4>
                    </li> 
                </ul>
                
                <h4>
                    <b>Community-wide Retrofit</b>
                </h4>
                <ul>
                    <li>
                        <h4>Natural Resouce Canada Energuide
                            <a target="_blank"  href="http://www.nrcan.gc.ca/energy/products/energuide/12523" target="_blank">http://www.nrcan.gc.ca/energy/products/energuide/12523</a>
                        </h4>
                    </li>
                    <li>
                        <h4>BC Hydro Home Renovation Rebates
                            <a  target="_blank" href="https://www.bchydro.com/powersmart/residential/savings-and-rebates/current-rebates-buy-backs/home-renovation-rebates.html?WT.mc_id=rd_homerebates" target="_blank">https://www.bchydro.com/powersmart/residential/savings-and-rebates/current-rebates-buy-backs/home-renovation-rebates.html?WT.mc_id=rd_homerebates</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Fortis BC Home Renovation
                            <a  target="_blank" href="https://www.fortisbc.com/Rebates/RebatesOffers/HomeRenovationRebateProgram/Pages/default.aspx" target="_blank">https://www.fortisbc.com/Rebates/RebatesOffers/HomeRenovationRebateProgram/Pages/default.aspx</a>
                        </h4>
                    </li>
                    <li>
                        <h4>City of Vancouver Incentives and Rebates
                            <a  target="_blank" href="http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx" target="_blank">http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Energy Save New West
                            <a target="_blank"  href="http://www.energysavenewwest.ca/" target="_blank">http://www.energysavenewwest.ca/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>New Westminster Urban Forestry Management Strategy
                            <a  target="_blank" href="https://www.newwestcity.ca/services/environment-and-sustainability/urban-forest-management-strategy" target="_blank">https://www.newwestcity.ca/services/environment-and-sustainability/urban-forest-management-strategy</a>
                        </h4>
                    </li> 
                </ul>

                <h4>
                    <b>Renewable Energy Policy</b>
                </h4>   
                <ul>
                    <li>
                        <h4>Drake landing solar community
                            <a target="_blank"  href="https://www.dlsc.ca/" target="_blank">https://www.dlsc.ca/</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Victoria Renewable City Strategy
                            <a target="_blank"  href="http://www.renewablecities.ca/news-updates/victoria-bc-adopts-community-wide-100-renewable-energy-target" target="_blank">http://www.renewablecities.ca/news-updates/victoria-bc-adopts-community-wide-100-renewable-energy-target</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Vancouver Renewable City Strategy
                            <a  target="_blank" href="http://vancouver.ca/green-vancouver/renewable-city.aspx" target="_blank">http://vancouver.ca/green-vancouver/renewable-city.aspx</a>
                        </h4>
                    </li>
                    <li>
                        <h4>Re-energizing Canada - pathways to a low-carbon future
                            <a target="_blank"  href="http://sustainablecanadadialogues.ca/en/scd/energy" target="_blank">http://sustainablecanadadialogues.ca/en/scd/energy</a>
                        </h4>
                    </li>
                </ul> 
            </ul>
            </ul>

        </section>

    </div>

    <div class="row">

        <h2>
            <b>3. Additional Resources from Partner Organisations</b>
        </h2>
        
        <section class="fg10">
        
            <ul>
                <h3>
                    <b>3.1. Metro Vancouver</b>
                </h3>
            </ul>

            <ul>
                <ul>   
                    <li>
                        <h4>2016 Regional Climate Projections and Adaptation + maps
                            <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/ClimateProjectionsForMetroVancouver.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/ClimateProjectionsForMetroVancouver.pdf
                                (Global average surface tempreture change and RCPs, climate projection for Metro Vancouver, precipitation,
                                Regional impacts on climate change)</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Air emissions and GHG sources
                            <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/air-quality/Pages/default.aspx</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Annual Mapping Data
                            <a  target="_blank" href="http://www.metrovancouver.org/services/regional-planning/data-statistics/annual-planning-data/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/regional-planning/data-statistics/annual-planning-data/Pages/default.aspx</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Climate change assumptions and estimated change, Future sea level change scenarios
                            <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/Vulnerability_climate_change_2009.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/Vulnerability_climate_change_2009.pdf</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Climate Change programs
                            <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/climate-action/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/air-quality/climate-action/Pages/default.aspx</a>
                    </li>
                    </h4> 
                    <li>
                        <h4>GHG management plan and emission-based performance measures by pollutant (GHG per capita, by source and
                            projection to 2025)
                            <a target="_blank"  href="http://www.metrovancouver.org/services/air-quality/AirQualityPublications/2014IAQGGMPProgressReport.pdf" target="_blank">http://www.metrovancouver.org/services/air-quality/AirQualityPublications/2014IAQGGMPProgressReport.pdf</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Metro Vancouver growth projection 2006-2041
                            <a  target="_blank" href="http://www.metrovancouver.org/services/regional-planning/Pages/default.aspx" target="_blank">http://www.metrovancouver.org/services/regional-planning/Pages/default.aspx</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Regional Growth Strategy: 5 Goals
                            <a target="_blank"  href="http://www.metrovancouver.org/services/regional-planning/PlanningPublications/RGSAdoptedbyGVRDBoard.pdf" target="_blank">http://www.metrovancouver.org/services/regional-planning/PlanningPublications/RGSAdoptedbyGVRDBoard.pdf</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Sea level rise in BC
                            <a target="_blank"  href="http://www.env.gov.bc.ca/soe/indicators/climate-change/sea-level.html" target="_blank">http://www.env.gov.bc.ca/soe/indicators/climate-change/sea-level.html</a>
                    </li>
                    </h4>
                </ul>

                <h3>
                    <b>3.2. PICS</b>
                </h3>
                <ul>
                    <li>
                        <h4>Evolution of Energy Efficiency Requirements (efficiency improvements and ZNE growth)
                            <a href="https://www.pembina.org/reports/pembina-evolution-of-energy-efficiency.pdf" target="_blank">https://www.pembina.org/reports/pembina-evolution-of-energy-efficiency.pdf</a>
                    </li>
                    </h4> 
                    <li>
                        <h4>The Path to “Net-Zero Energy” Buildings in BC (Deep energy efficiency)
                            <a href="https://pics.uvic.ca/sites/default/files/uploads/publications/Pembina%20net%20zero-for%20web.pdf" target="_blank">https://pics.uvic.ca/sites/default/files/uploads/publications/Pembina%20net%20zero-for%20web.pdf</a>
                    </li>
                    </h4>
                </ul>

                <h3>
                    <b>3.3. Community Energy Association</b>
                </h3>
                <ul>
                    <li>
                        <h4>Clean energy for a green economy
                            <a target="_blank"  href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                    </li>
                    </h4>
                    <li>
                        <h4>District and neighborhood heating (percent of communities with actions in each area, GHG emission by
                            buildings per capita)
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Energy efficiency in buildings, Home energy retrofit and efficiency analysis, Modeling High-impact measures
                            for buildings (sustainable community energy planning, UBC 100 years modeling, community energy policy
                            (2010))
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=efficiency" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=efficiency</a>
                    </li>
                    </h4>
                    <li>
                        <h4>FIRSTHeat (Fire Interact Rural Screening Tool (Biomass))
                            <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Fuel efficiency and EV
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=transportation" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=transportation</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Funding community energy and climate change initiatives
                            <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Local government energy utilities and utilities financing
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Powering our communities
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Renewable energy fund for local governments in BC
                            <a  target="_blank" href="http://communityenergy.bc.ca/?dlm_download_category=economics" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=economics</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Renewable energy funding and investment,
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=renewable-energy-guide</a>
                    </li>
                    </h4>
                    <li>
                        <h4>Small scale district heating, Biomass heating, Heating our community, Ground source heat pump
                            <a href="http://communityenergy.bc.ca/?dlm_download_category=heating" target="_blank">http://communityenergy.bc.ca/?dlm_download_category=heating</a>
                    </li>
                    </h4>  
                </ul>

                <h3>
                    <b>3.4. ESRI Canada</b>
                </h3>

                <ul>
                    <li>
                        <h4>
                            General resources 
                            <a href="https://resources.esri.ca/" target="_blank">https://resources.esri.ca/</a>     
                    </li>
                    </h4>
                    <li>
                        <h4>
                            Lesson plan on ‘Exploring Climate Change in my Community’ based on the Citizen’s Coolkit  
                            <a href="https://calp2016.sites.olt.ubc.ca/files/2019/07/2019-March_Climate-Change-in-my-Community_Coolkit-LP-with-ESRI-Canada.pdf" target="_blank">https://calp2016.sites.olt.ubc.ca/files/2019/07/2019-March_Climate-Change-in-my-Community_Coolkit-LP-with-ESRI-Canada.pdf</a>     
                    </li>
                    </h4>
                </ul>  
            </ul>    
        </section>
    </div>

    <div class="row">

            <h2>
                <b>4. Additional Resources from Other Organisations</b>
            </h2>
            
            <section class="fg10">

                <ul>
    
                    <h3>
                        <b>4.1. Pembina</b>
                    </h3>

                    <ul>
                        <li>
                            <h4>BC clean energy jobs map
                                <a href="http://www.pembina.org/bcjobsmap/" target="_blank">http://www.pembina.org/bcjobsmap/</a>
                        </li>
                        </h4>
                        <li>
                            <h4>BC climate plan and green buildings
                                <a href="http://www.pembina.org/blog/bc-buildings-climate" target="_blank">http://www.pembina.org/blog/bc-buildings-climate</a>
                        </li>
                        </h4>
                        <li>
                            <h4>BC green buildings map
                                <a href="https://www.pembina.org/bcgreenbuildings/" target="_blank">https://www.pembina.org/bcgreenbuildings/</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Building energy retrofit potential in BC
                                <a href="http://www.pembina.org/docs/event/netzeroforum-backgrounder-2016.pdf" target="_blank">http://www.pembina.org/docs/event/netzeroforum-backgrounder-2016.pdf (business as usual vs. retrofit
                                    scenario graph, retrofit types and costs, energy use in BC buildings)</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Finances of energy upgrade
                                <a href="http://www.pembina.org/reports/energy-assessment-procter-old-schoolhouse.pdf" target="_blank">http://www.pembina.org/reports/energy-assessment-procter-old-schoolhouse.pdf</a>
                        </li>
                        </h4>
                        <li>
                            <h4>How solar and wind lower your power bill
                                <a href="http://www.pembina.org/pub/how-solar-and-wind-lower-Alberta-power-bills" target="_blank">http://www.pembina.org/pub/how-solar-and-wind-lower-Alberta-power-bills</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Market Transformation for High-Performance Buildings (Passive House)
                                <a href="http://www.pembina.org/pub/passive-house-report" target="_blank">http://www.pembina.org/pub/passive-house-report</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Renewable is doable (costs, demand, ... for Ontario)
                                <a href="http://www.pembina.org/pub/2479" target="_blank">http://www.pembina.org/pub/2479</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Vancouver&#39;s Zero Emissions Building Plan
                                <a href="http://www.pembina.org/pub/green-buildings-policy-rezonings" target="_blank">http://www.pembina.org/pub/green-buildings-policy-rezonings</a>
                        </li>
                        </h4>  
                    </ul>

                    <h3>
                        <b>4.2. Pacific Climate Impacts Consortium</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Downscale GCM maps
                                <a href="http://tools.pacificclimate.org/dataportal/downscaled_gcms/map/" target="_blank">http://tools.pacificclimate.org/dataportal/downscaled_gcms/map/</a>
                        </li>
                        </h4>
                        <li>
                            <h4>PLAN2ADAPT tool up to 20100 (climate model projections)
                                <a href="https://pacificclimate.org/analysis-tools/plan2adapt" target="_blank">https://pacificclimate.org/analysis-tools/plan2adapt</a>
                        </li>
                        </h4> 
                    </ul>

                    <h3>
                        <b>4.3. Federation of Canadian Municipalities</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Canadian Communities Guidebook for Adaptation to Climate Change (case studies)
                                <a href="https://www.fcm.ca/Documents/tools/PCP/canadian_communities_guidebook_for_adaptation_to_climate_change_EN.pdf" target="_blank">https://www.fcm.ca/Documents/tools/PCP/canadian_communities_guidebook_for_adaptation_to_climate_change_EN.pdf</a>
                        </li>
                        </h4> 
                    </ul>
                        
    
                    <h3>
                        <b>4.4. ICLEI</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Changing Climate, Changing Communities Guide (changes in climate condition,
                                <a href="http://www.icleicanada.org/component/k2/item/3-changing-climate-changing-communities" target="_blank">http://www.icleicanada.org/component/k2/item/3-changing-climate-changing-communities</a>
                        </li>
                        </h4>

                        <h4>
                            <b>4.4.1. Pando.sc</b>
                        </h4>
                        <ul>
                            <li>
                                <h4>Pando.sc is an online community with a collaborative focus, where researchers and sustainability practitioners share knowledge, network, and work toward solutions that can be enacted at the community level— solutions such as green building, reduction and recycling of local waste, water management, participatory democracy, land use, and much more
                                    <a href="http://www.pando.sc/" target="_blank">http://www.pando.sc/</a>
                            </li>
                            </h4>  
                        </ul>     
                    </ul>

                    <h3>
                        <b>4.5. Skeptical Scientist</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Comparison between atmospheric concentration of CH4 and CO2, How do we know this climate change thing
                                is even real? (video), Contribution of different factors to CO2 emission
                                <a href="http://www.skepticalscience.com" target="_blank">http://www.skepticalscience.com</a>
                        </li>
                        </h4> 
                    </ul>

                    <h3>
                        <b>4.6. Environment and Climate Change Canada</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Canadian Centre for Climate Modelling and Analysis
                                <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/science-research-data/modeling-projections-analysis/centre-modelling-analysis.html" target="_blank">https://www.canada.ca/en/environment-climate-change/services/climate-change/science-research-data/modeling-projections-analysis/centre-modelling-analysis.html</a>
                        </li>
                        </h4> 
                    </ul>

                    <h3>
                        <b>4.7. Province of BC</b>
                    </h3>
                    <h4>
                        <b>Data Catalogue</b>
                    </h4>
                    <ul>
                        <li>
                            <h4>British Columbia Greenhouse Gas Emissions ARCHIVE
                                <a href="https://catalogue.data.gov.bc.ca/dataset/british-columbia-greenhouse-gas-emissions-archive" target="_blank">https://catalogue.data.gov.bc.ca/dataset/british-columbia-greenhouse-gas-emissions-archive</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Climate indicators for BC Census Subdivisions
                                <a href="https://catalogue.data.gov.bc.ca/dataset/climate-indicators-for-bc-census-subdivisions" target="_blank">https://catalogue.data.gov.bc.ca/dataset/climate-indicators-for-bc-census-subdivisions</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Consolidated Community Energy and Emissions Inventory Reports
                                <a href="https://catalogue.data.gov.bc.ca/dataset/consolidated-community-energy-and-emissions-inventory-reports" target="_blank">https://catalogue.data.gov.bc.ca/dataset/consolidated-community-energy-and-emissions-inventory-reports</a>
                        </li>
                        </h4>
                    </ul>   
                    <h4>
                        <b>Climate Action Secretariat</b>
                    </h4> 
                    <ul>
                        <li>
                            <h4>CleanBC:
                                <a href="https://cleanbc.gov.bc.ca/" target="_blank">https://cleanbc.gov.bc.ca/</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Community energy and emissions inventory:
                                <a href="https://www2.gov.bc.ca/gov/content/environment/climate-change/data/ceei" target="_blank">https://www2.gov.bc.ca/gov/content/environment/climate-change/data/ceei</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Industrial facility GHG emissions: 
                                <a href="https://www2.gov.bc.ca/gov/content/environment/climate-change/data/industrial-facility-ghg" target="_blank">: https://www2.gov.bc.ca/gov/content/environment/climate-change/data/industrial-facility-ghg</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Provincial GHG inventory: 
                                <a href="https://www2.gov.bc.ca/gov/content/environment/climate-change/data/provincial-inventory" target="_blank">https://www2.gov.bc.ca/gov/content/environment/climate-change/data/provincial-inventory</a>
                        </li>
                        </h4>
                        <li>
                            <h4>Trends in GHG emissions in BC: 
                                <a href="http://www.env.gov.bc.ca/soe/indicators/sustainability/ghg-emissions.html" target="_blank">http://www.env.gov.bc.ca/soe/indicators/sustainability/ghg-emissions.html</a>
                        </li>
                        </h4>
                    </ul>
                    
                    <h3>
                        <b>4.8. Energy BC</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>BC energy maps and energy profiles: 
                                <a href="http://www.energybc.ca/index.html" target="_blank">http://www.energybc.ca/index.html</a>
                        </li>
                        </h4>
                    </ul>
                    
                    <h3>
                        <b>4.9. Centre for Energy</b>
                    </h3>
                    <ul>
                        <li>
                            <h4>Reasons to invest in renewable energy, facts about renewable energy, why renewable energy is taking the
                                world
                                <a href="http://www.centreforenergy.com/7-reasons-why-you-should-invest-in-renewable-energy/" target="_blank">http://www.centreforenergy.com/7-reasons-why-you-should-invest-in-renewable-energy/
                                </a>
                        </li>
                        </h4> 
                    </ul>
                </ul>
            </section>
        </div>

    {#<div class="section-14">
        <div class="container-fluid custom-container-4" style="margin-bottom: 5%">
            <img src="img/redesign/Group-864.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 3%; width: 700px;">
            <h1 style="text-align: center; color: #878786; font-size: 35px;">UNDER CONSTRUCTION</h1>
            <h2 style="text-align: center; color: #878786; font-size: 20px;">we're relaunching this page soon</h2>
            <h2 style="text-align: center; color: #878786; font-size: 20px;">(Monday, November 19, 2018)</h2>
        </div>
    </div>#}

    {% endblock content %} {% block scripts %} {% parent %}
    {#<script type="text/javascript" src="js/resources.js" defer></script>#} 
    {% endblock scripts %}
