{% extends 'layout.html' %} {% block title %}{% parent %} - Scenarios{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="styles/css/scenarios.css">
<script type="text/javascript" src="js/scenarios.js" defer></script> {% endblock head %} {% block content %} {% parent %}

<div class="page-container">

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="scenarios/scenario1">Redeveloping a Mall</a>
      </h1>
      <h2>
        Three scenarios were examined to explore opportunities for developing a more sustainable neighbourhood. Each scenario builds
        upon the previous and integrates energy technologies that can already be found in use across Metro Vancouver.
      </h2>
    </section>
    <section class="fg6">
      <div class="image-container">
        <img src="../img/mall.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="scenarios/scenario1">
            <div class="caption">Let's go</div>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <div class="image-container">
        <img src="../img/house_6.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="scenarios/scenario2">
            <div class="caption">We are just as excited as you</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg6">
      <h1>
        <a href="scenarios/scenario2">Re-Imagining Suburbia</a>
      </h1>
      <h2>
        The Surrey scenario study explores opportunities for integrating renewable energy into a new suburban neighbourhood. Similar
        low density residential greenfield development patterns can be found across Metro Vancouver. Can these neighbourhoods
        be designed to maintain their low density characeter while also reducing energy use and emissions?
      </h2>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <h1>
        <a href="scenarios/scenario3">Retrofitting Suburbia</a>
      </h1>
      <h2>
        This scenario examines alternative approaches to reduce energy demand and increase renewable supply for existing residential
        homes, while accommodating some densification in terms of population. In order to avoid the most serious impacts
        of global warming beyond 2 degrees Celsius and meet city targets, we must substantially reduce greenhouse gas emissions
        from natural gas and other hydrocarbons that we use to heat our homes. We may also need the solar electricity to
        power our electric vehicles.
      </h2>
    </section>
    <section class="fg6">
      <div class="image-container">
        <img src="../img/street_sketch_1.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="scenarios/scenario3">
            <div class="caption">This is a must see</div>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="fg6">
      <div class="image-container">
        <img src="../img/revelstoke.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="scenarios/scenario5">
            <div class="caption">One step further</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg6">
      <h1>
        <a href="scenarios/scenario5">Revelstoke Interactive Planning Workshops</a>
      </h1>
      <h2>
        This project investigated whether public understanding and acceptance of smart growth would improve if citizens were provided
        with timely, accessible visualizations about why and how it can help achieve energy reductions. The project was conducted
        in Revelstoke, BC as the city was considering a Form Based Code to promote “smart growth” development.
      </h2>
    </section>
  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}