{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">
    Suburban Single Family Neighbourhood
  </h1>
  <section class="fg12">
    <h2>This option accomodates growth by expanding the town boundary and converts undeveloped land to urban uses requiring construction
      of new municipal infrastructure (roads, utilities, schools etc.). Suburb is the least efficient option, housing 500
      people within the largest land area — over 5 times greater than that of the Downtown option. With no services, walkability
      in this neighbourhood is poor, and single family houses are much less energy efficient than multi-family forms.</h2>
  </section>
  <section class="fg2"></section>
  <section class="fg4">
    <div class="image">
      <h2>Walkability:</h2>
      <h1></h1>
      <img class="image" src="../img/neighborhood_12.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <h3>Walking Trips: 0%</h3>
    <h3>Vehicle Trips: 100%</h3>
    <h3>Vehicle Kilometres/Household: 38,000</h3>
  </section>
  <section class="fg4">
    <div class="image">
      <h2>Energy and Emissions:</h2>
      <h1></h1>
      <img class="image" src="../img/neighborhood_11.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <h3>Energy Demand: 24,450 GJ/year</h3>
    <h3>Per capita emissions: 12.9 CO2eT/capita/year</h3>
    <h2>0% reduction in per capita emissions</h2>
  </section>
  <section class="fg2"></section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}