{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %}
{% parent %}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">Townhouse options</h2>
      <section class="fg6">
        <div class="image">
          <img class="image" src="../img/house_7.jpg" alt="cee-thumbnail" style="width:100%" />
          <h1> </h1>
          <h3>Concerned about becoming landlords, Karry and Abaya look at townhouses. They have shared wall with
            neighbours, which
            makes them more energy efficient. Townhouses also have enough density to support geoexchange energy, and
            their
            roofs can be designed to accomodate solar panels.</h3>
        </div>
      </section>
      <section class="fg6">
        <div class="image">
          <h3>Townhouses in Surrey could incorporate solar photovoltaic and solar hot water panels. Their higher
            density supports
            district energy options, such as geoexhange.</h3>
          <h1> </h1>
          <img class="image" src="../img/house_stats_7.png" alt="cee-thumbnail" style="width:100%" />
        </div>
      </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}