{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1>RETROFITTING SUBURBIA</h1>
  <h2>
    Sustainable Suburban Archetypes</h2>
  <section class="fg5">
    <div class="image">
      <p>West Vancouver, BC</p>
      <p>House size: 200 m2 (2150 sf ) </p>
      <p>Year of construction: 1945-1960</p>
      <img class="image" src="../img/house_3.jpg" alt="cee-thumbnail" style="width:100%" /> by Daniel Case
      <h1> </h1>
      <h4>
        Yannick and Yaz live with their two teenage children. Yan is in grade eight and active in gymnastics, choir, and dance, escorted
        by Yannick or Yaz in car and sometimes transit. Yale is in grade twelve and plays on multiple school and community
        teams. While Yan is driven around by mom and dad, Yale uses one of their cars, transit or bike. Yannick and Yaz commute
        in separate cars to different parts of Vancouver. Within a few years, Yannick and Yaz will be sending their kids
        to university and beginning a new stage of life as empty-nesters. They hope their children will have the opportunity
        to stay in West Vancouver as adults. Their home is 65 years old, has high utility bills, and is in need of renovations.
      </h4>
    </div>
  </section>
  <section class="fg3">
    <h3>The District of West Vancvouer wanted to get a better understanding of how to reduce energy demand and increase renewable
      supply for residential homes within the District. This scenario examines and visualizes alternative approaches for
      suburban homes.
    </h3>
    <h1> </h1>
    <h2>EXISTING CONDITION:</h2>
    <img class="image" src="../img/house.png" alt="cee-thumbnail" style="width:100%" />
    <h3>Researchers:</h3>
    <h3>Nicole Miller, PhD</h3>
    <h3>Stefan Storey, PhD</h3>
  </section>
  <section class="fg4">
    <div class="image">
      <h2>Energy potential calculation of a particular site</h2>
      <h1> </h1>
      <img class="image" src="../img/stats_1.png" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}