{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1>
    CLIMATE & COMMUNITY
  </h1>
  <h2>Understanding the energy & emission impacts of development patterns</h2>
  <section class="fg4">
    <div class="image">
<img class="image" src="../img/city_5.jpg" alt="cee-thumbnail" style="width:100%" />
      <h1> </h1>
      <h3> <a href="http://www.climateandcommunity.ca" target="_blank">www.climateandcommunity.ca</a> is an educational web project about community planning for climate change mitigation in
        Columbia Basin. Visitors to the site experience an interactive introduction to energy and emissions issues in Columbia
        Basin communities. Users can explore planning options through aerial and street level visualizations and learn about
        the associated dwelling types, mobility, energy and emissions attributes. At the conclusion, users compare their
        selected option against community planning priorities such as dwelling diversity or walkability.

      </h3>
      <h1> </h1>
    </div>
  </section>

  <section class="fg4">
    <h2>
      500 People
    </h2>
    <h3>
      Climate & Community investigates the energy and greenhouse gas emissions impacts of adding 500 new people to different patterns
      of development, including suburban single family neighbourhoods, denser neighbourhood centres and a downtown core.
    </h3>

    <h1> </h1>

    <h2>
      Development Patterns:
    </h2>

    <h1> </h1>
    <a href="#page2">
      <p>- Suburban
      </p>
    </a>
    <h1> </h1>
    <a href="#page3">
      <p>- Neighbourhood Centre
      </p>
    </a>
    <h1> </h1>
    <a href="#page4">
      <p>- Downtown
      </p>
    </a>

    <h4>This ElementsLab research project was funded by the Columbia Basin Trust and the City of Revelstoke.</h4>
  </section>

  <section class="fg3">
    <h2>Neighbourhood Centre: </h2>
    <div class="image">
      Dwelling Diversity
      <img class="image" src="../img/neighborhood_9.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <div class="image">
      Walkability
      <img class="image" src="../img/neighborhood_10.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <div class="image">
      Energy & Emissions
      <img class="image" src="../img/neighborhood_8.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>

</div>
</div>

{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
