{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1 style="color:black">Retrofit with Coach house</h1>
  <section class="fg6">
    <div class="image">
      <p>House size: 200 m2 (2150 sf )</p>
      <p>Year of construction: 1945-1960</p>
      <img class="image" src="../img/house_4.jpg" alt="cee-thumbnail" style="width:100%" /> by Fraseropolis
      <h1> </h1>
      <h4>
          Yannick and Yaz decide to rebuild their detached garage to include an energy-efficient coach house. Rental income from the coach house helps Yannick and Yaz to save for the children’s university expenses. 
          During renovations, Yannick and Yaz upgrade the home’s insulation, windows, heating and hot water systems and appliances, reducing their home’s energy consumption by 60%. In addition, reduced energy consumption and the switch from natural gas to electric heating reduces their home’s greenhouse gas emissions by over 90%.
      </h4>
    </div>
  </section>
  <section class="fg6">
    <img class="image" src="../img/new_retrofit_3.jpg" alt="cee-thumbnail" style="width:100%" />
  </section>
</div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}