{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">Small lot single family options</h1>
  <section class="fg6">
    <div class="image">
      <img class="image" src="../img/house_8.png" alt="cee-thumbnail" style="width:100%"/>
      <h1> </h1>
      <h3>Still interested in a single family house, Karry
      and Abaya look at a small lot single famly home. A secondary suite adds rental income, and some homes also include
      a laneway house. The block now has enough density to make geothermal energy feasible to complement solar options. Roof
      size and shape are still issues for solar energy.</h3>
    </div>
  </section>
  <section class="fg6">
    <div class="image">
      <h3>Smaller homes with suites and laneway houses could incorporate solar panels and have enough density to support community
      geoexchange systems.</h3>
      <h1> </h1>
      <img class="image" src="../img/house_stats_6.png" alt="cee-thumbnail" style="width:100%"/>
    </div>
  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}