{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">
    Current Best Practice: Increased Density and Building Code
  </h1>
  <section class="fg12">
    <h2>In this scenario, the neighbourhood develops to become compact and complete, with extensive mid-rise mixed-use buildings
    compplemented by a new large park. This development follows the City’s official community plan, and all buildings are
    built to the current building code. More jobs locate within the neighbourhood and it is more walkable for residents.
    All of these changes greatly reduce per capita greenhouse gas emissions.</h2>
  </section>
  <section class="fg2"></section>
  <section class="fg4">
    <div class="image">
      <h2>Existing Condition:</h2>
      <h1></h1>
      <img class="image" src="../img/city_stats_2.png" alt="cee-thumbnail" style="width:100%"/>
    </div>
  </section>
  <section class="fg4">
    <div class="image">
      <h2>Increased Density and New Building Code:</h2>
      <h1></h1>
      <img class="image" src="../img/city_stats_3.png" alt="cee-thumbnail" style="width:100%"/>
    </div>
  </section>
  <section class="fg2"></section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}