{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">Retrofit with coach house and suite</h1>
  <section class="fg6">
    <div class="image">
      <p>House size: 200 m2 (2150 sf )</p>
      <p>Year of construction: 1945-1960</p>
      <img class="image" src="../img/house_5.jpg" alt="cee-thumbnail" style="width:100%" /> By Michael Geller
      <h1> </h1>
      <h4>
        Thinking of the future, Yannick and Yaz undertake a major renovation of their family home. During the renovation, they also
        decide add a garden suite in their basement and rebuild their detached garage to include an energy-efficient coach
        house. Rental income from the added units helps Yannick and Yaz to save for the children’s university expenses. Later,
        they make the coach house available to Yale’s young and growing family. Eventually, Yannick and Yaz downsize to the
        coach house while Yale’s family uses the main house. Yan rents the garden suite while saving for a down payment for
        a condo. During renovations, Yannick and Yaz upgrade the home’s insulation, windows, heating and hot water systems
        and appliances, reducing their home’s energy consumption by 60%. Although the home upgrades cost more upfront, Yannick
        and Yaz find they provide improved comfort, reduced exposure to increasing energy prices and a higher real estate
        value. In addition, reduced energy consumption and the switch from natural gas to electric heating reduces their
        home’s greenhouse gas emissions by over 90%.
      </h4>
    </div>
  </section>
  <section class="fg6">
    <img class="image" src="../img/house_stats_3.png" alt="cee-thumbnail" style="width:100%" />
  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}