{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">
    Low density and energy inefficient buildings are developed to a low carbon community
  </h1>
  <section class="fg12">
    <h2>The final scenario shows the total possible building emissions reductions when all three scenarios are combined. Though
      the Redeveloping a Mall scenario did not specifically explore transportation energy, locating dense buildings near
      a rapid transit station would likely reduce per-captia greenhouse gas emissions from transportation as more residents
      could choose rapid transit for work or personal travel.</h2>
  </section>
  <section class="fg1"></section>
  <section class="fg5">
    <div class="image">
      <h2>Building Level Renewables:</h2>
      <h1></h1>
      <img class="image" src="../img/city_stats_7.png" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>
  <section class="fg5">
    <div class="image">
      <h2>Shared Energy:</h2>
      <h1></h1>
      <img class="image" src="../img/city_stats_8.png" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>
  <section class="fg1"></section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}