{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1 style="color:black">Tear down with new construction</h1>
  <section class="fg6">
    <div class="image">
      <p>House size: 260 m2 (2850 sf )</p>
      <p>Year of construction: 2015</p>
      <img class="image" src="../img/house_4.jpg" alt="cee-thumbnail" style="width:100%" /> By Fraseropolis
      <h1> </h1>
      <h4>
        When their kids leave for University, Yannick and Yaz sell their family home and downsize to a condo. The family home is
        torn down, and a new larger home is built in its place by the new owners. To them, the new home seems too large and
        out-of scale for the neighbourhood. Yannick and Yaz are able to save some of the money they make on their home’s
        sale to assist their children and for their eventual retirement. They enjoy the low-maintenance lifestyle the condominium
        affords, but have less space for when their children’s growing families visit. They are disappointed that Yale and
        Yan can’t afford to live nearby.
      </h4>
    </div>
  </section>
  <section class="fg6">
    <img class="image" src="../img/house_stats_4.png" alt="cee-thumbnail" style="width:100%" />
  </section>
</div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}