{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">

  <h1 style="color:black">Revelstoke Interactive Planning Workshops: Citizen Engagement Process</h1>
  <h4>The Revelstoke workshops presented an opportunity to evaluate a novel, interactive approach to citizen engagement in neighbourhood
    planning and design. Using the UD Co-Spaces planning support tool, residents were able to interactively design and evaluate
    options for two neigbourhood sites within their city. Researchers then analyzed the performance of the citizen designs
    and provided an opportunity for residents to modify their designs based on new greenhouse gas emissions information.</h4>

  <div class="row">

    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/table_2.jpg" alt="cee-thumbnail" style="width:80%" />
        <figcaption align="bottom"><h4>1. After a brief introduction and instructions, citizens first developed their own individual designs for Revelstoke
          study sites using paper maps.</h4>
        </figcaption>
      </div>
    </section>

    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/table_3.jpg" alt="cee-thumbnail" style="width:80%" />
        <figcaption align="bottom"><h4>2. Groups of 2-6 people then worked collaboratively around the UD Co-Spaces touchtable planning tool to negotiate
          a consensus group design informed by interactive 3D visualizations and associated metrics such as jobs and transportation
          options.</h4>
        </figcaption>
      </div>
    </section>

  </div>

  <div class="row">

    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/vkt_chart.jpg" alt="cee-thumbnail" style="width:80%" />
        <figcaption align="bottom"><h4>3. Elements Lab researchers took the group designs back to their lab and analyzed them against a set of metrics,
          including land use breakdown, density, vehicle kilometres traveled, and projected greenhouse gas emissions.</h4>
        </figcaption>
      </div>
    </section>

    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/poster.jpg" alt="cee-thumbnail" style="width:80%" />
        <figcaption align="bottom"><h4>4. Three months after the first workshop, researchers returned to Revelstoke with an analysis of citizens’ designs,
          reviewed the analysis, and provided citizens with an opportunity to revise their designs on the touchtable based
          on climate change impacts.</h4>
        </figcaption>
      </div>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}