{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1 style="color:black">
    Revelstoke Interactive Planning Workshops: Example Citizen Scenarios
  </h1>

  <div class="row">
    <section class="fg12">
      <h4>Twelve groups of Revelstoke residents developed neighbourhood designs for two study sites. Resident designs achieved
        a range of population, density and emissions values. Below are three examples of neighbourhood designs for one study
        site, including metrics that describe the performance of the designs. These designs were developed in 2D on the UD
        Co-Spaces interactive touchtable. The images below show the associated 3D representations that were projected on
        a screen, so that participants could reference the appearance of their designs and associated metrics (along the
        bottom of each image). Note that the low density and moderate density examples show more realistic ‘visual’ 3D models,
        while the high density example shows simpler models coloured by their land use designation (yellow for residential
        buildings and red for mixed residential/commercial buildings).</h4>
    </section>
  </div>

  <div class="row">
    <section class="fg12">
      <div class="image">
        <h2><b>LOW DENSITY EXAMPLE</b></h2>
        <img class="image" src="../img/neighborhood_16.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h4>Neighbourhood Population: 250 residents</h4>
      <h4>Dwelling Units: 132</h4>
      <h4>Travel Distance: 9209 vehicle km/person</h4>
      <h4>GHG Emissions: 2.3 tonnes CO2/person</h4>
    </section>

    <section class="fg12">
      <div class="image">
        <h2><b>MODERATE DENSITY EXAMPLE</b></h2>
        <img class="image" src="../img/neighborhood_17.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h4>Neighbourhood Population: 356 residents</h4>
      <h4>Dwelling Units: 183</h4>
      <h4>Travel Distance: 6793 vehicle km/person</h4>
      <h4>GHG Emissions: 2 tonnes CO2/person</h4>
    </section>

    <section class="fg12">
      <div class="image">
        <h2><b>HIGH DENSITY EXAMPLE</b></h2>
        <img class="image" src="../img/neighborhood_18.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h4>Neighbourhood Population: 520 residents</h4>
      <h4>Dwelling Units: 298</h4>
      <h4>Travel Distance: 5000 vehicle km/person</h4>
      <h4>GHG Emissions: 1.2 tonnes CO2/person</h4>
    </section>
  </div>


</div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}