{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1 style="color:black">Small lot character home energy retrofit</h1>
  <section class="fg6">

    <div class="image">
      <img class="image" src="../img/worker.jpg" alt="cee-thumbnail" style="width:100%" /> By U.S. Navy photo by Greg Vojtko
      [Public domain], via Wikimedia Commons
      <h1> </h1>
      <h4>
        Thinking of the future, Yannick and Yaz undertake a major renovation of their family home. Updating the home increases the
        value of their asset and also provides a significant opportunity to complete a home energy retrofit. By upgrading
        the home’s insulation, windows, heating and hot water systems and appliances, Yannick and Yaz reduce their home’s
        energy consumption by over 60%. Although the home upgrades cost more upfront, Yannick and Yaz find they provide improved
        comfort, reduced exposure to increasing energy prices and a higher real estate value. In addition, reduced energy
        consumption and the switch from natural gas to electric heating reduces their home’s greenhouse gas emissions by
        over 90%. Yannick and Yaz are happy to have an updated family home for now and for when their children eventually
        come to visit with families of their own. However, they remain concerned that their kids won’t be able to afford
        to live in the community.
      </h4>
    </div>
  </section>
  <section class="fg6">
    <img class="image" src="../img/new_retrofit_2.jpg" alt="cee-thumbnail" style="width:100%" />
  </section>
</div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}