{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %}
{% parent %}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">
      Average lot single family options
    </h1>
    <section class="fg6">
      <div class="image">
        <img class="image" src="../img/house_3.jpg" alt="cee-thumbnail" style="width:100%" />
        <h1></h1>
        <h3>Karry and Abaya look at a single famly home
          on an average lot. This home provides a lot of space for their family, and a large backyard for their dog.
          The best
          choice for renewable energy is solar thermal and solar photovoltaic panels. They must ensure the roof is
          large enough
          for solar panels. They are concerned that the large building will cost too much to run, so they look for
          smaller options.</h3>
      </div>
    </section>
    <h1></h1>
    <section class="fg6">
      <div class="image">
        <h3>A single family home on an average lot in Surrey could reduce its reliance on external energy sources by
          incorporating solar
          photovoltaic and solar hot water panels.</h3>
        <h1> </h1>
        <img class="image" src="../img/new_suburbia_1.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}