{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} 
{%parent%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">
      Building Level Renewables
    </h1>
    <section class="fg12">
      <h2>Solar panels can be integrated with the design of new buildings to reduce visual impact from ground-level and
        minimize shading
        from nearby buildings. Using solar energy further reduces per capita emissions.</h2>
    </section>
    <section class="fg1"></section>
    <section class="fg5">
      <div class="image">
        <h2>Density and Buildings</h2>
        <h1> </h1>
        <img class="image" src="../img/city_stats_4.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
    <section class="fg5">
      <div class="image">
        <h2>Building Level Renewables:</h2>
        <h1> </h1>
        <img class="image" src="../img/city_stats_5.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
    <section class="fg1"></section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}