{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %}
{% parent %}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">
      Downtown Core
    </h1>
    <section class="fg12">
      <h2>Downtown is the most efficient option, accommodating 500 people within the smallest land area — over 5 times
        smaller
        than that of the Suburban option. This more compact housing form is much more energy efficient, and the
        proximity to
        daily services such as food stores makes it a much more walkable neighbourhood than either the suburan
        neighbourhood,
        or the neighbourhood centre.</h2>
    </section>
    <section class="fg2"></section>
    <section class="fg4">
      <div class="image">
        <h2>Walkability:</h2>
        <h1></h1>
        <img class="image" src="../img/neighborhood_14.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h3>Walking Trips: 36%</h3>
      <h3>Vehicle Trips: 64%</h3>
      <h3>Vehicle Kilometres/Household: 11,350</h3>
    </section>
    <section class="fg4">
      <div class="image">
        <h2>Energy and Emissions:</h2>
        <h1></h1>
        <img class="image" src="../img/neighborhood_13.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h3>Energy Demand: 13,350 GJ/year</h3>
      <h3>Per capita emissions: 4.2 CO2eT/capita/year</h3>
      <h2>-68% reduction in per capita emissions</h2>
    </section>
    <section class="fg2"></section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}