{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %}
{% parent %}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">Low carbon & resilient energy options in suburbia</h1>
    <section class="fg4">
      <div class="image">
        Surrey, BC
        <img class="image" src="../img/house_6.jpg" alt="cee-thumbnail" style="width:100%" />
        <h1> </h1>
        <h3>Karry and Abaya realize they have good choices
          for living in a suburban environment that is sustainable and uses local renewable energy.</h3>
      </div>
    </section>
    <section class="fg4">
      <h3>
        The City of Surrey is expected to add 300,000 people to its popoulation over the next three decades, surpassing
        Vancouver
        as the largest city in British Columbia. While some of this growth will be located in dense urban nodes, growth
        will
        also take the form of low density suburban developments.
      </h3>
      <h1> </h1>
      <h2>
        Single family
      </h2>
      <h3>
        <p>- Solar potential</p>
        <p>- Less energy efficient</p>
      </h3>
      <h2>Small lot single family</h2>
      <h3>
        <p>- Solar and Geothermal</p>
        <p>- Maintains character</p>
        <p>- Higher initial energy use than townhouses</p>
      </h3>
      <h2>Townhouse</h2>
      <h3>
        <p>- Solar and Geothermal</p>
        <p>- Lowest per capita emissions</p>
      </h3>
    </section>
    <section class="fg4">
      <div class="image">
        <img class="image" src="../img/house_stats_8.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}