{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">
    Shared Energy options
  </h1>
  <section class="fg12">
    <h2>Geoexchange is located underground and out of sight in the linear park. A bioenergy plant is located within the community
    on a major street for access and can be integrated with surrounding building design. This scenario greatly reduces per
    capita and total carbon emissions.</h2>
  </section>
  <section class="fg1"></section>
  <section class="fg5">
    <div class="image">
        <h2>Building Level Renewables:</h2>
        <h1></h1>
      <img class="page" src="../img/city_3.png" alt="cee-thumbnail" style="width:100%"/>
    </div>
  </section>
  <section class="fg5">
    <div class="image">
        <h2>Shared Energy:</h2>
        <h1></h1>
      <img class="page" src="../img/city_stats_6.png" alt="cee-thumbnail" style="width:100%"/>
    </div>
  </section>
  <section class="fg1"></section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}