{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} 
{%parent%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1>
      REDEVELOPING A MALL
    </h1>
    <h2>Energy options for large scale site redevelopment</h2>
    <section class="fg4">
      <div class="image">
        Image of Landsdowne Mall, Richmond, BC 
        <img class="image" src="../img/mall.png" alt="cee-thumbnail" style="width:100%" />
        <h1> </h1>
        <h3>The City of Richmond is hoping to make its communities more efficient. They wanted to explore the potential
          of infiling
          an existing mall to see how it could perform. In its current condition, the residential density of the area
          is relatively
          low compared to other urban areas in Richmond. The buildings tend to have poor insulation and inefficient
          furnaces
          and windows. The current residential energy use of the area is about 165,000 GWh per year. About 65% of this
          energy
          is supplied by natural gas and the remainder supplied by electricity.
        </h3>
        <h1> </h1>
      </div>
    </section>

    <section class="fg4">
      <h2>
        EXPLORING ALTERNATIVES
      </h2>
      <h3>
        Three scenarios were examined to explore opportunities for developing a more sustainable neighbourhood. Each
        scenario builds
        upon the previous and integrates energy technologies that can already be found in use across Metro Vancouver.
      </h3>

      <h1> </h1>

      <h2>
        Scenarios:
      </h2>

      <h1> </h1>
      <a href="#page2">
        <p>- Current Best Practice: Increased Density and Current Building Code</p>
      </a>
      <h1> </h1>
      <a href="#page3">
        <p>- Building-level renewables</p>
      </a>
      <h1> </h1>
      <a href="#page4">
        <p>- Shared Energy</p>
      </a>
    </section>

    <section class="fg3">
      <div class="image">
        <h2>Existing Conditions:</h2>
        <img class="image" src="../img/city_stats_1.png" alt="cee-thumbnail" style="width:100%" />
      </div>
    </section>
  </div>
</div>


{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}