{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %}
{% parent %}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1 style="color:black">
      Neighbourhood Centre
    </h1>
    <section class="fg12">
      <h2>This option reduces pressure to convert undeveloped land to urban uses and to build new municipal
        infrastructure (roads,
        utilities, schools etc.). Neighbourhood Centre is the second most efficient option, accommodating 500 people in
        a land
        area about 50% greater than the downtown option but about 3 times smaller than that of the suburban option. It
        has
        better walkability than the suburban neighbourhood, leading to fewer vehicle trips. Its multi-unit residential
        buildings
        also have better energy performance, leading to fewer emissions.</h2>
    </section>
    <section class="fg2"></section>
    <section class="fg4">
      <div class="image">
        <h2>Walkability:</h2>
        <h1></h1>
        <img class="image" src="../img/neighborhood_10.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h3>Walking Trips: 20%</h3>
      <h3>Vehicle Trips: 80%</h3>
      <h3>Vehicle Kilometres/Household: 17,500</h3>
    </section>
    <section class="fg4">
      <div class="image">
        <h2>Energy and Emissions:</h2>
        <h1></h1>
        <img class="image" src="../img/neighborhood_8.jpg" alt="cee-thumbnail" style="width:100%" />
      </div>
      <h3>Energy Demand: 17,800 GJ/year</h3>
      <h3>Per capita emissions: 6.2 tCO2e/capita/year</h3>
      <h2>-52% reduction in per capita emissions</h2>
    </section>
    <section class="fg2"></section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}