{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} 
{%parent%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
    <h1>
      RE-IMAGINING SUBURBIA
    </h1>
    <h2>Low carbon and resilient energy options in suburbia </h2>
    <section class="fg4">
      <div class="image">
        Surrey, BC
        <img class="image" src="../img/house_6.jpg" alt="cee-thumbnail" style="width:100%" />
        <h1></h1>
        <h3>Karry and Abaya want a comfortable home for their two kids and dog. They are concerned about climate change
          and want
          to be secure to changing energy costs created by a changing climate. They explore different housing types to
          see
          how they could be supplied by local renewable energy.</h3>
      </div>
    </section>
    <h1> </h1>
    <section class="fg4">
      <h3>
        The Surrey case study explores opportunities for integrating renewable energy into a new suburban
        neighbourhood. Similar
        low density residential greenfield development patterns can be found across Metro Vancouver. Can these
        neighbourhoods
        be designed to maintain their low density characeter while also reducing energy use and emissions?
      </h3>
      <h1> </h1>
      <h2>
        Large lot single family
      </h2>
      <a href="#page2">
        <p>- Solar</p>
      </a>

      <h2>
        Townhouse
      </h2>
      <a href="#page3">
        <p>- Solar and Geothermal</p>
      </a>

      <h2>
        Small lot single family
      </h2>
      <a href="#page4">
        <p>- Solar and Geothermal</p>
      </a>
    </section>

    <section class="fg5">
      <div class="image">
        <h2>Existing Conditions:</h2>
        <h1> </h1>
        <img class="page" src="../img/new_suburbia_intro.jpg" alt="cee-thumbnail" style="width:90%" />
      </div>
    </section>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}