{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:150px">
  <div class="container-fluid custom-container-4">
  <h1>
      Revelstoke Interactive Planning Workshops
  </h1>
  <section class="fg4">
    <div class="image">
      <img class="image" src="../img/revelstoke.jpg" alt="cee-thumbnail" style="width:100%" />
      Revelstoke, BC
      <h1> </h1>
      <h3>
        Mitigation and adaptation to climate change are significant goals for many cities. Many promote “smart growth” development
        patterns in part to mitigate energy and emissions. However, while citizens may endorse broad energy mitigation policies,
        they often resist their implementation via smart growth and other initiatives in their own neighborhoods.
      </h3>
        <h1> </h1>
      <h3>
        This project investigated whether public understanding and acceptance of smart growth would improve if citizens were provided
        with timely, accessible visualizations about why and how it can help achieve energy reductions. The project was conducted
        in Revelstoke, BC as the city was considering a Form Based Code to promote “smart growth” development.
      </h3>
      
    </div>
  </section>

  <section class="fg4">
    <h2>
        Interactive Planning Tool        
    </h2>
    <h3>
        The project conducted public engagement workshops using a collaborative
        touch-table combined with live-updated 3D visualizations and performance
        metrics (collectively called UD Co-Spaces). Working both individually and
        collaboratively on an urban design task, all participants improved the smart
        growth and energy related performance of the study areas, though climate
        change was less important to their design decisions than other issues such
        as community character. Participants responded favorably to the touch-table
        and to the collaborative learning it enabled.
    </h3>

    <h1> </h1>

    <h2>
        Process and Results:
    </h2>

    <h1> </h1>
    <a href="#page2">
      <p>- The interactive workshop process
      </p>
    </a>
    <h1> </h1>
    <a href="#page3">
      <p>- Examples of citizen-developed scenarios
      </p>
    </a>
    <h1> </h1>
      <p>Publications:</p>
      <h3>
         Girling, C., Senbel, M., & Kellett, R. (2016). Effects of visualizations and
          information-rich public engagement in planning for energy and emissions.
          Journal of Architectural and Planning Research, 33(2): 140-158.
      </h3>
      <h3> </h3>
      <h3>
        Senbel, M., van der Laan, M., Kellett, R., Girling, C., & Stuart, J. (2013). Can
          form-based code help reduce municipal greenhouse gas emissions in
          small towns? Canadian Journal of Urban Research, 22(10): 72-92.
      </h3>
    </a>

  </section>

  <section class="fg3">
    <div class="image">
      <img class="image" src="../img/table.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <h3> </h3>
    <div class="image">
      <img class="image" src="../img/screen.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
    <h3> </h3>
    <div class="image">
      <img class="image" src="../img/neighborhood_15.jpg" alt="cee-thumbnail" style="width:100%" />
    </div>
  </section>

</div>
</div>

{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}