{% extends '../layout.html' %} {% block title %}{% parent %} {% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" type="text/css" href="../../styles/css/geoexchange.css">
<script src="../../js/geoexchange.js"></script> {% endblock head %} {% block content %} {% parent %}
<div class="page-container">

  <h1>Geoexchange</h1>

  <div class="row">
    <section class="fg6">
      <h1> </h1>
      <img src="../img/GeoEx2.jpg" alt="cee-thumbnail" class="image" style="width:100%"> 
      <h5><b>Suitability map for geo-exchange energy sources for heating and cooling, based on soil conditions.</b>
        Geo-exchange systems for buildings or district energy plants may be feasible even in poor soil conditions, depending
        on design requirements and costs. <a target="_blank" href="/energy101/energy101-4#page4">Click here</a> for more details. Credit: Adapted from Compass Resources Management Ltd.
        (2005) data by R. Tooke.</h5>      
    </section>
    <section class="fg6">
      <h2>
        It uses the earth as a heat source (in the winter) or a heat sink (in the summer). This design takes advantage of the moderate
        temperatures in the ground to boost efficiency and reduce the operational costs of heating and cooling systems, and
        may be combined with solar heating to form a geosolar system with even greater efficiency. They are also known by
        other names, including geoexchange, earth-coupled, earth energy systems. The engineering and scientific communities
        prefer the terms "geoexchange" or "ground source heat pumps" to avoid confusion with traditional geothermal power,
        which uses a high temperature heat source to generate electricity. Ground source heat pumps harvest heat absorbed
        at the Earth's surface from solar energy. The temperature in the ground below 6 metres (20 ft) is roughly equal to
        the mean annual air temperature[2] at that latitude at the surface.
      </h2>
      <h3 style="text-align:right">- Wikipedia</h3>
    </section>
  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}