{% extends '../layout.html' %} {% block title %}{% parent %} {% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" type="text/css" href="../../styles/css/sewageheat.css">
<script src="../../js/sewageheat.js"></script> {% endblock head %} {% block content %} {% parent %}
<div class="page-container">

  <h1>Sewage Heat Recovery</h1>

  <div class="row">
    <section class="fg6">
      <h2>
        Water heat recycling (also known as sewage heat recovery, drain water heat recovery, wastewater heat recovery, greywater
        heat recovery, or sometimes shower water heat recovery) is the use of a heat exchanger to recover energy and reuse
        heat from wastewater. This can be done at large scale (as in sewage heat systems) down to household systems for heat
        recovery from activities such as dish-washing, clothes washing and especially showers. The technology is used to
        reduce primary energy consumption for water heating.
      </h2>
      <h3 style="text-align:right">- Adapted from Wikipedia</h3>
    </section>
    <section class="fg6">
      <h1> </h1>
      <img src="../img/Wastewater2.jpg" alt="cee-thumbnail" class="image" style="width:100%">
      <h5>
        <b>Map of wastewater heat recovery potential from sewage systems.</b>
        The larger sewer trunk lines provide possible sources of heat for transfer to district energy systems (as in South East False
        Creek) or other users. <a target="_blank" href="/energy101/energy101-4#page9">Click here</a> for more details. Credit: Adapted from Compass Resources Management Ltd. (2005)
        data by R. Tooke.</h5>
    </section>

  </div>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}