{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
  %}
  <div class="page-container" style="margin-bottom:1500px">


      <h1 style="color:black">
          Visualize energy use for buildings
        </h1>     
        <section class="fg6"> 
          <div class="image">              
            <h3>All of our buildings use energy, usually in the form of electricity and natural gas. Homes use different amounts of energy and have different energy
                costs. The energy demand map is useful to estimate which houses and neighbourhood use a lot of energy, based on house size, building age, and
                renovation date. Some homes may be very expensive to run and are therefore good candidates for retrofit.
            </h3>
            <h1> </h1> 
            <img src="../img/map_1.png" alt="cee-thumbnail" class="image" style="width:100%">Energy Demand Map (Credit: Rory Tooke, PhD)        
          </div>
        </section>
  
        <section class="fg6">
            <div class="row">
              <section class="fg3">
                  <div class="ih-item circle effect1">
                      <a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src="../img/calculator.png" alt="img"></div>
                        <div class="info">
                          <div class="info-back">
                            <div class="middle">
                                <div class="caption">Math is fun</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
              </section>
              <section class="fg9">
                <h2>Energy potential calculation of a particular site</h2>
              </section>
            </div>
        
            <div class="row">
              <section class="fg3">
                  <div class="ih-item circle effect1">
                      <a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src="../img/layers_1.png" alt="img"></div>
                        <div class="info">
                          <div class="info-back">
                            <div class="middle">
                                <div class="caption">Keep exploring</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
              </section>
              <section class="fg9">
                <h2>Other types of renewable energy layers</h2>
              </section>
            </div>
        
            <div class="row">
              <section class="fg3">
                  <div class="ih-item circle effect1">
                      <a href="#">
                        <div class="spinner"></div>
                        <div class="img"><img src="../img/plug.png" alt="img"></div>
                        <div class="info">
                          <div class="info-back">
                            <div class="middle">
                                <div class="caption">Impressed yet?</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
              </section>
              <section class="fg9">
                <h2>Existing energy demand of a particular site</h2>
              </section>
        
            </div>
        
          </section>




  </div>
  {% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}