{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">

  <h1>
    COMMUNITY-WIDE RETROFIT
  </h1>
  <section class="fg3">
    <h2>
      Why Retrofits?
    </h2>
    <div class="image">
      <img src="../img/house_sketch.jpg" alt="cee-thumbnail" class="image" style="width:100%">Image of Vancouver Special
      (Credit:: Vancouver Heritage Foundation)
      <h1> </h1>
      <h3>Retrofits are enhancements and changes to existing buildings to make them more comfortable and energy efficient. Because
        most buildings starting today will be around in 50 years, increasing their efficiency is a crucial step to low-carbon
        resilience, lower energy bills, and meeting community GHG reduction targets.
      </h3>
      <h1> </h1>
    </div>
  </section>

  <section class="fg9">
    <div class="row">
      <section class="fg9">
        <h3><b>
                  Retrofit Scenarios:
                  </b></h3>
        <h3>
          • Scenarios of retrofit potential
        </h3>
      </section>
      <section class="fg3">
        <a href="topic2#page2">
          <div class="image-container">
              <img src="../img/house.png" alt="cee-thumbnail" class="image" style="width:100%">
              <div class="middle">
                  <div class="caption">Start the journey</div>
              </div>
            </div>
        </a>
      </section>
    </div>
    <div class="row" style="padding:0">
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
      </section>
    </div>
    <div class="row">
      <section class="fg9">
        <h3><b>
                  Energy Demand Map:
              </b></h3>
        <h3>
          • Exploring existing energy demand of a community or neighbourhood
        </h3>
      </section>
      <section class="fg3">
        <a href="topic2#page3">
          <div class="image-container">
              <img src="../img/map_red.png" alt="cee-thumbnail" class="image" style="width:100%">
              <div class="middle">
                  <div class="caption">Best maps ever</div>
              </div>
            </div>
        </a>
      </section>
    </div>
    <div class="row" style="padding:0">
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
      </section>
    </div>
    <div class="row">
      <section class="fg9">
        <h3><b>
          Renewable Map and Examples:
        </b></h3>
        <h3>
          • Estimating renewable energy potentials of a community
        </h3>
        <h3>
          • Existing examples on retrofit projects
        </h3>
      </section>
      <section class="fg3">
        <a href="topic2#page4">
          <div class="image-container">
              <img src="../img/map_2.png" alt="cee-thumbnail" class="image" style="width:100%">
              <div class="middle">
                  <div class="caption">Even better maps</div>
              </div>
            </div>
        </a>
      </section>
    </div>
    <div class="row" style="padding:0">
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:2%">
      </section>
    </div>
    <div class="row">
      <section class="fg9">
        <h3><b>
          Tools, and Resources:
        </b></h3>
        <h3>
          • Tools that can assist in the work
        </h3>
        <h3>
          • Resources to support your work
        </h3>
      </section>
      <section class="fg3">
        <a href="topic2#page5">
          <div class="image-container">
              <img src="../img/coolkit_1.png" alt="cee-thumbnail" class="image" style="width:100%">
              <div class="middle">
                  <div class="caption">These are amazing</div>
              </div>
            </div>
        </a>
      </section>
    </div>

  </section>


</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}