{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <div class="row">
      <h1 style="color:black">
      Find tools and resources to help you get started in your community
    </h1>
    <section class="fg12">
      <h3>Here is more information to help you get started on redevelopment planning and engagement. There are maps, scenarios, case
        studies, tools, and resources that can help with building a more low-carbon and resilient redevelopment.</h3>
    </section>
  </div>

  <div class="row">
    <section class="fg3">
      <h2>Tools that can assist your work</h2>
    </section>
    <section class="fg1">
      <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
    </section>
    <section class="fg4">
      <div class="image-container">
        <img src="../img/electric_car.jpg" alt="cee-thumbnail" class="image" style="width:40%">
        <div class="middle">
          <a href="#">
            <div class="caption">ELECTRIC VEHICLES - PLUG IN BC</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg4">
      <div class="image-container">
        <img src="../img/solar_calculator.png" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="#">
            <div class="caption">SOLAR CALCUALATOR</div>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="fg3">
      <h2>Resources to support your work</h2>
    </section>
    <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
    <section class="fg8">
      <a href="http://udi.bc.ca/udi-central/">
        <p>- Urban Development Institute Central</p>
      </a>
      <h1> </h1>
      <a href="https://www.newwestcity.ca/planning-building-and-development/projects-on-the-go/articles/4964.php">
        <p>- City of New Westminster Royal Columbian Hospital Redevelopment</p>
      </a>
      <h1> </h1>
      <a href="http://vancouver.ca/home-property-development/oakridge-redevelopment.aspx">
        <p>- Oakridge Centre Redevelopment</p>
      </a>
    </section>
  </div>
  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
