 {% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1>
    LARGE SCALE REDEVELOPMENT
  </h1>
  <section class="fg4">

    <div class="image">
      <h3>Redevelopments are any changes made on a site with pre-existing uses. They can be enhancements made on sites to build
        more dense and energy efficient buildings in accommodating larger populations. Because of the increasing demand for
        housing, infrastructure, and services, redevelopments to add more density, reduce building size, and build more energy
        efficient buildings can play an important role in GHG emission reductions and resiliency.
      </h3>
      <h1> </h1>
      <img src="../img/mall.png" alt="cee-thumbnail" class="image" style="width:100%">Image of Landsdowne Mall, Richmond,
      BC (Credit: xx)
    </div>
  </section>
  <section class="fg8">
    <div class="row">      
      <section class="fg7">
        <h2>
          Renewable Energy Maps:
        </h2>
        <h3>
          • Exploring types of renewable energy available on or near the site
        </h3>
        <h3>
          • Calculating energy potentials of a site
        </h3>
        <h3>
          • Comparing projected energy demand with existing energy demand of a site
        </h3>
          
      </section>
      <section class="fg5">
        <div class="image-container">
          <img src="../img/solar_map.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="topic1#page2">
              <div class="caption">Magic found here</div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="fg12">
              <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:3%">
      </section>
    </div>
    <div class="row">
      <section class="fg7">
        <h2>
          Redevelopment Scenarios and Real-World Examples:
        </h2>
        <h3>
          • Scenarios of potential redevelopment options
        </h3>
        <h3>
          • Existing examples of actual redevelopment projects
        </h3>
      </section>
      <section class="fg5">
        <div class="image-container">
          <img src="../img/richmond.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="topic1#page3">
              <div class="caption">Best examples ever</div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
        <section class="fg12">
                <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:3%">
        </section>
      </div>
    <div class="row">
      <section class="fg7">
        <h2>
          Tools, and Resources:
        </h2>
        <h3>
          • Tools that can assist in the work
        </h3>
        <h3>
          • Resources to support your work
        </h3>
      </section>
      <section class="fg5">
        <div class="image-container">
          <img src="../img/tools.jpg" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="topic1#page4">
              <div class="caption">What else would you need?!</div>
            </a>
          </div>
        </div>
      </section>
    </div>



  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}