{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <div class="row">
      <h1 style="color:black">
        See how renewable energy supplies can be developed in the region
      </h1>
      <section class="fg12">
        <h3>Looking ahead to the future is a challenge for any city. So let’s get you started with the steps that can generate
          discussion and ideas on appropriate renewable energy policies for your community. Explore using the case studies
          of renewable energy proejcts, tools that can assist in policy and action work, as well as gaining access to resources
          that can build a foundation to your sustainable community.</h3>
      </section>
    </div>

    <div class="row">
      <section class="fg3">
        <h2>Case studies of renewable energy projects</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="https://www.dlsc.ca/" target="_blank">
          <div class="image-container">
            <img src="../img/houses.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">DRAKE LANDING SOLAR COMMUNITY</div>
            </div>
          </div>
        </a>
      </section>

      <section class="fg3">
        <h2>Tools that can assist your work</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="http://calp.forestry.ubc.ca/home/urban-forestry-toolkit/" target="_blank">
          <div class="image-container">
            <img src="../img/coolkit.png" alt="cee-thumbnail" class="image" style="width:50%">
            <div class="middle">
              <div class="caption">CITIZEN’S COOLKIT</div>
            </div>
          </div>
        </a>
      </section>
    </div>

    <div class="row">

      <section class="fg3">
        <h2>Resources to support your work</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="http://vancouver.ca/green-vancouver/renewable-city.aspx" target="_blank">
          <div class="image-container">
            <img src="../img/seawall.png" alt="cee-thumbnail" class="image" style="width:75%">
            <div class="middle">
              <div class="caption">RENEWABLE CITY STRATEGY</div>
            </div>
          </div>
        </a>
      </section>

      <section class="fg3">
        <a href="http://sustainablecanadadialogues.ca/en/scd/energy" target="_blank">
          <div class="image-container">
            <img src="../img/signs.png" alt="cee-thumbnail" class="image" style="width:60%">
            <div class="middle">
              <div class="caption">RE-ENERGIZING CANADA: PATHWAYS TO A LOW CARBON FUTURE</div>
            </div>
          </div>
        </a>
      </section>


    </div>

  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}