{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <div class="row">
      <h1 style="color:black">
        See redevelopment examples modelled in various cities across BC
      </h1>
      <section class="fg12">
        <h3>These scenarios are designed to tell a story about what your community could be. These scenarios demonstrate
          ways to simulate energy and planning issues that may be relevant for your city or development site. Using powerful
          visualizations of alternative scenarios, users can see side-by-side comparisons of various energy options which
          engage your community in the conversation around renewable development and support decisionmaking.</h3>
      </section>
    </div>

    <div class="row">
      <section class="fg3">
        <h2>Modelled scenarios for redevelopments</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg4">
        <a href="/scenarios/scenario1" target="_blank">
          <div class="image-container">
            <img src="../img/richmond.png" alt="cee-thumbnail" class="image" style="width:100%">(Credit: CALP)
            <div class="middle">
              <div class="caption">REDEVELOPING A MALL RICHMOND, BC</div>
            </div>
          </div>
        </a>
      </section>
      <section class="fg4">
        <a href="/scenarios/scenario5#page1" target="_blank">
          <div class="image-container">
            <img src="../img/revelstoke.png" alt="cee-thumbnail" class="image" style="width:100%">(Credit: UBC elementslab)
            <div class="middle">
              <div class="caption">CLIMATE SMART, CLIMATE WISE REVELSTOKE BC</div>
            </div>
          </div>
        </a>
      </section>
    </div>

    <div class="row">

      <section class="fg3">
        <h2>Existing redevelopment projects</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="https://www.richmond.ca/sustainability/energysrvs/DistEnatCity.htm?PageMode=HTML" target="_blank">
          <div class="image-container">
            <img src="../img/geoexchange.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">VERTICAL GEOEXCHANGE SYSTEM</div>
            </div>
          </div>
        </a>
      </section>

      <section class="fg3">
        <a href="http://www.northerndevelopment.bc.ca/explore-our-region/success-stories/baldy-hughes-invests-in-a-community-bioenergy-heating-system/"
          target="_blank">
          <div class="image-container">
            <img src="../img/bioenergy.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">BIOENERGY COMMUNITY DISTRICT HEATING SYSTEM</div>
            </div>
          </div>
        </a>
      </section>

      <section class="fg3">
        <a href="http://www.docksidegreen.com" target="_blank">
          <div class="image-container">
            <img src="../img/condos.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <div class="caption">DOCKSIDE GREENS</div>

            </div>
          </div>
        </a>
      </section>

    </div>
  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}