{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <div class="row">
      <h1 style="color:black">
      See redevelopment examples modelled in various cities across BC
    </h1>
    <section class="fg12">
      <h3>These scenarios are designed to tell a story about what your community could be. These scenarios demonstrate ways to
        simulate energy and planning issues that may be relevant for your city or development site. Using powerful visualizations
        of alternative scenarios, users can see side-by-side comparisons of various energy options which engage your community
        in the conversation around renewable development and support decisionmaking.</h3>
    </section>
  </div>

  <div class="row">
    <section class="fg3">
      <h2>Modelled scenarios for redevelopments</h2>
    </section>
    <section class="fg1">
      <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
    </section>
    <section class="fg4">
      <div class="image-container">
        <img src="../img/richmond.png" alt="cee-thumbnail" class="image" style="width:100%">(Credit: CALP)
        <div class="middle">
          <a href="#">
            <div class="caption">REDEVELOPING A MALL RICHMOND, BC</div>
          </a>
        </div>
      </div>
    </section>
    <section class="fg4">
      <div class="image-container">
        <img src="../img/revelstoke.png" alt="cee-thumbnail" class="image" style="width:100%">(Credit: UBC elementslab)
        <div class="middle">
          <a href="#">
            <div class="caption">CLIMATE SMART, CLIMATE WISE REVELSTOKE BC</div>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">

    <section class="fg3">
      <h2>Existing redevelopment projects</h2>
    </section>
    <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
    <section class="fg3">
        <div class="image-container">
          <img src="../img/geoexchange.jpg" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">VERTICAL GEOEXCHANGE SYSTEM</div>
            </a>
          </div>
        </div>
      </section>

    <section class="fg3">
      <div class="image-container">
        <img src="../img/bioenergy.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="#">
            <div class="caption">BIOENERGY COMMUNITY DISTRICT
                HEATING SYSTEM</div>
          </a>
        </div>
      </div>
    </section>

    <section class="fg3">
      <div class="image-container">
        <img src="../img/condos.jpg" alt="cee-thumbnail" class="image" style="width:100%">
        <div class="middle">
          <a href="#">
            <div class="caption">DOCKSIDE GREENS</div>
          </a>
        </div>
      </div>
    </section>

  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}