{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">


  <h1 style="color:black">
    Visualize renewable energy potential for deep retrofits of buildings
  </h1>
  <section class="fg6">
    <div class="image">
      <h3>To reduce the carbon footprint of buildings, there are various low-carbon options for switching to renewable energy
        sources. The decision to diversify energy options and localize energy are key to more resilient buildings and neighbourhoods.
        Some common energy retrofits for homeowners include air-source heat pumps, solar, and geoexchange. Explore using
        the renewable maps to see the potential renewable availability of energy sources in each neighbourhood.
      </h3>
      <h1> </h1>
      <img src="../img/solar_map.png" alt="cee-thumbnail" class="image" style="width:100%">Renewable Energy Map of Metro Vancouver (Credit:
      Rory Tooke, PhD)
    </div>
  </section>

  <section class="fg6">
    <div class="row">
      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/calculator.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Math is fun</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg9">
        <h2>Energy potential calculation of a particular site</h2>
      </section>
    </div>

    <div class="row">
        <section class="fg3">
            <div class="ih-item circle effect1">
                <a href="#">
                  <div class="spinner"></div>
                  <div class="img"><img src="../img/plug.png" alt="img"></div>
                  <div class="info">
                    <div class="info-back">
                      <div class="middle">
                          <div class="caption">Impressed yet?</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </section>
        <section class="fg9">
          <h2>Other types of renewable energy layers</h2>
        </section>
      </div>

    <div class="row">
      <section class="fg9">
        <h2></h2>
      </section>
    </div>

  </section>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}