{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">

  <div class="row">
    <h1 style="color:black">
      Visualize existing energy use and carbon emissions for buildings
    </h1>
    <section class="fg12">
      <h3>All of our buildings use energy, in the form of electricity (mostly renewable hydro-electricity) and natural gas (mostly
        non-renewable fossil fuels). The energy use and GHG maps are useful to estimate which houses emit the most carbon
        and at what cost. Explore using the different maps to see the existing energy use and carbon emissions for your building.
        These can help see areas of heavier intensity and use, and identify what a community can do about it.</h3>
    </section>
  </div>

  <div class="row">
    <section class="fg4">
      <section class="fg4">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/calculator.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Math is fun</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg8">
        <h3>Energy demand calculation of a particular site or municipality</h3>
      </section>

    </section>

    <section class="fg8">
      <section class="fg5">
        <div class="image-container">
          Energy measurement of homes by energy use and relative building
          <img src="../img/map_red.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">ENERGY USE INTENSITY EMISSION</div>
            </a>
          </div>
        </div>
      </section>

      <section class="fg5">
        <div class="image-container">
          Annual energy use and the associated cost of energy for your home
          <img src="../img/map_1.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">ENERGY USE AND COST</div>
            </a>
          </div>
        </div>
      </section>
    </section>
  </div>

  <div class="row">
    <section class="fg4">
      <section class="fg4">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/plug.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Impressed yet?</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg8">
        <h3>Energy 101: Metro Vancouver’s energy consumption</h3>
      </section>
    </section>

    <section class="fg8">
      <section class="fg5">
        <div class="image-container">
            GHG measurement emissions of energy use in homes
          <img src="../img/map_green.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">GHG EMISSION</div>
            </a>
          </div>
        </div>
      </section>

      <section class="fg5">
        <div class="image-container">
            GHG measurement by energy use and relative building size of homes
          <img src="../img/map_blue.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">GHG INTENSITY</div>
            </a>
          </div>
        </div>
      </section>
    </section>
  </div>


</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}