{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <h1 style="color:black">
    Visualize redevelopment opportunities with renewable energy options
  </h1>
  <section class="fg6">

    <div class="image">
      <h3>Identifying the potential to source local and renewable energy options are important design opportunities in redevelopment,
        not only to save cost in the long run, but to shift to low-carbon and resilient energy options in the future. Whether
        that’s a district energy system, solar, geoexchange, or others, they all lead to one goal: reduce reliance on fossil
        fuels and meet city carbon-reduction targets. Every community has a different mix of renewable energy sources. See
 your community's renewable energy potential with the options below:</h3>
      <h1> </h1>
        <div class = "image-container">
        <a href="../maps/energy-maps" target="_blank">
            <figure>
                <img src="../img/solar_map.png" alt="cee-thumbnail" class="image" style="width:100%">
                <figurecaption>Renewable Energy Map of Metro Vancouver (Credit: Rory Tooke, PhD)</figurecaption>
            </figure>
        </a>
        </div>
    </div>
  </section>
  <h1> </h1>
  <section class="fg6">
    <div class="row">

        <section class="fg3">
        <div class="ih-item circle effect1">
            <a href="#">
              <div class="spinner"></div>
              <div class="img"><img src="../img/calculator.png" alt="img"></div>
              <div class="info">
                <div class="info-back">
                  <div class="middle">
                      <div class="caption">Math is fun</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </section>

      <section class="fg9">
        <h2>Energy potential calculation of a particular site</h2>
      </section>

    </div>

    <div class="row">

      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/layers_1.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Keep exploring</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>

      <section class="fg9">
        <h2>Other types of renewable energy layers</h2>
      </section>

    </div>

    <div class="row">
        
      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/plug.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Impressed yet?</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      
      <section class="fg9">
        <h2>Existing energy demand of a particular site</h2>
      </section>

    </div>

  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}
