{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">
  <div class="row">
    <h1 style="color:black">
      Find tools and resources to help get you started in your community
    </h1>
    <section class="fg12">
      <h3>Beginning a retrofit may not sound easy for homeowners. So after reviewing some of the information on on retrofit ideas
        for your home, have a conversation with your neighbours to share information and ideas. They may be in a similar
        situation. There are benefits to retrofit as a community over individually, where opportunities can include ideas
        like planting urban trees to provide heating and cooling, and connecting to a district energy system to share and
        reduce energy costs. These tools can assist in gaining access to resources and guiding your retrofit journey.</h3>
    </section>
  </div>

  <div class="row">
    <section class="fg4">
      <h2>Tools that can assist your work</h2>
    </section>
    <section class="fg1">
      <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
    </section>
    <section class="fg3">
      <a href="http://calp.forestry.ubc.ca/home/urban-forestry-toolkit/" target="_blank">
      <div class="image-container">
        <img src="../img/coolkit.png" alt="cee-thumbnail" class="image" style="width:75%">
        <div class="middle">
          <!--<a href="http://calp.forestry.ubc.ca/home/urban-forestry-toolkit/" target="_blank">-->
            <div class="caption">CITIZEN COOLKIT</div>
          <!--</a>-->
        </div>
      </div>
      </a>
    </section>

    <section class="fg3">
      <a href="http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx" target="_blank">
      <div class="image-container">
        <img src="../img/buildings.png" alt="cee-thumbnail" class="image" style="width:80%">
        <div class="middle">
          <!--<a href="http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx" target="_blank">-->
            <div class="caption">INCENTIVE PROGRAMS</div>
          <!--</a>-->
        </div>
      </div>
      </a>
    </section>


  </div>

  <div class="row">
    <section class="fg12">
      <section class="fg4">
        <h2>Resources to support your work</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg7">
        <a href="http://www.nrcan.gc.ca/energy/products/energuide/12523" target="_blank">
          <p>- Natural Resouce Canada Energy Guide</p>
        </a>

        <a href="https://www.bchydro.com/powersmart/residential/savings-and-rebates/current-rebatesbuy-backs/home-renovation-rebates.html?WT.mc_id=rd_homerebates" target="_blank">
          <p>- BC Hydro Home Renovation Rebates</p>
        </a>

        <a href="https://www.fortisbc.com/Rebates/RebatesOffers/HomeRenovationRebateProgram/Pages/default.aspx" target="_blank">
          <p>- Fortis BC Home Renovation</p>
        </a>

        <a href="http://vancouver.ca/home-property-development/grants-and-loans-for-energy-efficiency-improvements.aspx" target="_blank">
          <p>- City of Vancouver Incentives and Rebates</p>
        </a>

        <a href="http://www.energysavenewwest.ca/" target="_blank">
          <p>- Energy Save New West</p>
        </a>

        <a href="https://www.newwestcity.ca/services/environment-and-sustainability/urban-forest-management-strategy" target="_blank">
          <p>- New Westminster Urban Forestry Management Strategy</p>
        </a>

      </section>
    </section>
  </div>
  </section>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}