{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">


  <h1 style="color:black">
    Visualize how much energy could be potentially harnessed locally
  </h1>
  <section class="fg6">
    <div class="image">
      <h3>Some communities have major potential for rooftop solar (i.e. industrial areas), use of waste heat from sewage pipes
        or from other buildings, use of biomass residues, etc. Explore the renewable maps to see the potential for various
        renewable energy sources and think about policies and projects that would allow renewable energy to play a role in
        your community. As a community, look to see if your area has many overlaying renewable energy sources (energy hub)
        and calculate your estimated potential harness. See if the energy sources be suited to a centralized community energy
        plant or a distributed network (such as rooftop solar) in suburban areas. For more description of renewable energy
        types and issues, see Energy 101.
      </h3>
      <h1> </h1>
      <img src="../img/solar_map.png" alt="cee-thumbnail" class="image" style="width:100%">Energy Demand Map (Credit: Rory Tooke,
      PhD)
    </div>
  </section>

  <section class="fg6">
    <div class="row">
      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/calculator.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Math is fun</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg9">
        <h2>Energy potential calculation of a particular site</h2>
      </section>
    </div>

    <div class="row">
      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/layers_1.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Keep exploring</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg9">
        <h2>Other types of renewable energy layers</h2>
      </section>
    </div>

    <div class="row">
      <section class="fg3">
          <div class="ih-item circle effect1">
              <a href="#">
                <div class="spinner"></div>
                <div class="img"><img src="../img/renewable.png" alt="img"></div>
                <div class="info">
                  <div class="info-back">
                    <div class="middle">
                        <div class="caption">Impressed yet?</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
      </section>
      <section class="fg9">
        <h2>Energy 101: Renewable Energy Sources</h2>
      </section>

    </div>

  </section>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}