{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="page-container" style="margin-bottom:1500px">

  <h1>
    RENEWABLE ENERGY POLICIES
  </h1>
  <h2>
    Why Renewable Energy?
  </h2>
  <section class="fg4">
    <div class="image">
      <img src="../img/mall.png" alt="cee-thumbnail" class="image" style="width:100%">Image of Landsdowne Mall, Richmond, BC (Credit: xx)
      <h3> </h3>
      <h3>Renewable energy sources are becoming more widely used in cities across the world. They diversify and localize energy
        supply, emit little or no carbon into the atmosphere, and provide cost-saving to buildings. They are also less damaging
        to human health than fossil fuels. Regions, such as Metro Vancouver, have massive capacity to provide their own renewable
        energy within their own borders, but this potential is currently barely utilized. As cities continue to grow, we
        must look at local sources of heat, cooling, and electricity that are sustainable in the long-term. In developing
        new energy policies such as increased or 100% renewables targets (as in Vancouver and Victoria), it is important
        to consider what proportion of energy can come from the region and for each site, as is now required with new development
        in countries such as the UK.
      </h3>
    </div>
  </section>

  <section class="fg8">
    <div class="row">
      <section class="fg8">
        <h2>
          Energy Demand Map:
        </h2>
        <h3>
          • Exploring existing energy demand of a community
        </h3>
      </section>
      <section class="fg4">
        <div class="image-container">
          <img src="../img/map_1.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">Magic found here</div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:3%">
      </section>
    </div>
    <div class="row">
      <section class="fg8">
        <h2>
          Renewable Energy Potential Map:
        </h2>
        <h3>
          • Calculating renewable energy types and potentials of a community
        </h3>
      </section>
      <section class="fg4">
        <div class="image-container">
          <img src="../img/map_2.png" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">Best maps ever</div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="fg12">
        <img src="../img/arrow_down.png" alt="cee-thumbnail" style="width:3%">
      </section>
    </div>
    <div class="row">
      <section class="fg8">
        <h2>
          Tools, and Resources:
        </h2>
        <h3>
          • Real-world examples of renewable energy projects
        </h3>
        <h3>
          • Tools that can assist in the renewable energy strategy
        </h3>
        <h3>
          • Resources on renewable energy
        </h3>
      </section>
      <section class="fg4">
        <div class="image-container">
          <img src="../img/city_2.jpg" alt="cee-thumbnail" class="image" style="width:100%">
          <div class="middle">
            <a href="#">
              <div class="caption">What else would you need?!</div>
            </a>
          </div>
        </div>
      </section>
    </div>

  </section>

</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}