{% block title %} {% parent %} {% endblock %} {% block head %} {% parent %} {% endblock head %} {% block content %} {% parent
%}
<div class="section-14" style="margin-bottom:1500px">
  <div class="container-fluid custom-container-4">
    <div class="row">
      <h1 style="color:black">
        See retrofit scenarios modelled in various cities across BC
      </h1>
      <section class="fg12">
        <h3>As existing buildings continue to get older, building upgrades are an important consideration, especially with
          the changing climate that will increase summer heat waves. A lot of energy can be saved by bringing existing buildings
          up to new, more efficient standards, reducing long-term costs of energy use and the need to install air-conditioning
          for heating and cooling. Many individuals need to retrofit within a neighbourhood if a community is to reach addressing
          climate change.</h3>
      </section>
    </div>

    <div class="row">
      <section class="fg4">
        <h2>Modelled scenarios to understand retrofits potential</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="/scenarios/scenario3" target="_blank">
          <div class="image-container">
            <img src="../img/house.png" alt="cee-thumbnail" class="image" style="width:100%">(Credit: CALP)
            <div class="middle">
              <!--<a href="/scenarios/scenario3" target="_blank">-->
              <div class="caption">RETROFITTING SUBURBIA WEST VANCOUVER, BC</div>
              <!--</a>-->
            </div>
          </div>
        </a>
      </section>
      <section class="fg3">
        <a href="https://www.reibc.org/retrofit_challenge.html" target="_blank">
          <div class="image-container">
            <img src="../img/houses.png" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <!--<a href="https://www.reibc.org/retrofit_challenge.html" target="_blank">-->
              <div class="caption">RETROFIT CHALLENGE DELTA, BC </div>
              <!--</a>-->
            </div>
          </div>
        </a>
      </section>
    </div>

    <div class="row">

      <section class="fg4">
        <h2>Existing retrofit projects</h2>
      </section>
      <section class="fg1">
        <img src="../img/arrow_right.png" alt="cee-thumbnail" style="width:15%">
      </section>
      <section class="fg3">
        <a href="http://calp2016.sites.olt.ubc.ca/files/2016/05/Thermal-Imaging-Report_FINAL-Mar-2017.pdf" target="_blank">
          <div class="image-container">
            <img src="../img/thermal.png" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <!--<a href="http://calp2016.sites.olt.ubc.ca/files/2016/05/Thermal-Imaging-Report_FINAL-Mar-2017.pdf" target="_blank">-->
              <div class="caption">THERMAL IMAGING VANCOUVER, BC</div>
              <!--</a>-->
            </div>
          </div>
        </a>
      </section>

      <section class="fg3">
        <a href="http://web.forestry.ubc.ca/calp/CALP_CommunityEnergyGuide.pdf" target="_blank">
          <div class="image-container">
            <img src="../img/house_2.jpg" alt="cee-thumbnail" class="image" style="width:100%">
            <div class="middle">
              <!--<a href="http://web.forestry.ubc.ca/calp/CALP_CommunityEnergyGuide.pdf" target="_blank">-->
              <div class="caption">COMMUNITY RETROFIT EAGLE ISLAND, BC</div>
              <!--</a>-->
            </div>
          </div>
        </a>
      </section>


    </div>

  </div>
</div>
{% endblock content %} {% block scripts %} {% parent %} {% endblock scripts %}