/* line 190, ../sass/about.scss */
.aboutushero {
  min-height: 650px;
  padding-top: 65px;
  padding-bottom: 65px;
  background-image: url("/img/Mask-Group-92x.png");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* line 201, ../sass/about.scss */
.div-block-59 {
  position: absolute;
  z-index: 0;
  display: none;
  width: 65vw;
  min-height: 550px;
  float: left;
  background-color: #5f6374;
}

/* line 211, ../sass/about.scss */
.custom-container-10 {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* line 221, ../sass/about.scss */
.div-block-61 {
  display: block;
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 450px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  float: none;
  background-color: rgba(95, 99, 116, 0.85);
}

/* line 237, ../sass/about.scss */
.heading-27 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

/* line 245, ../sass/about.scss */
.paragraph-14 {
  display: inline-block;
  color: #fff;
  line-height: 35px;
  font-weight: 700;
}

/* line 252, ../sass/about.scss */
.image-36 {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 258, ../sass/about.scss */
.ourteam {
  min-height: 130px;
  padding-top: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5068e2), to(#5068e2));
  background-image: linear-gradient(180deg, #5068e2, #5068e2);
}

/* line 265, ../sass/about.scss */
.custom-container-6 {
  display: block;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* line 273, ../sass/about.scss */
.heading-24 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

/* line 283, ../sass/about.scss */
.image-34 {
  position: relative;
  top: 28px;
  z-index: 100;
  display: block;
  width: 55px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

/* line 294, ../sass/about.scss */
.div-block-55 {
  display: none;
  min-height: 590px;
  margin-top: 60px;
}

/* line 300, ../sass/about.scss */
.div-block-57 {
  display: block;
  width: 270px;
  min-height: 100px;
  margin-right: 160px;
  float: left;
}

/* line 308, ../sass/about.scss */
.heading-25 {
  margin-top: 0px;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
}

/* line 315, ../sass/about.scss */
.unordered-list {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  list-style-type: none;
}

/* line 324, ../sass/about.scss */
.div-block-56 {
  display: block;
  width: 270px;
  min-height: 100px;
  float: left;
}

/* line 331, ../sass/about.scss */
.heading-26 {
  margin-top: 10px;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
}

/* line 338, ../sass/about.scss */
.image-35 {
  position: relative;
  top: 28px;
  z-index: 100;
  display: none;
  width: 55px;
  margin-right: auto;
  margin-left: auto;
}

/* line 348, ../sass/about.scss */
.specialthanks {
  min-height: 550px;
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: #F4F4F4;
}

/* line 355, ../sass/about.scss */
.custom-container-5 {
  display: block;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 363, ../sass/about.scss */
.heading-21 {
  margin-top: 0px;
  margin-bottom: 65px;
  color: #3c3c3c;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
}

/* line 373, ../sass/about.scss */
.div-block-53 {
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

/* line 386, ../sass/about.scss */
.div-block-48 {
  display: block;
  width: 240px;
  height: 339px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid #707070;
  text-align: left;
}

/* line 397, ../sass/about.scss */
.div-block-50 {
  height: 65%;
}

/* line 401, ../sass/about.scss */
.div-block-51 {
  height: 65%;
}

/* line 405, ../sass/about.scss */
.div-block-52 {
  height: 65%;
}

/* line 409, ../sass/about.scss */
.div-block-49 {
  height: 35%;
  padding-top: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

/* line 416, ../sass/about.scss */
.heading-22 {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

/* line 425, ../sass/about.scss */
.heading-23 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

/* line 434, ../sass/about.scss */
.supported {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  /* line 439, ../sass/about.scss */
  .div-block-48 {
    margin-left: 0px;
    margin-right: 0px;
    float: left;
  }

  /* line 445, ../sass/about.scss */
  .leftmarginadjustment {
    margin-right: 30px;
  }

  /* line 449, ../sass/about.scss */
  .heading-26 {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  /* line 455, ../sass/about.scss */
  .div-block-59 {
    display: block;
  }

  /* line 459, ../sass/about.scss */
  .div-block-61 {
    padding-left: 0px;
    width: 65%;
    background-color: #5f6374;
  }
}
