/* line 136, ../sass/energy101.scss */
body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 24px;
}

/* line 143, ../sass/energy101.scss */
.section-11 {
  display: block;
  min-height: 600px;
  padding-top: 110px;
  background-image: url("/img/redesign/Group-8612x.png");
  background-position: 0px 0px;
  background-size: cover;
  margin-bottom: 35px;
}

/* line 153, ../sass/energy101.scss */
.custom-container-4 {
  display: block;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  font-family: Lato, sans-serif;
}

/* line 161, ../sass/energy101.scss */
.heading-18 {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
}

/* line 170, ../sass/energy101.scss */
.paragraph-10 {
  display: inline-block;
  width: 90%;
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
}

/* line 178, ../sass/energy101.scss */
.paragraph-12 {
  margin-bottom: 35px;
  font-size: 18px;
}

/* line 183, ../sass/energy101.scss */
.image-26 {
  display: block;
  margin-bottom: 35px;
}

/* line 188, ../sass/energy101.scss */
.heading-19 {
  margin-top: 35px;
  margin-bottom: 35px;
  color: #3c3c3c;
  font-weight: 400;
  line-height: 45px;
}

/* line 196, ../sass/energy101.scss */
#remove-heading-top-margin {
  margin-top: 0px;
}

/* line 200, ../sass/energy101.scss */
h1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

/* line 206, ../sass/energy101.scss */
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

/* line 218, ../sass/energy101.scss */
.w-button hover {
  text-decoration: none;
}

/* line 222, ../sass/energy101.scss */
.learnmore-button {
  width: 185px;
  height: 37px;
  font-size: 15px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #ef4646;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 31px;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 239, ../sass/energy101.scss */
.startexploring-button-adjustment {
  display: block;
  width: 185px;
}

/* line 244, ../sass/energy101.scss */
.learnmore-button:hover {
  color: #ffffff;
  background-color: #8c8c8c;
  text-decoration: none;
}

/* line 250, ../sass/energy101.scss */
.link-4 {
  width: 100%;
  min-height: 70px;
  margin-top: -1px;
  border: 1px solid #707070;
  background-color: #ffffff;
  color: #3c3c3c;
  font-size: 15px;
}

/* line 260, ../sass/energy101.scss */
.link-4:hover {
  background-color: #ef4646;
  color: #ffffff;
  text-decoration: none;
}

/* line 266, ../sass/energy101.scss */
.section-12 {
  min-height: 525px;
  background-image: none;
  padding-top: 30px;
}

/* line 271, ../sass/energy101.scss */
.section-14 {
  min-height: 400px;
  padding-top: 30px;
}

/* line 275, ../sass/energy101.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* line 281, ../sass/energy101.scss */
.image-27 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

.energy101-image1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  height: 400px;
  width: 700px;
}

.energy101-image2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  height: 376px;
  width: 700px;
}

/* line 288, ../sass/energy101.scss */
.cee-logo {
  width: 45px;
  height: 45px;
}

/* line 293, ../sass/energy101.scss */
.navbar-5 {
  background-color: #404040;
}

/* line 297, ../sass/energy101.scss */
.hero-section {
  display: inline-block;
  margin-bottom: 35px;
}

/* .section-divider{
  padding-top: 50px;
  padding-bottom: 50px;
} */
/* line 307, ../sass/energy101.scss */
.navbar-adjustment {
  background-color: #404040;
  margin-bottom: 0px;
  border: 0px;
  background-image: none;
}

/* line 314, ../sass/energy101.scss */
.secondary-navbar-adjustment {
  background-color: #404040;
  margin-bottom: 0px;
  border: 0px;
  z-index: 1;
  background-image: none;
  margin-top: 70px;
}

/* line 322, ../sass/energy101.scss */
.center-navbar-brand {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

/* line 327, ../sass/energy101.scss */
.navbar-height-adjustment {
  height: 70px;
}

/* line 331, ../sass/energy101.scss */
.secondary-navbar-height-adjustment {
  height: 75px;
}

/* line 335, ../sass/energy101.scss */
.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 339, ../sass/energy101.scss */
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

/* line 343, ../sass/energy101.scss */
.toggle-margin-adjustment {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 348, ../sass/energy101.scss */
.energy101-active {
  background-color: black;
}

/* line 352, ../sass/energy101.scss */
.last-section-bottom-margin-adjustment {
  margin-bottom: 50px;
}

/* line 356, ../sass/energy101.scss */
.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 362, ../sass/energy101.scss */
.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

/* Responsive breakpoint specified in Bootstrap 4 */
@media (min-width: 576px) {
  /* line 368, ../sass/energy101.scss */
  .heading-18 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  /* line 374, ../sass/energy101.scss */
  .heading-18 {
    font-size: 40px;
  }

  /* line 378, ../sass/energy101.scss */
  .caret {
    display: none;
  }
}
@media (min-width: 992px) {
  /* line 384, ../sass/energy101.scss */
  .paragraph-10 {
    width: 50%;
  }

  /* line 388, ../sass/energy101.scss */
  .navbar-link-height-adjustment {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  /* line 393, ../sass/energy101.scss */
  .secondary-navbar-link-height-adjustment {
    padding-top: 27.5px !important;
    padding-bottom: 27.5px !important;
  }

  /* line 398, ../sass/energy101.scss */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 404, ../sass/energy101.scss */
  .heading-19 {
    margin-top: 0px;
  }

  /* line 408, ../sass/energy101.scss */
  .image-27 {
    margin-top: 0px;
  }

  /* line 412, ../sass/energy101.scss */
  .section-11 {
    margin-bottom: 0px;
  }

  /* line 416, ../sass/energy101.scss */
  .section-divider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
