/* line 1, ../sass/fitgrd.pack.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 1, ../sass/fitgrd.pack.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, ../sass/fitgrd.pack.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
[hidden], template {
  display: none;
}

/* line 1, ../sass/fitgrd.pack.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, ../sass/fitgrd.pack.scss */
body {
  margin: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
a {
  background: transparent;
}

/* line 1, ../sass/fitgrd.pack.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, ../sass/fitgrd.pack.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, ../sass/fitgrd.pack.scss */
b, strong {
  font-weight: bold;
}

/* line 1, ../sass/fitgrd.pack.scss */
dfn {
  font-style: italic;
}

/* line 1, ../sass/fitgrd.pack.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, ../sass/fitgrd.pack.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, ../sass/fitgrd.pack.scss */
pre {
  white-space: pre-wrap;
}

/* line 1, ../sass/fitgrd.pack.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 1, ../sass/fitgrd.pack.scss */
small {
  font-size: 80%;
}

/* line 1, ../sass/fitgrd.pack.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, ../sass/fitgrd.pack.scss */
sup {
  top: -0.5em;
}

/* line 1, ../sass/fitgrd.pack.scss */
sub {
  bottom: -0.25em;
}

/* line 1, ../sass/fitgrd.pack.scss */
img {
  border: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, ../sass/fitgrd.pack.scss */
figure {
  margin: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 1, ../sass/fitgrd.pack.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/fitgrd.pack.scss */
button, select {
  text-transform: none;
}

/* line 1, ../sass/fitgrd.pack.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 1, ../sass/fitgrd.pack.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 1, ../sass/fitgrd.pack.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, ../sass/fitgrd.pack.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 1, ../sass/fitgrd.pack.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../sass/fitgrd.pack.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  vertical-align: top;
}

/* line 1, ../sass/fitgrd.pack.scss */
.center {
  max-width: 80em;
  margin: 0 auto;
  position: relative;
}

/* line 1, ../sass/fitgrd.pack.scss */
.row {
  margin: 0 .5em;
  padding: 2% 1em 0;
  overflow: hidden;
  height: 1%;
  *zoom: 1;
  min-height: 1%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.clearfix {
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg1, .fg2, .fg3, .fg4, .fg5, .fg6, .fg7, .fg8, .fg9, .fg10, .fg11, .fg12 {
  margin: 0 2% 0;
  padding: 0;
  float: left;
  position: relative;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg12 {
  width: 96%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg11 {
  width: 87.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg10 {
  width: 79.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg9 {
  width: 71%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg8 {
  width: 62.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg7 {
  width: 54.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg6 {
  width: 46%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg5 {
  width: 37.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg4 {
  width: 29.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg3 {
  width: 21%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg2 {
  width: 12.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg1 {
  width: 4.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push12 {
  margin-left: 100%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push11 {
  margin-left: 93.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push10 {
  margin-left: 85.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push9 {
  margin-left: 77%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push8 {
  margin-left: 68.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push7 {
  margin-left: 60.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push6 {
  margin-left: 52%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push5 {
  margin-left: 43.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push4 {
  margin-left: 35.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push3 {
  margin-left: 27%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push2 {
  margin-left: 18.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.push1 {
  margin-left: 10.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter {
  padding: 0 3.5%;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter > [class*="fg"] {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter img {
  max-width: 100%;
  max-height: 100%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg12 {
  width: 100%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg11 {
  width: 91.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg10 {
  width: 83.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg9 {
  width: 75%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg8 {
  width: 66.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg7 {
  width: 58.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg6 {
  width: 50%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg5 {
  width: 41.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg4 {
  width: 33.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg3 {
  width: 25%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg2 {
  width: 16.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .fg1 {
  width: 8.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push12 {
  margin-left: 100%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push11 {
  margin-left: 91.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push10 {
  margin-left: 83.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push9 {
  margin-left: 75%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push8 {
  margin-left: 66.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push7 {
  margin-left: 58.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push6 {
  margin-left: 50%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg12 .push5 {
  margin-left: 41.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push4 {
  margin-left: 33.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push3 {
  margin-left: 25%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push2 {
  margin-left: 16.66%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-gutter .push1 {
  margin-left: 8.33%;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-mobile {
  display: block !important;
}

/* line 1, ../sass/fitgrd.pack.scss */
.fg-no-desktop {
  display: none !important;
}

@media screen and (max-width: 36.5em) {
  /* line 1, ../sass/fitgrd.pack.scss */
  .row {
    padding: 0 1em;
    margin: 0;
  }

  /* line 1, ../sass/fitgrd.pack.scss */
  .fg1, .fg2 {
    width: 46%;
    margin-bottom: 1em;
  }

  /* line 1, ../sass/fitgrd.pack.scss */
  .fg3, .fg4, .fg5, .fg6, .fg7, .fg8, .fg9, .fg10, .fg11, .fg12 {
    margin: 0 2% 1em;
    padding: 0;
    width: 96%;
  }

  /* line 1, ../sass/fitgrd.pack.scss */
  .fg-no-gutter > [class*="fg"] {
    width: 50%;
  }

  /* line 1, ../sass/fitgrd.pack.scss */
  .fg-no-mobile {
    display: none !important;
  }

  /* line 1, ../sass/fitgrd.pack.scss */
  .fg-no-desktop {
    display: block !important;
  }
}
