/* line 136, ../sass/maps.scss */
.section-11 {
  background-image: url("/img/redesign/interactive-map-3.jpg");
}

.maps-image1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  height: 400px;
  width: 650px;
}

.maps-image2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  height: 400px;
  width: 650px;
}
