/* line 190, ../sass/resources.scss */
.left-panel {
  position: fixed;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 50%;
  height: 100vh;
  float: left;
  background-color: #383D52;
}

/* line 201, ../sass/resources.scss */
.column-adjustment-step-1 {
  padding-right: 80px;
  padding-left: 15px;
  padding-bottom: 55px;
  background-color: #383D52;
}

/* line 208, ../sass/resources.scss */
.right-panel-adjustment {
  padding-bottom: 100%;
  margin-bottom: -100%;
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #ffffff;
  float: left;
}

/* line 218, ../sass/resources.scss */
.container-adjustment-for-equal-column-heights {
  overflow: hidden;
}

/* line 222, ../sass/resources.scss */
.resource-tile {
  height: 280px;
  width: 200px;
  border: 1px solid #707070;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* line 231, ../sass/resources.scss */
.resource-tile-image {
  height: 190px;
  background-color: #69a7ff;
  overflow: hidden;
  background-image: url("/img/building.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* line 242, ../sass/resources.scss */
.resource-tile-header {
  height: 90px;
  overflow: hidden;
}

/* line 247, ../sass/resources.scss */
.resource-tile-heading {
  text-align: center;
  font-size: 15px;
  color: #404040;
  padding-left: 10px;
  padding-right: 10px;
}
